@model Insite.Admin.Models.ErrorModel

<div class="error-page text-center">
    <img class="error-page__logo" src="~/Images/insite_logo_larger.png" />

    <span class="error-page__title">@Model.Title</span>
    <p class="error-page__description">@Model.Description</p>

    <a class="button no-margin" href="/admin">Return to Homepage</a>
</div>