<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestOp" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.testpool" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.devpool" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev1" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev2" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev3" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev4" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev5" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wisdev" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wistest" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wisprod" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.ponderosa" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
  </configSections>

  <connectionStrings>
    <!--<add name="InSite.Commerce.local" connectionString="Server=.;Integrated Security=true;Initial Catalog=Insite.Morsco;" providerName="System.Data.SqlClient" />-->
    <add name="InSite.Commerce" connectionString="Server=.;Integrated Security=true;Initial Catalog=Insite.Morsco;" providerName="System.Data.SqlClient" />
    <!--<add name="InSite.Commerce" connectionString="Server=xc-morsco-01;User Id=ExpressPipeServiceuser;Password=P0nd3r0s4;Initial Catalog=Insite.Morsco;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
  <TestOp>
    <config
       runConfig="morsco.gl.dev1"
       paramPath="."
      />
  </TestOp>

  <morsco.gl.testpool>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="60000" />
    <connectionPool basePort="60100" />
    <logging logLevel="info" outputType="File" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.testpool>

  <morsco.gl.devpool>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60110" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.devpool>

  <morsco.gl.dev1>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60113" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev1>

  <morsco.gl.dev2>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60116" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev2>

  <morsco.gl.dev3>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60119" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev3>

  <morsco.gl.dev4>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60122" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev4>

  <morsco.gl.dev5>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60125" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev5>

  <morsco.gl.wisdev>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60128" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wisdev>

  <morsco.gl.wistest>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60128" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wistest>

  <morsco.gl.wisprod>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60128" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wisprod>

  <morsco.gl.ponderosa>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60131" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.ponderosa>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
