
// Switches

@function rem-calc($values, $base-value: null) {
  @if $base-value == null {
    $base-value: $base-font-size;
  }
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

@function convert-to-rem($value, $base-value: $base-font-size)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}


$flip-switch-width: rem-calc(70) !default;
$flip-switch-height: rem-calc(33.6) !default;

$flip-switch-background: white !default;
$flip-switch-color: $type !default;
$flip-switch-color-active: $brand !default;
$flip-switch-border: 1px solid $border-gray !default;

%flip-switch {
  display: inline-block;
  position: relative;
  margin: 0;
  vertical-align:middle;
  

  > input {
    position: absolute;
    left: -9999px;
    outline: none;

    & + label {
      margin-left: 0;
      margin-right: 0;
    }
  }

  > label {
    cursor: pointer;
    display: block;
    margin: 0;
    touch-action: manipulation;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .switch-inner {
    width: 200%;
    margin-left: -100%;
  }

  > input:checked + label .switch-inner {
    margin-left: 0;
  }

  .switch-on,
  .switch-off {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-family: $header-font-family;
    letter-spacing: .025em;
    text-align: center;
    width: 50%;

    .icon {
        font-size: 18px;
        vertical-align: -15%;
    }
  }

  .switch-on .icon { margin-left: 3.5px; }
  .switch-off .icon { margin-right: 3.5px; }
}

@mixin flip-switch-layout(
  $width: $flip-switch-width,
  $height: $flip-switch-height
) {
  width: $width;
  height: $height;

  .switch-on,
  .switch-off {
    line-height: $height;
    height: $height;
  }
}

@mixin flip-switch-style(
  $background: $flip-switch-background,
  $border: $flip-switch-border,
  $color: $flip-switch-color,
  $color-active: $flip-switch-color-active
) {
  border: $border;

  > label {
    background: $background;
    color: $color;
  }

  > input:checked + label {
    color: $color-active;
  }

  .switch-inner {
    transition: 0.15s ease;
  }
}

@mixin flip-switch() {
  @extend %flip-switch;
  @include flip-switch-layout();
  @include flip-switch-style();
}
