<?xml version="1.0"?>
<!--
  The theme config file should reside in the root folder for a given theme
  It needs to be named theme.config and is used to define settings for the 
  theme such as its parent theme name
  -->
<configuration>
  <configSections>
    <section name="themeConfig" type="System.Configuration.AppSettingsSection" requirePermission="false" />
  </configSections>
  <themeConfig>
    <add key="parentThemeName" value="Responsive" />
  </themeConfig>
</configuration>