@mixin border-radius($radius: 2px) {
	-webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius;
}

@mixin box-shadow($arguments) {
	-webkit-box-shadow: $arguments; -moz-box-shadow: $arguments; box-shadow: $arguments;
}

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha); -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha); box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin heightCalc($calc) {
    height: -webkit-calc(#{$calc}); height: -o-calc(#{$calc}); height: -moz-calc(#{$calc}); height: calc(#{$calc});
}

@mixin transition($arguments) {
  -webkit-transition: $arguments; -moz-transition: $arguments;  -ms-transition: $arguments; -o-transition: $arguments; transition: $arguments;
}