/* clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

#pageOverlay {
  position: absolute;
  z-index: 1001;
  zoom: 1;
  top: 0;
  left: 0;
  background-color: #888888;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)" !important;
  filter: alpha(opacity=60) !important;
  opacity: 0.6;
}

#loading {
  position: absolute;
  z-index: 1002;
  width: 200px;
  height: 80px;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #313131;
  border: solid #cccccc 1px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

#loading img {
  display: block;
  margin: 0 auto 10px;
  width: 32px;
  height: 32px;
}

@font-face {
  font-family: 'IcoMoon';
  src: url("fonts/IcoMoon.eot");
  src: url("fonts/IcoMoon.eot?#iefix") format("embedded-opentype"), url("fonts/IcoMoon.woff") format("woff"), url("fonts/IcoMoon.ttf") format("truetype"), url("fonts/IcoMoon.svg#IcoMoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'IcoMoon';
  font-weight: normal;
  text-transform: none;
}

.icon:hover {
  text-decoration: none;
}

.ui-sortable-placeholder {
  background-color: pink;
  height: 20px;
}

.cms-moveHandle,
.cms-saveMove,
.cms-cancelMove {
  display: none !important;
}

.cms-zone.cms-editMode {
  border: 1px dashed black;
  position: relative;
  min-height: 50px;
  margin-top: 40px;
}

.cms-zone .cms-zoneName {
  position: absolute;
  top: -20px;
  right: 0;
  border: 1px dashed black;
  padding: 0 3px;
  background-color: white;
}

.cms-zone .cms-contentItem {
  position: relative;
  min-height: 20px;
}

.cms-zone .cms-contentItem.cms-editMode {
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo {
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: -1px;
  padding: 0 3px;
  z-index: 10;
}

.cms-zone .cms-contentItem.cms-editMode.cms-unpublished {
  border: 1px solid #cccccc;
  border-color: #f7941d !important;
}

.cms-zone .cms-contentItem.cms-editMode.cms-unpublished .cms-contentItemInfo {
  background-color: #f7941d;
}

.cms-zone .cms-contentItem.cms-editMode.cms-mismatch {
  border-color: #EEB72F !important;
}

.cms-zone .cms-contentItem.cms-editMode.cms-mismatch .cms-contentItemInfo {
  background-color: #EEB72F;
}

.cms-zone .cms-contentItem.cms-editMode.cms-mismatch .cms-contentItemInfo:after {
  content: "\f06a";
  color: #EEB72F;
  font-family: 'GoodOatmealCMS';
  font-size: 16px;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 1;
}

.cms-rearrangeable.cms-rearrangingItems .cms-editLayout,
.cms-rearrangeable.cms-rearrangingItems .cms-addItem,
.cms-rearrangeable.cms-rearrangingItems .cms-editItem,
.cms-rearrangeable.cms-rearrangingItems .cms-moveItems,
.cms-rearrangeable.cms-rearrangingItems .cms-deleteItem {
  display: none;
}

.cms-rearrangeable.cms-rearrangingItems .cms-moveHandle {
  display: inline-block !important;
  cursor: move;
  position: absolute;
  left: -35px;
  top: -4px;
}

/* CMS v2 Styles */
/* Fira Sans */
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-italic-webfont.eot");
  src: url("fonts/FiraSans/firasans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-italic-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-italic-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-italic-webfont.svg#fira_sansitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-regular-webfont.eot");
  src: url("fonts/FiraSans/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-regular-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-regular-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-medium-webfont.eot");
  src: url("fonts/FiraSans/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-medium-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-medium-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-mediumitalic-webfont.eot");
  src: url("fonts/FiraSans/firasans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-mediumitalic-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-mediumitalic-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-mediumitalic-webfont.svg#fira_sansmedium_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-semibolditalic-webfont.eot");
  src: url("fonts/FiraSans/firasans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-semibolditalic-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-semibolditalic-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-semibolditalic-webfont.svg#fira_sanssemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-semibold-webfont.eot");
  src: url("fonts/FiraSans/firasans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-semibold-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-semibold-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-semibold-webfont.svg#fira_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-bolditalic-webfont.eot");
  src: url("fonts/FiraSans/firasans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-bolditalic-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-bolditalic-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-bolditalic-webfont.svg#fira_sansbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("fonts/FiraSans/firasans-bold-webfont.eot");
  src: url("fonts/FiraSans/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/firasans-bold-webfont.woff") format("woff"), url("fonts/FiraSans/firasans-bold-webfont.ttf") format("truetype"), url("fonts/FiraSans/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* Good Oatmeal CMS */
@font-face {
  font-family: 'GoodOatmealCMS';
  src: url("fonts/GoodOatmealCMS/GoodOatmealCMS.woff?-9olf9p") format("woff"), url("fonts/GoodOatmealCMS/GoodOatmealCMS.ttf?-9olf9p") format("truetype"), url("fonts/GoodOatmealCMS/GoodOatmealCMS.svg?-9olf9p#GoodOatmealCMS") format("svg");
  font-weight: normal;
  font-style: normal;
}
.goodoats,
.cms-zone .cms-addItem:before,
.cms-zone .cms-editItem:before,
.cms-zone .cms-deleteItem:before,
.cms-zone .cms-displayInfo:before,
.cms-rearrangeable.cms-cms-rearrangingItems .cms-moveHandle:before,
.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop .cms-closeInfo:before {
  font-family: 'GoodOatmealCMS';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-zone .cms-addItem,
.cms-zone .cms-editItem,
.cms-zone .cms-deleteItem,
.cms-zone .cms-displayInfo,
.cms-rearrangeable.cms-rearrangeable .cms-moveHandle {
  font-size: 0;
  display: inline-block;
  height: 27px;
  width: 21px;
  text-align: center;
  padding-top: 4px;
  float: right;
  text-decoration: none !important;
}

.cms-zone.cms-editMode,
.cms-zone .cms-contentItem.cms-editMode {
  margin-top: 29px;
}

.cms-zone .cms-zoneName {
  height: 27px;
  padding: 0 .25em 0 .75em;
  background: #0072bc;
  border: 0 !important;
  color: #fff;
  font-family: 'Fira Sans';
  font-size: 11px;
  font-weight: normal;
  line-height: 27px;
  right: -2px;
  top: -28px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cms-zone .cms-zoneName em,
.cms-zone .cms-contentItemInfo em {
  margin-right: .5em;
}

.cms-zone.cms-editMode {
  border: 2px solid #0072bc;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo {
  height: 27px;
  background: #0072bc;
  border: 0 !important;
  color: #fff;
  font-family: 'Fira Sans';
  font-size: 11px;
  font-weight: normal;
  line-height: 27px;
  right: -1px;
  top: -27px;
  z-index: 999;
  padding: 0 70px 0 .75em;
  max-width: 100%;
}

.cms-zone .cms-contentItemInfo > em {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.cms-zone .cms-contentItemInfo a.cms-displayInfo {
  position: absolute;
  top: 0;
  right: 0;
}

.cms-zone .cms-contentItemInfo a.cms-deleteItem {
  position: absolute;
  top: 0;
  right: 22px;
}

.cms-zone .cms-contentItemInfo a.cms-editItem {
  position: absolute;
  top: 0;
  right: 44px;
}

.cms-zone .cms-contentItem.cms-editMode {
  border: 1px solid #0072bc !important;
}

.cms-zone .cms-contentItem.cms-editMode.cms-unpublished:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cms-zone .columns {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.cms-rearrangeable.cms-rearrangingItems .cms-zone div.cms-contentItem.cms-editMode {
  border-style: dashed !important;
}

/* Bar Icons */
.cms-zone .cms-addItem:before,
.cms-zone .cms-editItem:before,
.cms-zone .cms-deleteItem:before,
.cms-zone .cms-displayInfo:before,
.cms-rearrangeable.cms-rearrangingItems .cms-moveHandle:before {
  font-size: 16px;
  background: none;
  color: #fff;
  padding: 1px 2px;
  position: relative;
  z-index: 1;
}

.cms-zone .cms-addItem:before {
  content: "\f055";
}

.cms-zone .cms-editItem:before {
  content: "\f044";
}

.cms-zone .cms-deleteItem:before {
  content: "\e600";
}

.cms-zone .cms-displayInfo:before {
  content: "\f05a";
}

.cms-rearrangeable.cms-rearrangingItems .cms-moveHandle:before {
  content: "\f047";
  font-family: 'GoodOatmealCMS';
  font-size: 14px;
  color: #0072bc;
}

/* Info Tooltip */
.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo .cms-infoPop {
  display: none;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop {
  display: block;
  position: absolute;
  right: 0;
  bottom: 100%;
  border: 1px solid #fff;
  background-color: #efefef;
  padding: 0.5em 32px 0.25em 1em;
  width: 320px;
  z-index: 100;
  color: #575757;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

/* Push tooltips down */
.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop.pushDown {
  bottom: auto;
  top: 0;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop .cms-closeInfo {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background: #0072bc;
  color: #fff;
  font-size: 0;
  width: 22px;
  height: 22px;
  text-align: center;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop .cms-closeInfo:before {
  content: "\e600";
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop .info-col-1 {
  width: 48%;
  float: left;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop .info-col-2 {
  width: 48%;
  float: right;
}

.cms-zone .cms-contentItem.cms-editMode .cms-contentItemInfo.cms-showInfoPop .cms-infoPop p {
  margin-bottom: 0.5em;
  font-size: 11px;
  line-height: 1.4em;
}

/*# sourceMappingURL=cms-incontext.css.map */
