<div ng-controller="ChangePasswordController as changePasswordCtrl">
    <form name="changePasswordCtrl.changeUserCredentialsForm" novalidate>
        <div class="grid-block vertical">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <a zf-close="" class="close-button right"><i class="icon icon-close"></i></a>
            </div>
            <div class="modal-content grid-block form-content">
                <div class="medium-8 grid-block medium-up-1 alternate-form">
                    <div class="grid-block  ">
                        <div class="medium-4 grid-content">
                            <label><b>Current Password</b></label>
                        </div>
                        <div class="medium-8 grid-content">
                            <span class="formitem" ng-class="{'fi-invalid': changePasswordCtrl.isCurrentPasswordCorrect === false, 'fi-valid': changePasswordCtrl.isCurrentPasswordCorrect}">
                                <input type="password" placeholder="" name="currentPassword" ng-model="changePasswordCtrl.currentPassword" required>
                                <span class="formitem-error">Incorrect password</span>
                            </span>
                        </div>
                    </div>
                    <div class="grid-block ">
                        <div class="medium-4 grid-content">
                            <label><b>New Password</b></label>
                        </div>
                        <div class="medium-8 grid-content">
                            <span class="formitem" ng-class="{'fi-invalid': changePasswordCtrl.isNewPasswordValid === false, 'fi-valid': changePasswordCtrl.isNewPasswordValid}">
                                <input type="password" placeholder="" name="newPassword" ng-model="changePasswordCtrl.newPassword" required>
                                <span class="formitem-error">Does not meet requirements</span>
                            </span>
                        </div>
                    </div>
                    <div class="grid-block">
                        <div class="medium-4 grid-content">
                            <label><b>Retype New Password</b></label>
                        </div>
                        <div class="medium-8 grid-content">
                            <span class="formitem" ng-class="{'fi-invalid': changePasswordCtrl.isRetypePasswordMatch === false, 'fi-valid': changePasswordCtrl.isRetypePasswordMatch}">
                                <input type="password" placeholder="" name="retypePassword" ng-model="changePasswordCtrl.retypePassword" required>
                                <span class="formitem-error">Does not match new password</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="medium-4 grid-block border">
                    <div class="grid-content">
                        <p><strong>Requirements</strong></p>
                        <ul class="checklist">
                            <li ng-class="{'passed': changePasswordCtrl.isMinLengthPassed}">At least {{changePasswordCtrl.minLength}} characters</li>
                            <li ng-show="changePasswordCtrl.minDigits > 0" ng-class="{'passed': changePasswordCtrl.isMinDigitsPassed}">At least {{changePasswordCtrl.minDigits}} digit</li>
                            <li ng-show="changePasswordCtrl.minSpecials > 0" ng-class="{'passed': changePasswordCtrl.isMinSpecialsPassed}">At least {{changePasswordCtrl.minSpecials}} special character (example: $ & # ! @@)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="button float-right" value="Change Password" ng-click="changePasswordCtrl.changeCredentials()" ng-disabled="!changePasswordCtrl.changeUserCredentialsForm.$valid" />
                <a zf-close class="button secondary float-right">Cancel</a>
            </div>
        </div>
    </form>
</div>
