<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="InSite.Commerce" connectionString="Server=MSCWVESQLT01;Integrated Security=true;Initial Catalog=Insite.morsco;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	<add name="MorscoEmailService" connectionString="metadata=res://*/EmailService.EmailServiceModel.csdl|res://*/EmailService.EmailServiceModel.ssdl|res://*/EmailService.EmailServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSCWVESQLT01;initial catalog=Insite.Morsco.EmailService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	<add name="MorscoEmailServiceDatabase" connectionString="metadata=res://*/EmailService.MorscoEmailServiceDatabase.csdl|res://*/EmailService.MorscoEmailServiceDatabase.ssdl|res://*/EmailService.MorscoEmailServiceDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSCWVESQLT01;initial catalog=insite.morsco.emailservice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>