<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestOp" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.testpool" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.devpool" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev1" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev2" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev3" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev4" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.dev5" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wisdev" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wistest" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.wisprod" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
    <section name="morsco.gl.ponderosa" type="Ponderosa.CSharp.FlexibleConfiguration, U2Mv" />
  </configSections>

  <connectionStrings>
    <add name="InSite.Commerce" connectionString="Server=.;User Id=sa;Password=XCentium2011!;Initial Catalog=ETL_ECommerce;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="OrderHeaderFileName" value="C:\ETL\EclipseOrderRefresh\EclipseOrderHeader.txt" />
    <add key="OrderDetailFileName" value="C:\ETL\EclipseOrderRefresh\EclipseOrderDetail.txt" />
    <add key="ErrorLogFileName" value="C:\ETL\EclipseOrderRefresh\Log\ErrorLog.txt" />
    <!--<add key="ChangedOrdersToGet" value="Changed" />-->
    <add key="ChangedOrdersToGet" value="InOpenInvoicePeriod" />
    <add key="FlowCount" value="100" />
  </appSettings>

  <TestOp>
    <config runConfig="morsco.gl.dev4" paramPath="." />
  </TestOp>

  <morsco.gl.testpool>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="60000" />
    <connectionPool basePort="60100" />
    <logging logLevel="info" outputType="File" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.testpool>

  <morsco.gl.devpool>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60110" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.devpool>

  <morsco.gl.dev1>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60113" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev1>

  <morsco.gl.dev2>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60116" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev2>

  <morsco.gl.dev3>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60119" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev3>

  <morsco.gl.dev4>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60122" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev4>

  <morsco.gl.dev5>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60125" disablePooling="Yes" maxConnections="3" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.dev5>

  <morsco.gl.wisdev>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60128" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wisdev>

  <morsco.gl.wistest>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60129" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wistest>

  <morsco.gl.wisprod>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60130" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.wisprod>

  <morsco.gl.ponderosa>
    <connection host="10.255.225.251" user="weblogin" password="e99vyUHa1m0Q" timeout="30000" />
    <connectionPool basePort="60131" disablePooling="Yes" maxConnections="1" />
    <logging logLevel="debug" outputType="Console" includeDateTime="No" messageClassName="Simple" includeThreadName="True" />
  </morsco.gl.ponderosa>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
