@using System.ServiceModel.Channels
@using Insite.Data.Entities;
@using Insite.Core.Context
@if (SiteContext.Current.UserProfile != null)
{
	<div class="recos top-products" ng-show="vm.topProductsList.length > 0">
    
		<header>
			<h4>@T("Top Selling Products")</h4>
			<span class="paging-info"></span>
		</header>
		<div class="slick-it">
			<div ng-repeat="product in vm.topProductsList">
				<isc-morsco-product-grid product="product"></isc-morsco-product-grid>
			</div>
		</div>
	</div>
}