@*
    usage example: 
    <isc-product-thumb product="wishListLine"></isc-product-thumb>
*@
<div>
    <a ng-href="{{product.productUri}}">
        <img ng-src="{{product.smallImagePath}}" alt="{{product.altText}}" />
    </a>
</div>