<ul class="attribute-list">
    <li ng-if="attributeTypes" class="attribute-list-item" ng-repeat="attributeType in attributeTypes | orderBy : ['sortOrder','label'] | limitTo: (maximumNumber || 100)">
        <div ng-if="attributeType.sortOrder >= 0">
            <span class="attrib-name">{{attributeType.label}}:</span>
            <span class="attrib-value">
                <isc-no-element ng-repeat="attributeValue in attributeType.attributeValues | orderBy  : ['sortOrder','valueDisplay']">{{attributeValue.valueDisplay}}{{$last ? '' : ', '}}</isc-no-element>
            </span>
        </div>
    </li>
</ul>
