<div class="title-bar"><span class="title">Import Users - Job #808 </span>&nbsp;<i>Started: 4/18/2015  1:15 PM EST</i></div>
<div class="small-12 medium-8 grid-content ng-scope form-content">
    <div class="grid-block row  border descrbox form-content">
        <div class="grid-content ">
            <p class="text-center">Form field help text on asynchronous process, leaving page and how to check in on progress.</p>
        </div>
    </div>
    <br />
    <div class="grid-block vertical import-status">
        <div class="grid-block row  border">
            <div class="title-bar ng-scope">
                <div class="left title"><i class="icon icon-refresh rotate" title="icon-check"></i> Validating row 300 of 10,000</div>
                <div class="left title" style="display:none;">Import Complete: Errors Found</div>
                <div class="left title" style="display:none;">Import Canceled at row 1,300 of 10,000</div>
                <div class="left title" style="display:none;">Import Complete</div>
                <div class="left title" style="display:none;"><i>No errors found.</i></div>
            </div>
            <div class="grid-block import-details">
                <div class="grid-content">
                    <p>5 rows have errors.</p>
                    <p>No errors found.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="grid-block vertical border import-msg errors">
            <div class="title-bar ng-scope">
                <div class="left title"><i class="icon icon-warning" title="icon-warning"></i>300 rows have errors.</div>
            </div>
            <div class="grid-block row">
                <div class="grid-content form-content">
                    <p>Please download the file below to review and fix errors.</p>
                    <a class="button" href="javascript:void(0);">Download File With Errors</a>
                </div>
            </div>
        </div>
        <br />
        <div class="grid-block vertical border import-msg complete">
            <div class="title-bar ng-scope">
                <div class="left title"><i class="icon icon-check" title="icon-check"></i><span>9,700</span> Users imported.</div>
            </div>
            <div class="grid-block row">
                <div class="grid-content form-content">
                    <dl class="inline">
                        <dt>New:</dt>
                        <dd>8,500</dd>
                        <dt>Updated:</dt>
                        <dd>1,500</dd>
                    </dl>
                    <a class="button tertiary">Download Original File</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <span class="right">
        <a class="button   float-right " href="javascript:void(0);">Cancel Import</a><a class="button  float-right tertiary">Return to Users</a><a class="button  float-right tertiary">View All Jobs</a>
    </span>
</div>

