.dashboard {
    max-width: 1024px;
    margin: 42px auto;
    padding: 0 42px;
}



.dashboard-quicklink {
    border: solid 1px $border-gray;
    padding: 10px 15px;
    margin: 10px;
}
.dashboard-quicklink__link:hover {
    cursor: pointer;
    border-color: #262626;
}
.dashboard-quicklink__title {
    font-size: 1.6rem;
}
.dashboard-quicklink__image {
    background-image: url('/images/home-sprites.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.dashboard-quicklink__image--cms {
    background-position: -70px 0;
}
.dashboard-quicklink__image--websites {
    background-position: -70px -70px;
}
.dashboard-quicklink__image--import-export {
    background-position: 0 -70px;
}
.dashboard-quicklink__image--products {
    background-position: 0 -140px;
}
.dashboard-quicklink__image--promotions {
    background-position: -70px -140px;
}
.dashboard-quicklink__image--customers {
    background-position: 0 -210px;
}
.dashboard-quicklink__image--users {
    background-position: -70px -210px;
}
.dashboard-quicklink__links {
    margin-left: -5px;

    a {
        margin: 0 5px;
    }
}



.dashboard-section {
    border: solid 1px $border-gray;
    margin: 10px;
}
.dashboard-section__header {
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: solid 1px $border-gray;
    padding: 15px 35px;
    white-space: nowrap;
    overflow: hidden;
}
.dashboard-section__header--support {
    background-image: url('/Images/home-header1.png');
    height: 101px;
}
.dashboard-section__header--blog {
    background-image: url('/Images/home-header2.png');
    height: 88px;
}
.dashboard-section__title {
    font-size: 1.6rem;
}
.dashboard-section__content {
    padding: 30px;
}
.dashboard-section__image {
    background-image: url('/images/home-sprites.png');
    background-repeat: no-repeat;
    margin-right: 80px;
}
.dashboard-section__image--support {
    background-position: -140px 0;
    width: 218px;
    height: 203px;
}
.dashboard-section__image--blog {
    background-position: -362px -32px;
    width: 218px;
    height: 153px;
}



#contentEditorModal {

    h5 {
        padding-left: 15px;
        line-height: 43px;
        margin: 0;
    }

    .websites-list {
        width: 100%;
        overflow-y: auto;
    }

    .fixed-table-container {
        .table {
            tr {
                &:hover {
                    background-color: initial;
                }
            }

            td {
                border-color: transparent;
                border-bottom: solid 1px $border-gray;
                font-weight: 600;
                padding: .2rem 0;

                &.column-edit {
                    padding: 0;
                    width: 37px;

                    .button-icon {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

#importExportModal {

    .importExport__label {
        font-family: "Proxima Nova Condensed", Arial, sans-serif;
        font-weight: bold;
        margin: 15px 0;
        display: block;
    }

    .optionslist {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        display: block;
        margin: 20px 0;
    }

    input[type].inline {
        margin: 0;
    }

    input[type="radio"] + label {
           margin-left: 0.2rem;
          vertical-align: text-bottom;
    }
}
