#searchIndexing {
    .status-col {
        width: 50%;

        .current-status {
            padding: 1.2rem 0 1.5rem 0;
            font-size: 1.25rem;
            font-weight: bold;

            &.failure { color: $error; }
            &.success { color: $success; }
            &.inprogress { color: $warning; }

            .icon { margin-right: .4rem; }
        }

        .status-label{
            font-weight: bold;
        }
    }
}

#searchCategoryProductSorting{
    margin: 1.5rem;
}
