@using Insite.Data.Entities;

@model Morsco.Customizations.Lib.Widgets.MorscoRegistrationConfirmation

<div>

    <div class="row">

        <div class="medium-7 columns">

            <isc-registration-confirmation-view></isc-registration-confirmation-view>

        </div>

    </div>

</div>
