<div id="filterContentManagers" class="grid-block">
    <label>Only Show Content Waiting to be Published</label>
    <div class="flip-switch">
        <input string-to-boolean type="checkbox" ng-model="vm.filterByPendingChanges" id="filter-content-managers"/>
        <label for="filter-content-managers">
            <div class="switch-inner">
                <span class="switch-on"><i class="icon icon-check-circle"></i> Yes</span>
                <span class="switch-off">No <i class="icon icon-check-circle"></i></span>
            </div>
        </label>
    </div>
</div>