@using Insite.Core
@using Insite.Core.Context
@using Insite.WebFramework.Mvc.Extensions
@model Insite.Rfq.Content.RfqMyQuotesPage

@if (SiteContext.Current.UserProfile.Salespersons.Count > 0)
{
    @section BodyClass {  ma-my-quotes ma-sales  }
}
else
{
    @section BodyClass { ma-my-quotes }
}
@section Styles
{
    @Html.RequireCss(Url.ThemedContent("/Styles/template/ma-my-quotes.css"))
    @Html.RequireCss("/Scripts/libraries/zurb-responsive-tables/0.0.0/responsive-tables.css")
}

@Html.RequireScript("/Scripts/libraries/zurb-responsive-tables/0.0.0/responsive-tables.js")

<div class="row main-row">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>

