@using Insite.WebFramework.Mvc.Extensions
@model Insite.Cart.Content.ReviewAndPayPage

@section BodyClass { checkout-review-pay }
@section Styles
{
    @Html.RequireCss(Url.ThemedContent("/Styles/template/checkout-review-pay.css"))
}

@* TODO @Html.ThemedPartial("_PersonalizationJs", Model, new ViewDataDictionary{ {"PageName", "ReviewAndPay"} })*@

<div class="row main-row">
    @Html.Zone(Model, "Content")
</div>