<div>
    <h3 ng-if="workflow.services.length > 1" ng-cloak>
        {{ workflow.services.length }} services registered for this module.
    </h3>
    <h3 ng-if="workflow.services.length == 1">
        1 service registered for this module.
    </h3>
    @*
        TODO integrate with link to Metrics?
        <ul class="accordion" data-accordion style="margin-left: -15px;">
            <li class="accordion-navigation">
                <a href="#panel1a">Metrics</a>
                <div id="panel1a" class="content" ng-repeat="metric in metrics track by $index">
                    <h5 class="subheader" ng-bind-html="metric.message"></h5>
                    <div class="subheader" ng-repeat="(key, value) in metric.results track by $index" ng-cloak>
                        {{key}} {{ value }}
                    </div>
                </div>
            </li>
        </ul>*@
    <!-- content here :) -->
    <div class="row">
        <fieldset class="enforcement-level-set">
            <div ng-repeat="service in workflow.services">
                <h2 ng-bind="service.serviceName"></h2>
                <div class="results-count" style="margin-bottom: 20px;">
                    <span ng-bind="service.handlers.length"></span> handlers found for this service.
                </div>

                <div id="showServiceResult" class="popup-requisition reveal-modal" data-reveal data-options="close_on_background_click: false;" data-reveal-init>
                    @*@Html.Partial("_ServiceResult");*@
                    <div class="modal-wrap">

                        <h3>@T("{{ currentService }}"):</h3>
                        <pre>
                        <span ng-bind-html="selectedItem"></span>
                            </pre>
                        <div class="btns">
                            <a href="javascript:void(0);" class="btn primary btn-done" onclick="javascript: $('#serviceResult').click(); return false;" id="closeServiceResult">@T("Done")</a>
                        </div>
                    </div>

                    <a id="closeServiceResult" class="close-reveal-modal">&#215;</a>
                </div>

                <span data-tooltip aria-haspopup="true" class="view-req has-tip tip-top medium-4" style="margin: 20px; width: 150px;" title="This button will execute a GET request for this service." ng-repeat="item in jsonItems">
                    <a class="btn secondary btn-view-requisitions" ng-click="getServiceResults(service.serviceName, $index);"
                       href="javascript:void(0);" id="serviceResult" ng-cloak>@T("{{ item.buttonText }}")</a>
                </span>
                <div style="margin-top: 15px;">&nbsp;</div>
                <div data-alert class="alert-box warning round" ng-if="service.handlers.length < 1" style="width:400px;font-weight:bold;font-size:16px;padding-left:30px;" ng-cloak>
                    This service contains no active handlers.
                    <a href="#" class="close">&times;</a>
                </div>
                <div class="medium-6 large-5 columns" ng-repeat="handler in service.handlers">
                    <ul class="pricing-table">
                        <li class="title" ng-bind="handler.name"></li>
                        <li class="price" ng-bind="handler.dependencyOrder"></li>
                        <li class="bullet-item break-word" ng-bind-html="handler.parameterName"></li>
                        <li class="bullet-item break-word" ng-bind-html="handler.resultsName"></li>
                    </ul>
                </div><br />

            </div>
        </fieldset>
    </div>
</div>


