@model LinkList
<div class="widget-linklist clearfix @(Model.Direction == "Horizontal" ? "list-horizontal" : "list-vertical")">
    <ul>
        @foreach (var pageKey in Model.Pages)
        {
            var getPageResult = Content.GetPage<AbstractPage>(pageKey);
            if (getPageResult.Page != null && !getPageResult.Page.IsRetracted && getPageResult.DisplayLink)
            {
                <li><a class="cms-linklist-linkitem" href="@GenerateUrl(getPageResult.Page)">@getPageResult.Page.Title</a></li>
            }
        }        
    </ul>
</div>