@model string
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <iframe src="@Html.Raw(Model)" style="width:1100px; height: 1000px;"></iframe>
    </div>
</body>
</html>