@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.UserAdministration.UserSetupShipToPage

@section BodyClass { ma-assign-edit-shipto }
@section Styles
{
    @Html.RequireCss(Url.ThemedContent("/Styles/template/ma-assign-edit-shipto.css"))
    @(Html.RequireCss("/Scripts/libraries/zurb-responsive-tables/0.0.0/responsive-tables.css"))
}

@(Html.RequireScript("/Scripts/libraries/zurb-responsive-tables/0.0.0/responsive-tables.js"))

<div class="row main-row">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>