@{
    Layout = "/Areas/ContentAdmin/Views/Shared/_ModalLayout.cshtml";
}

@section Header { Warning }

<p>The system will log you out in 3 minutes.</p>
<div class="buttonArea">
    <button class="simplemodal-close cms-close cms-button" type="button">Close</button>
    <button class="cms-button cms-actionButton" type="button">Keep me logged in</button>
</div>
