USE [ETL_Ecommerce]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateETLWarehouse]    Script Date: 8/5/2016 11:52:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateETLWarehouse]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_PopulateETLWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateETLWarehouse]    Script Date: 8/5/2016 11:52:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateETLWarehouse]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[sp_PopulateETLWarehouse]
(
	@ETLSourceID VARCHAR(50),
	@UserName VARCHAR(50)
)
AS
--*****************************************************************************************************************
-- Name:	[sp_PopulateETLWarehouse]
-- Descr:	Executes all the warehouse data related stored procedures in ETL Database for the data population
-- Created:	7/24/2015 Venkatesan PS XCentium
-- Altered:
-- Test With: exec [sp_PopulateETLWarehouse] ''EXP'', ''ServiceUser''
--*****************************************************************************************************************
BEGIN
		SET NOCOUNT ON;

		SET XACT_ABORT ON;

		DECLARE @CountryID UNIQUEIDENTIFIER = (SELECT Id FROM [Insite.Morsco].dbo.Country C WHERE C.ISOCode3 = ''USA'')

		TRUNCATE TABLE [dbo].[Warehouse];

		;WITH DupeBranch AS
		(
			   SELECT 
					  Row_Number() OVER (PARTITION BY BranchId ORDER BY ExportDate DESC) RowNumber,
					  *
			   FROM DM_ECommerce..Branch (NOLOCK) 
			   WHERE EtlSourceId = @ETLSourceID 
			     AND StockingBranch = ''1''
		)
		INSERT INTO [dbo].[Warehouse]
			([Id]
			,[Name]
			,[Description]
			,[Address1]
			,[Address2]
			,[City]
			,[State]
			,[PostalCode]
			,[ContactName]
			,[Phone]
			,[ShipSite]
			,[DeactivateOn]
			,[IsDefault]
			,[CountryId]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy])
		SELECT 
			NEWID() Id
			,[dbo].[fn_InitialCap](Name) + ''('' + BranchID + '')''
			,[dbo].[fn_InitialCap](Name) [Description]
			,ISNULL([Address1],'''')
			,ISNULL([Address2],'''')
			,ISNULL([City],'''')
			,ISNULL([State],'''')
			,ISNULL(Zip,'''') [PostalCode]
			,ISNULL([BranchManager],'''') ContactName
			,ISNULL([PhoneNumber],'''') Phone
			,ISNULL(BranchId,'''') ShipSite
			,CASE WHEN [StockingBranch] = 1 THEN NULL ELSE GETDATE() END [DeactivateOn]
			,0 [IsDefaul]
			,@CountryId CountryId
			,GETDATE() CreatedOn
			,@UserName CreatedBy
			,Getdate() ModifiedOn
			,@UserName ModifiedBy
		FROM DupeBranch 
		WHERE Rownumber = 1

		--Update the existing Ids from Insite DB
		Update EWH Set EWH.Id = IWH.id 
		  from Warehouse EWH 
	INNER JOIN [Insite.Morsco]..Warehouse IWH (NOLOCK) 
		    ON EWH.Name = IWH.Name

	/***********************************************************************************************************************

	************************************************************************************************************************/
		DELETE SH FROM ShipVia SH
		JOIN [Insite.Morsco]..CARRIER C ON C.Id = SH.CarrierId
		WHERE C.Description IN (''Deliver'',''Will Call'');

		INSERT INTO [dbo].[ShipVia]
			([Id]
			,[CarrierId]
			,[ShipCode]
			,[Description]
			,[ActivateOn]
			,[DeactivateOn]
			,[Enable]
			,[ErpShipCode]
			,[ChargeAmount]
			,[FlatFee]
			,[MinimumFee]
			,[IsDefault]
			,[AllowScheduledShipDate]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy])
		SELECT NEWID() AS ID
			,C.Id CarrierId
			,B.BranchId ShipCode
			,[dbo].[fn_InitialCap](B.Name) as Description
			,Getdate() ActivateOn
			,NULL DeactivateOn
			,1 Enable
			,B.BranchId ERPShipCode 
			,0.00 CHargeAmount
			,0.00 FlatFee
			,0.00 MinimumFee 
			,0 IsDefault
			,1 AllowScheduledShipDate
			,Getdate() CreatedOn
			,@UserName CreatedBy
			,Getdate() ModifiedOn
			,@UserName ModifiedBy
	    FROM DM_ECommerce..Branch B (NOLOCK)
		CROSS JOIN [Insite.Morsco]..Carrier C (NOLOCK)
	    WHERE B.ETLSourceID = @ETLSourceID 
			AND C.Description IN (''Will Call'')
			AND B.StockingBranch = ''1''

		--Prefixing ShipCode with ''0'' to avoid duplicate ShipCode between Will Call and Deliver carrier methods
		INSERT INTO [dbo].[ShipVia]
			([Id]
			,[CarrierId]
			,[ShipCode]
			,[Description]
			,[ActivateOn]
			,[DeactivateOn]
			,[Enable]
			,[ErpShipCode]
			,[ChargeAmount]
			,[FlatFee]
			,[MinimumFee]
			,[IsDefault]
			,[AllowScheduledShipDate]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy])
		SELECT NEWID() AS ID
			,C.Id CarrierId
			,''0'' + B.BranchId ShipCode
			,[dbo].[fn_InitialCap](B.Name) as Description
			,Getdate() ActivateOn
			,NULL DeactivateOn
			,1 Enable
			,B.BranchId ERPShipCode 
			,0.00 CHargeAmount
			,0.00 FlatFee
			,0.00 MinimumFee 
			,0 IsDefault
			,1 AllowScheduledShipDate
			,Getdate() CreatedOn
			,@UserName CreatedBy
			,Getdate() ModifiedOn
			,@UserName ModifiedBy
	    FROM DM_ECommerce..Branch B (NOLOCK)
		CROSS JOIN [Insite.Morsco]..Carrier C (NOLOCK)
	    WHERE B.ETLSourceID = @ETLSourceID 
			AND C.Description IN (''Deliver'')
			AND B.StockingBranch = ''1''

		--*********************************************************************************************************
		-- UPdate the existing Ids
		--*********************************************************************************************************
		--Update the existing Ids from Insite DB
		Update ESV Set ESV.Id = ISV.id
		FROM ShipVia ESV 
		INNER JOIN [Insite.Morsco]..ShipVia ISV (NOLOCK) ON ESV.CarrierId = ISV.CarrierId 
												AND ESV.ShipCode = ISV.ShipCode --AND ESV.Description = ISV.Description

			-- Creating custom properties for the Opco Territory field 
	--*******************************************************************************************************************
	--TRUNCATE THE EXISTING RECORDS FOR Warehouse Opco Territory CUSTOMER PROPERTY
	DELETE FROM [dbo].[CustomProperty]
	WHERE Name = ''OpcoTerritory'' 
		AND ParentTable = ''WareHouse'';

	; WITH DesiredTerritory AS
	(
	 SELECT DISTINCT WSC.Value TerritoryID
	 FROM [Insite.Morsco]..WebSiteConfiguration wsc
	 --JOIN [Insite.Morsco]..CustomProperty CP on CP.ParentID = WSC.ID
	 WHERE wsc.Name = ''MSC_OpcoTerritory''
	)
	INSERT INTO [dbo].[CustomProperty]
				([Id]
				,[ParentId]
				,[Name]
				,[Value]
				,[CreatedOn]
				,[CreatedBy]
				,[ModifiedOn]
				,[ModifiedBy],
				ParentTable)
	SELECT 
		NEWID() Id
		, W.Id -- ParentId
		, ''OpcoTerritory'' --Name
		, max(isnull(T.TerritoryID,'''')) --Value
		, GetDate() CreatedOn
		, @UserName CreatedBy
		, GetDate() ModifiedOn
		, @UserName ModifiedBy
		, ''Warehouse'' --ParentTable
	FROM dm_ecommerce..branch b
	JOIN dm_ecommerce..territory t ON b.etlsourceid = t.etlsourceid 
						AND b.BranchID = t.BranchID
	JOIN DesiredTerritory DT ON DT.TerritoryID = T.TerritoryID
	JOIN Warehouse W ON w.shipsite = b.branchid
	GROUP BY B.BranchID,  W.Id

	--Create Manager Sales Person Id Custom Property for the warehouse
	DELETE FROM [dbo].[CustomProperty]
	WHERE Name = ''ManagerSalesPersonId'' 
		AND ParentTable = ''WareHouse'';

	INSERT INTO [dbo].[CustomProperty]
				([Id]
				,[ParentId]
				,[Name]
				,[Value]
				,[CreatedOn]
				,[CreatedBy]
				,[ModifiedOn]
				,[ModifiedBy],
				ParentTable)
	SELECT 
		NEWID() --Id
		,W.Id --ParentId
		,''ManagerSalesPersonId'' --Name
		,MAX(ISNULL(ContactName,'''')) --Value
		, GetDate() --CreatedOn
		, @UserName --CreatedBy
		, GetDate() --ModifiedOn
		, @UserName --ModifiedBy
		, ''Warehouse''
	FROM Warehouse W
	JOIN [Insite.Morsco]..Salesperson SP ON SP.Name = W.ContactName
	GROUP BY W.Id

END





' 
END
GO
