USE [ETL_ECommerce]
GO

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

ALTER TABLE dbo.OrderHeaderLog ADD CONSTRAINT
	PK_OrderHeaderLog_1 PRIMARY KEY CLUSTERED 
	(
	Id,
	ActivityInstanceId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.OrderHeaderLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
/****** Object:  Table [dbo].[OrderHeaderLog]    Script Date: 8/2/2016 8:01:48 AM ******/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX [IX_OrderHeaderLog] ON [dbo].[OrderHeaderLog]
(
	[ActivityInstanceId] ASC,
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.OrderHeaderLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX [IX_OrderHeaderLog_1] ON [dbo].[OrderHeaderLog]
(
	[ActivityInstanceId] ASC,
	[Id] ASC,
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.OrderHeaderLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
GO

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.OrderDetailLog ADD CONSTRAINT
	PK_OrderDetailLog PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.OrderDetailLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX IX_OrderDetailLog ON dbo.OrderDetailLog
	(
	OrderHeaderId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.OrderDetailLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

/****** Object:  StoredProcedure [dbo].[sp_UpdateOrdersFromActivityInstance]    Script Date: 8/5/2016 11:57:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_UpdateOrdersFromActivityInstance]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_UpdateOrdersFromActivityInstance]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrdersFromActivityInstance]    Script Date: 8/5/2016 11:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_UpdateOrdersFromActivityInstance]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[sp_UpdateOrdersFromActivityInstance] (@ActivityInstanceID UniqueIdentifier)
AS
BEGIN
	SET NOCOUNT ON

	--Get the User Profile Id for the user name System Generated
	DECLARE @UserProfileId UNIQUEIDENTIFIER;
	DECLARE @UserName varchar(50) = ''SystemGenerated'' ;
	DECLARE @SentinelDate DATETIME2 = ''1900-01-01'';

	SELECT TOP 1 @UserProfileId = [Id]
	FROM [Insite.Morsco].[dbo].[UserProfile]
	WHERE UserName = @UserName;

	------------------------------------------------------------------------------------------------------------------------------------
	-- Update insite-initiated quotes that were updated on Eclipse
	------------------------------------------------------------------------------------------------------------------------------------
	---- Simplify coding by listing the quotes we''re updating
	DECLARE @QuotesToUpdate TABLE (Id UNIQUEIDENTIFIER, ERPOrderNumber VARCHAR(20))
	INSERT @QuotesToUpdate
	SELECT OH.ID, OH.OrderNo
	FROM vw_OrderHeaderLog OH (NOLOCK)
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.[OrderNo]
	WHERE OH.ActivityInstanceId = @ActivityInstanceID
		AND OH.OrderStatus = ''B'' 
		AND OH.QuoteStatus IN  (''WEB EDIT'',''WEB VIEW'')
		AND CO.Type = ''Quote'' 
		AND CO.Status IN (''QuoteRequested'', ''QuoteProposed'')

	--Update the CustomerOrder row for Quotes that were updated.
	--NOTE: This assumes there is only 1 generation at the point of update -- Client (Mike P) agreed this is true
	UPDATE CO
	SET 
		Status = ''QuoteProposed'',
		Notes = OH.InternalNotes + '' '' + OH.LastUpdateComment,
		Shipping = OH.Freight,
		Handling = OH.Handling, 
		StateTax = CAST(OH.Tax as decimal(10,5)) + CAST(OH.FET as decimal(10,5)) , 
		DiscountAmount = OH.DiscAmt, 
		QuoteExpirationDate = OH.BidExpireDate,
		CustomerPO = OH.CustomerPO,
		TermsCode = OH.Terms,
		RequestedShipDate = OH.RequireDate,
		STCompanyName = OH.ShipTo,
		InitiatedByUserProfileId = @UserProfileId,
		ModifiedBy = @UserName,
		ModifiedOn = GETDATE()
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo;


	--SalesRep CustomProperty alter/insert
	UPDATE CP
	SET Value = OH.SalesPerson,
		ModifiedOn = GETDATE(),
		ModifiedBy = OH.SalesPerson,
		ParentTable = ''CustomerOrder''
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.ID
	                                                    AND CP.Name = ''SalesRep''
	
	INSERT [Insite.Morsco]..CustomProperty(ParentId, Name, Value, CreatedOn, CreatedBy, ModifiedOn, ModifiedBy,ParentTable)
	SELECT CO.ID, ''SalesRep'', OH.SalesPerson, GETDATE(), OH.SalesPerson, GETDATE(), OH.SalesPerson, ''CustomerOrder''
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	LEFT JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.ID
		                                                AND CP.Name = ''SalesRep''
	WHERE CP.ParentId IS NULL
	

	--IsEditable alter/insert
	UPDATE CP
	SET Value = ''true'',
		ModifiedOn = GETDATE(),
		ModifiedBy = OH.SalesPerson,
		ParentTable = ''CustomerOrder''
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.ID
	                                                    AND CP.Name = ''IsEditable''
	WHERE OH.QuoteStatus = ''WEB EDIT''
	
	INSERT [Insite.Morsco]..CustomProperty(ParentId, Name, Value, CreatedOn, CreatedBy, ModifiedOn, ModifiedBy,ParentTable)
	SELECT CO.ID, ''IsEditable'', ''true'', GETDATE(), OH.SalesPerson, GETDATE(), OH.SalesPerson,''CustomerOrder''
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	LEFT JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.ID
		                                                AND CP.Name = ''IsEditable''
	WHERE OH.QuoteStatus = ''WEB EDIT''
	AND CP.ParentId IS NULL


	-- Completely replace order lines
    DELETE OL 
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	JOIN [Insite.Morsco]..OrderLine OL (NOLOCK) ON OL.CustomerOrderId = CO.ID

	INSERT INTO [Insite.Morsco]..OrderLine
    (
		CustomerOrderId,
        ProductId,
        WebSiteId,
        Status,
        Line,
        Release,
        Description,
        Notes,
        QtyOrdered,
        RegularPrice,
        ActualPrice,
        UnitOfMeasure,
        QtyShipped,
        TaxCode1,
        TaxCode2,
        DueDate,
        PromiseDate,
        ShipSite,
        ShipDate,
        DiscountAmount,
        DiscountPercent,
        IsPromotionItem,
        PromotionResultId,
        CustomerPOLine,
        CostCode,
        AdditionalCharges,
        TaxAmount,
        LineGrandTotal,
        WarehouseId,
        CreatedOn,
        CreatedBy,
        ModifiedOn,
        ModifiedBy
	)
    SELECT 
        CO.Id CustomerOrderId,
        P.ID,
        CO.WebSiteId WebSiteId,
        '''' Status,
        LineItemID Line,
        ItemReleaseNo Release,
        Description,
        '''' Notes,
        D.OrderQty QtyOrdered,
        D.UnitPrice,
        D.UnitPrice,
        D.SellUnit UnitOfMeasure,
        D.ShipQty,
        '''' TaxCode1,
        '''' TaxCode2,
        NULL DueDate,
        NULL PromiseDate,
        '''' ShipSite,
        NULL ShipDate,
        0.00 DiscountAmount,
        0.00 DiscountPercent,
        0 IsPromotionItem,
        NULL PromotionResultId,
        '''' CustomerPOLine,
        '''' CostCode,
        0.00 AdditionalCharges,
        0.00 TaxAmount,
        0.00 LineGrandTotal,
        NULL WarehouseId,
        GETDATE() CreatedOn,
        OH.SalesPerson CreatedBy,
        GETDATE() ModifiedOn,
        OH.SalesPerson ModifiedBy
	FROM @QuotesToUpdate Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	JOIN etl_ecommerce.dbo.vw_OrderDetailLog D ON D.OrderHeaderID = OH.ID
	JOIN [Insite.Morsco]..Product P (NOLOCK) ON P.ERPNumber = D.ProductID
	WHERE ItemCode = ''P''

	------------------------------------------------------------------------------------------------------------------------------------------
	-- FOR New Quotes created in Eclipse which needs to be inserted to the Customer Order Table
	------------------------------------------------------------------------------------------------------------------------------------------
	-- Simplify coding by listing the quotes to update that must be inserted
	-- These were created in Eclipse, not the Web
	DECLARE @QuotesToInsert TABLE (Id UNIQUEIDENTIFIER, ERPOrderNumber VARCHAR(20),InvoiceNo VARCHAR(20)  
							,InvoiceDate Datetimeoffset(7), Generation VARCHAR(5)
							,GenerationRow int, GenerationCount int
							,ERPOrderNumberWGen  varchar(20))
	INSERT @QuotesToInsert
	SELECT OH.ID, OH.OrderNo,OH.InvoiceNo, DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OH.InvoiceDate), OH.Generation,
			ROW_NUMBER() OVER(PARTITION BY OH.OrderNo order by CAST(Generation AS INT)) AS "GenerationRow", 
			COUNT(OH.OrderNo) OVER(PARTITION BY OH.OrderNo) AS "GenerationCount",
			COALESCE(NULLIF(OH.InvoiceNo,''''),OH.OrderNo + ''.'' + RIGHT(''0000'' + CAST(ISNULL(OH.Generation,''0'') AS VARCHAR(4)),4)) 
	FROM vw_OrderHeaderLog OH
	JOIN [Insite.Morsco]..Customer C ON C.CustomerNumber = OH.BillToID AND (C.CustomerSequence = OH.ShipToID OR C.CustomerNumber = OH.ShipToID)
	LEFT JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.[OrderNo]
	WHERE OH.ActivityInstanceId = @ActivityInstanceID
		AND OH.OrderStatus = ''B'' 
		AND OH.QuoteStatus IN  (''WEB EDIT'',''WEB VIEW'')
		AND CO.ERPOrderNumber IS NULL

	-----------------------------------------------------------------------------------------------------------------------
	-- Order
	-----------------------------------------------------------------------------------------------------------------------
	;WITH SummarizedOrder0 AS
	(
		SELECT 
			OH.Id,
			OH.OrderNo,
			-- Going to do Ship Code if all generations are the same.  Otherwise Multiple(3)
			ISNULL(MAX(OH.ShipVia), '''') MaxShipVia,
			ISNULL(SUM(OH.[Freight]), 0) Shipping,
			ISNULL(SUM(OH.[Handling]), 0) Handling,
			ISNULL(SUM(OH.DiscAmt), 0) TotalDiscount,
			ISNULL(SUM(OH.Tax), 0) TotalTax,
			ISNULL(SUM(OH.Total), 0) OrderTotalAmount
		FROM @QuotesToInsert Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		GROUP BY OH.Id, OH.OrderNo
	)
	
	INSERT INTO [Insite.Morsco].dbo.CustomerOrder
    (
		CustomerId
        ,ShipToId
        ,WebSiteId
        ,Type
        ,Status
        ,OrderNumber
        ,OrderDate
        ,CustomerPO
        ,TermsCode
        ,ShipCode
        ,TaxCode1
        ,TaxCode2
        ,ShipEarly
        ,ShipPartial
        ,Notes
        ,Shipping
        ,Handling
        ,StateTax
        ,LocalTax
        ,CustomerNumber
        ,CustomerSequence
        ,BTCompanyName
        ,BTFirstName
        ,BTMiddleName
        ,BTLastName
        ,BTPhone
        ,BTAddress1
        ,BTAddress2
        ,BTAddress3
        ,BTAddress4
        ,BTCity
        ,BTState
        ,BTPostalCode
        ,BTCountry
        ,BTEmail
        ,STCompanyName
        ,STFirstName
        ,STMiddleName
        ,STLastName
        ,STPhone
        ,STAddress1
        ,STAddress2
        ,STAddress3
        ,STAddress4
        ,STCity
        ,STState
        ,STPostalCode
        ,STCountry
        ,STEmail
        ,PlacedByUserName
        ,AffiliateId
        ,Residential
        ,InsideDelivery
        ,DiscountAmount
        ,DiscountPercent
        ,CollectAccountNumber
        ,ShipmentQuoteNumber
        ,CustomerReference1
        ,CustomerReference2
        ,ShipViaId
        ,DropShipCustomerId
        ,RequestedShipDate
        ,Buyer
        ,BatchNumber
        ,SubscriptionId
        ,VerificationSentOn
        ,ERPOrderNumber
        ,InitiatedByUserProfileId
        ,ApproverUserProfileId
        ,ApproverMessage
        ,CurrencyId
        ,ConversionRate
        ,QuoteExpirationDate
        ,QuotedByUserProfileId
        ,SalespersonId
        ,DefaultWarehouseId
        ,LanguageId
        ,RecalculatePromotions
        ,RecalculateTax
        ,CreatedOn
        ,CreatedBy
        ,ModifiedOn
        ,ModifiedBy
        ,RecalculateShipping
        ,ShippingCalculationNeededAsOf
        ,PlacedByUserProfileId)
     SELECT distinct
           BT.Id		-- CustomerId 
           ,C.Id	-- ShipToId
           ,C.WebsiteId		-- WebSiteId
           ,''Quote''			-- Type
           ,''QuoteProposed''	-- Status
           ,OHL.OrderNo		-- OrderNumber
           ,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OHL.[OrderDate]) [OrderDate]	-- OrderDate
           ,OHL.CustomerPO	-- CustomerPO
           ,OHL.Terms		-- TermsCode
           ,OHL.ShipBranch	-- ShipCode
           ,''''				-- TaxCode1
           ,''''				-- TaxCode2
           ,''0''				-- ShipEarly
           ,''0''				-- ShipPartial
           ,OHL.ShippingInstr -- Notes
           ,SO.Shipping		-- Shipping
           ,SO.Handling	-- Handling
           ,SO.TotalTax			-- StateTax
           ,0.00			-- LocalTaxOrder
           ,OHL.BillToID	-- CustomerNumber
           ,OHL.ShipToId	-- CustomerSequence
           ,OHL.BillTo		-- BTCompanyName
           ,BT.FirstName	-- BTFirstName
           ,BT.MiddleName	-- BTMiddleName
           ,BT.LastName		-- BTLastName
           ,BT.Phone		-- BTPhone
           ,BT.Address1		-- BTAddress1
           ,BT.Address2		-- Bt.Address2
           ,BT.Address3		-- BTAddress3
           ,BT.Address4		-- BTAddress4
           ,BT.City			-- BTCity
           ,BT.State		-- BTState
           ,BT.PostalCode	-- BTPostalCode
           ,BT.Country		-- BTCountry
           ,BT.Email		-- BTEmail
           ,OHL.ShipTo		-- STCompanyName
		   ,C.FirstName		-- STFirstName
           ,C.MiddleName	-- STMiddleName
           ,C.LastName		-- STLastName
           ,C.Phone			-- STPhone
           ,C.Address1		-- STAddress1
           ,C.Address2		-- ST.Address2
           ,C.Address3		-- STAddress3
           ,C.Address4		-- STAddress4
           ,C.City			-- STCity
           ,C.State			-- STState
           ,C.PostalCode	-- STPostalCode
           ,C.Country		-- STCountry
           ,C.Email			-- STEmail
           ,OHL.OrderBy		-- PlacedByUserName
           ,NULL			-- AffiliateId
           ,0				-- Residential
           ,0				-- InsideDelivery
           ,SO.TotalDiscount -- DiscountAmount
           ,0.00			-- DiscountPercent
           ,''''				-- CollectAccountNumber
           ,''''				-- ShipmentQuoteNumber
           ,''''				-- CustomerReference1
           ,''''				-- CustomerReference2
           ,SV.ID			-- ShipViaId
           ,NULL			-- DropShipCustomerId
           ,OHL.RequireDate -- RequestedShipDate
           ,''''				-- Buyer
           ,0				-- BatchNumber
           ,NULL			-- SubscriptionId
           ,NULL			-- VerificationSentOn
           ,OHL.OrderNo		-- ERPOrderNumber
           ,@UserProfileId	-- InitiatedByUserProfileId
           ,NULL			-- ApproverUserProfileId
           ,''''			-- ApproverMessage
           ,BT.CurrencyID	-- CurrencyId
           ,0				-- ConversionRate
           ,OHL.BidExpireDate -- QuoteExpirationDate
           ,NULL			-- QuotedByUserProfileId
           ,NULL			-- SalespersonId
           ,NULL			-- DefaultWarehouseId
           ,NULL			-- LanguageId
           ,0				-- RecalculatePromotions
           ,0				-- RecalculateTax
           ,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OHL.[OrderDate]) 	-- CreatedOn
           ,@UserName		-- CreatedBy
           ,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OHL.[OrderDate]) 	-- ModifiedOn
           ,@UserName		-- ModifiedBy
           ,0				-- RecalculateShipping
           ,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OHL.OrderDate)	-- ShippingCalculationNeededAsOf
           ,@UserProfileId	-- PlacedByUserProfileId
		FROM @QuotesToInsert QI
		JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
								AND OHL.ID = QI.Id 
								AND OHL.OrderNo = QI.ERPOrderNumber
								AND OHL.Generation = QI.Generation
		JOIN SummarizedOrder0 SO ON SO.Id = QI.Id
		JOIN Customer C (NOLOCK) ON C.CustomerNumber = OHL.BillToID
		                AND (C.CustomerSequence = OHL.ShipToID 
							OR C.CustomerSequence = '''' AND OHL.ShipToID = OHL.BillToID)
		JOIN Customer BT (NOLOCK) on BT.CustomerNumber = OHL.BillToID
		                AND BT.CustomerSequence = ''''
		LEFT JOIN ETLTranslation E ON E.TargetValue = OHL.ShipVia 
							AND E.TranslationType = ''ShipViaToCarrierName''
		JOIN [Insite.Morsco]..Carrier CR ON CR.Name = ISNULL(E.TranslatedValue, ''Deliver'')
		LEFT JOIN [Insite.Morsco]..ShipVia SV ON CR.Id = SV.CarrierId AND SV.ErpShipCode = OHL.ShipBranch 
		WHERE QI.GenerationRow = 1

		-----------------------------------------------------------------------------------------------------------------------
		-- OrderLine
		-----------------------------------------------------------------------------------------------------------------------
		INSERT INTO [Insite.Morsco].dbo.OrderLine
			   (CustomerOrderId
			   ,ProductId
			   ,WebSiteId
			   ,Status
			   ,Line
			   ,Release
			   ,Description
			   ,Notes
			   ,QtyOrdered
			   ,RegularPrice
			   ,ActualPrice
			   ,UnitOfMeasure
			   ,QtyShipped
			   ,TaxCode1
			   ,TaxCode2
			   ,DueDate
			   ,PromiseDate
			   ,ShipSite
			   ,ShipDate
			   ,DiscountAmount
			   ,DiscountPercent
			   ,IsPromotionItem
			   ,PromotionResultId
			   ,CustomerPOLine
			   ,CostCode
			   ,AdditionalCharges
			   ,TaxAmount
			   ,LineGrandTotal
			   ,WarehouseId
			   ,CreatedOn
			   ,CreatedBy
			   ,ModifiedOn
			   ,ModifiedBy)
		 SELECT 
			CO.Id CustomerOrderId,
			P.ID,
			MAX(CO.WebSiteId) WebSiteId,
			'''' Status,
			LineItemID Line,
			MAX(ItemReleaseNo) Release,
			MAX(Description),
			'''' Notes,
			SUM(D.OrderQty) QtyOrdered,
			MAX(D.UnitPrice),
			MAX(D.UnitPrice),
			MAX(D.SellUnit) UnitOfMeasure,
			SUM(D.ShipQty),
			'''' TaxCode1,
			'''' TaxCode2,
			NULL DueDate,
			NULL PromiseDate,
			'''' ShipSite,
			NULL ShipDate,
			0.00 DiscountAmount,
			0.00 DiscountPercent,
			0 IsPromotionItem,
			NULL PromotionResultId,
			'''' CustomerPOLine,
			'''' CostCode,
			0.00 AdditionalCharges,
			0.00 TaxAmount,
			0.00 LineGrandTotal,
			NULL WarehouseId,
			GETDATE() CreatedOn,
			MAX(H.SalesPerson) CreatedBy,
			GETDATE() ModifiedOn,
			MAX(H.SalesPerson) ModifiedBy
		FROM @QuotesToInsert Q
		JOIN vw_OrderHeaderLog H ON Q.Id = H.Id
								 AND Q.ERPOrderNumber = H.OrderNo
								 AND Q.Generation = H.Generation
		JOIN vw_OrderDetailLog D ON D.OrderHeaderId = H.Id
		JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = H.OrderNo
		JOIN Customer C (NOLOCK) ON C.CustomerNumber = H.BillToID
							AND (C.CustomerSequence = H.ShipToID 
								OR C.CustomerSequence = '''' AND H.ShipToID = H.BillToID)
		LEFT JOIN [Insite.Morsco]..Product P ON P.ERPNumber = D.ProductID
		GROUP BY D.OrderNo, P.Id, D.LineItemID, CO.ID

	-----------------------------------------------------------------------------------------------------------------------
	-- Customproperties for Order
	-----------------------------------------------------------------------------------------------------------------------

	-- OrderFromEclipse (SHIPTO company)
	INSERT INTO [Insite.Morsco]..CustomProperty
           (ParentId
           ,Name
           ,Value
           ,CreatedOn
           ,CreatedBy
           ,ModifiedOn
           ,ModifiedBy
           ,ParentTable)
     SELECT
           CO.ID -- ParentId
           ,''OriginatedInEclipse'' -- Name
           ,''true''    -- Value
           ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''CustomerOrder'' -- ParentTable
	FROM @QuotesToInsert QI
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
							AND OHL.ID = QI.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ErpOrderNumber = OHL.OrderNo
	GROUP BY CO.ID

	-- CompanyName (SHIPTO company)
	INSERT INTO [Insite.Morsco]..CustomProperty
           (ParentId
           ,Name
           ,Value
           ,CreatedOn
           ,CreatedBy
           ,ModifiedOn
           ,ModifiedBy
           ,ParentTable)
     SELECT
           CO.ID -- ParentId
           ,''CompanyName'' -- Name
           ,MAX(OHL.ShipTo)    -- Value
           ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''CustomerOrder'' -- ParentTable
	FROM @QuotesToInsert QI
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
							AND OHL.ID = QI.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ErpOrderNumber = OHL.OrderNo
	GROUP BY CO.ID
	
	-- CustomerSequence
	INSERT INTO [Insite.Morsco]..CustomProperty
           (ParentId
           ,Name
           ,Value
           ,CreatedOn
           ,CreatedBy
           ,ModifiedOn
           ,ModifiedBy
           ,ParentTable)
     SELECT
           CO.ID -- ParentId
           ,''CustomerSequence'' -- Name
           ,MAX(OHL.ShipToID)    -- Value
           ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''CustomerOrder'' -- ParentTable
	FROM @QuotesToInsert QI
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
							AND OHL.ID = QI.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ErpOrderNumber = OHL.OrderNo
	GROUP BY CO.ID
	-- OrderedBy
	INSERT INTO [Insite.Morsco]..CustomProperty
           (ParentId
           ,Name
           ,Value
           ,CreatedOn
           ,CreatedBy
           ,ModifiedOn
           ,ModifiedBy
           ,ParentTable)
     SELECT
           CO.ID -- ParentId
           ,''OrderedBy'' -- Name
           ,MAX(OHL.OrderBy) -- Value
           ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''CustomerOrder'' -- ParentTable
	FROM @QuotesToInsert QI
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
							AND OHL.ID = QI.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ErpOrderNumber = OHL.OrderNo
	GROUP BY CO.ID

	-- IsEditable
	INSERT INTO [Insite.Morsco]..CustomProperty
           (ParentId
           ,Name
           ,Value
           ,CreatedOn
           ,CreatedBy
           ,ModifiedOn
           ,ModifiedBy
           ,ParentTable)
     SELECT
           CO.ID -- ParentId
           ,''IsEditable'' -- Name
           ,''true''		 -- Value
		   ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''CustomerOrder'' -- ParentTable
	FROM @QuotesToInsert QI
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ActivityInstanceId = @ActivityInstanceID
							AND OHL.ID = QI.Id
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ErpOrderNumber = OHL.OrderNo
	WHERE OHL.QuoteStatus = ''WEB EDIT''
	GROUP BY CO.ID
	
	------------------------------------------------------------------------------------------------------------------------------------
	-- Delete quotes that originated in Eclipse if their Eclipse status changes from WEB VIEW or WEB EDIT to some other status.
	------------------------------------------------------------------------------------------------------------------------------------
	-- These were created in Eclipse, not the Web
	DECLARE @QuotesToDelete TABLE (Id UNIQUEIDENTIFIER, ERPOrderNumber varchar(50), OHLID UNIQUEIDENTIFIER)
	
	--Quote from Eclipse with status not equal to WEB VIEW or WEB EDIT.
	INSERT @QuotesToDelete
	SELECT CO.ID, OrderNo, OH.Id
	FROM OrderHeaderLog OH
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.[OrderNo]
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.Id
	WHERE OH.ActivityInstanceId = @ActivityInstanceID 
		AND OH.OrderStatus = ''B'' 
		AND OH.QuoteStatus NOT IN  (''WEB EDIT'',''WEB VIEW'')
		AND CO.Status = ''QuoteProposed''
		AND (CP.Name = ''OriginatedInEclipse'' and CP.Value = ''true'')
	
	--Delete Quote entries from Custom Properties, Order Lines and Customer Order Table	
	DELETE CP FROM @QuotesToDelete QD
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK)ON QD.Id = CP.ParentId

	DELETE OL FROM @QuotesToDelete QD
	JOIN [Insite.Morsco]..OrderLine OL (NOLOCK) ON QD.Id = OL.CustomerOrderId

	DELETE CO FROM @QuotesToDelete QD
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON QD.Id = CO.Id

	--Reset Quote status to QuoteProposed if it orgins from Insite but not in WEB EDIT OR WEB VIEW status
	Update CO Set CO.Status = ''QuoteRequested''
	FROM OrderHeaderLog OH
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.[OrderNo]
	LEFT JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = CO.Id AND CP.Name = ''OriginatedInEclipse'' and CP.Value = ''true''
	WHERE OH.ActivityInstanceId = @ActivityInstanceID 
		AND OH.OrderStatus = ''B'' 
		AND OH.QuoteStatus NOT IN  (''WEB EDIT'',''WEB VIEW'')
		AND CO.Status = ''QuoteProposed''
		AND CP.Id is null

	----------------------------------------------------------------------------------------------------------------------------------
	 --NEW Process Quotes that were turned to orders on Eclipse and therefore need to be updated
	----------------------------------------------------------------------------------------------------------------------------------
	DECLARE @QuotesConvertedToOrder TABLE (Id UNIQUEIDENTIFIER, ERPOrderNumber VARCHAR(20),InvoiceNo VARCHAR(20)  
							,InvoiceDate Datetimeoffset(7), Generation VARCHAR(5)
							,GenerationRow int, GenerationCount int
							,ERPOrderNumberWGen  varchar(20)
							)
	INSERT @QuotesConvertedToOrder
	SELECT OH.ID, OH.OrderNo,OH.InvoiceNo, DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OH.InvoiceDate), OH.Generation,
			ROW_NUMBER() OVER(PARTITION BY OH.OrderNo order by CAST(Generation AS INT)) AS "GenerationRow", 
			COUNT(OH.OrderNo) OVER(PARTITION BY OH.OrderNo) AS "GenerationCount",
			COALESCE(NULLIF(OH.InvoiceNo,''''),OH.OrderNo + ''.'' + RIGHT(''0000'' + CAST(ISNULL(OH.Generation,''0'') AS VARCHAR(4)),4)) 
	FROM vw_OrderHeaderLog OH
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.[OrderNo]
	WHERE OH.ActivityInstanceId = @ActivityInstanceID
		AND OH.OrderStatus <> ''B'' 
		AND CO.Type = ''Quote''

	;WITH SummarizedOrder0 AS
	(
		SELECT 
			OH.OrderNo,
			ISNULL(SUM(OH.[Freight]), 0) Shipping,
			ISNULL(SUM(OH.[Handling]), 0) Handling,
			ISNULL(SUM(OH.DiscAmt), 0) TotalDiscount,
			ISNULL(SUM(OH.Tax), 0) TotalTax,
			ISNULL(SUM(OH.Total), 0) OrderTotalAmount
		FROM @QuotesConvertedToOrder Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		GROUP BY OH.OrderNo
	)
	---- Update the CustomerOrder
	UPDATE CO
	SET 
		Type = ''Order'' --TODO check with Matt..
		,Status = ''Submitted''
		,Notes = OH.InternalNotes + '' '' + OH.LastUpdateComment
		,Shipping = SO.Shipping
		,Handling = SO.Handling 
		,StateTax = SO.TotalTax
		,DiscountAmount = SO.TotalDiscount
		,CustomerPO = OH.CustomerPO
		,TermsCode = OH.Terms
		,RequestedShipDate = OH.RequireDate
		,STCompanyName = OH.ShipTo
		,CO.STAddress1	= OH.ShippingAddressShippingAddress
		,CO.STAddress2	= OH.ShippingAddressShippingAddress		
		,CO.STCity		= OH.ShippingAddressCity	
		,CO.STState		= OH.ShippingAddressState
		,CO.STPostalCode = OH.ShippingAddressZip
		,InitiatedByUserProfileId = @UserProfileId
		,ModifiedBy = @UserName
		,ModifiedOn = GETDATE()
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id 
								AND Q.ERPOrderNumber = OH.OrderNo 
								AND Q.Generation = OH.Generation
	JOIN SummarizedOrder0 SO ON OH.OrderNo = SO.OrderNo
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	where Q.GenerationRow = 1

	 --Update the CustomerOrderLines
	 --Completely replace order lines
    DELETE OL 
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = OH.OrderNo
	JOIN [Insite.Morsco]..OrderLine OL (NOLOCK) ON OL.CustomerOrderId = CO.ID
	
	INSERT INTO [Insite.Morsco]..OrderLine
    (
		CustomerOrderId,
        ProductId,
        WebSiteId,
        Status,
        Line,
        Release,
        Description,
        Notes,
        QtyOrdered,
        RegularPrice,
        ActualPrice,
        UnitOfMeasure,
        QtyShipped,
        TaxCode1,
        TaxCode2,
        DueDate,
        PromiseDate,
        ShipSite,
        ShipDate,
        DiscountAmount,
        DiscountPercent,
        IsPromotionItem,
        PromotionResultId,
        CustomerPOLine,
        CostCode,
        AdditionalCharges,
        TaxAmount,
        LineGrandTotal,
        WarehouseId,
        CreatedOn,
        CreatedBy,
        ModifiedOn,
        ModifiedBy
	)
    SELECT 
        CO.Id CustomerOrderId,
        P.ID,
        MAX(CO.WebSiteId) WebSiteId,
        '''' Status,
        LineItemID Line,
        MAX(ItemReleaseNo) Release,
        MAX(Description),
        '''' Notes,
        SUM(D.OrderQty) QtyOrdered,
        MAX(D.UnitPrice),
        MAX(D.UnitPrice),
        MAX(D.SellUnit) UnitOfMeasure,
        SUM(D.ShipQty),
        '''' TaxCode1,
        '''' TaxCode2,
        NULL DueDate,
        NULL PromiseDate,
        '''' ShipSite,
        NULL ShipDate,
        0.00 DiscountAmount,
        0.00 DiscountPercent,
        0 IsPromotionItem,
        NULL PromotionResultId,
        '''' CustomerPOLine,
        '''' CostCode,
        0.00 AdditionalCharges,
        0.00 TaxAmount,
        0.00 LineGrandTotal,
        NULL WarehouseId,
        GETDATE() CreatedOn,
        MAX(H.SalesPerson) CreatedBy,
        GETDATE() ModifiedOn,
        MAX(H.SalesPerson) ModifiedBy
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog H ON Q.Id = H.Id
							 AND Q.ERPOrderNumber = H.OrderNo
		                     AND Q.Generation = H.Generation
	JOIN [Insite.Morsco]..CustomerOrder CO (NOLOCK) ON CO.ERPOrderNumber = H.OrderNo
	JOIN vw_OrderDetailLog D ON D.OrderHeaderId = H.Id
	LEFT JOIN [Insite.Morsco]..Product P ON P.ERPNumber = D.ProductID
	GROUP BY D.OrderNo, P.Id, D.LineItemID, CO.ID

	--Delete existing Order History records for the Quote converted to orders
	--Delete existing Order History records for the Quote converted to orders
	DELETE CP
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen 
														OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistoryLine OHL (NOLOCK) ON OH.Id = OHL.OrderHistoryId
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = OHL.Id

	DELETE OHL
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistoryLine OHL (NOLOCK) ON OH.Id = OHL.OrderHistoryId

	DELETE CP
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = OH.Id

	DELETE OH
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber

	--==========================================================================================================
	-- Insert OrderHistory for rolled up ''Master'' Orders
	--==========================================================================================================
	-- Some fields (like address and name) need consistent information from a single row.  We''ll use the lowest generation row
	-- That''s what these first 2 CTEs do
	-- This CTE is everything that needs to roll up, except OrderStatus
	;WITH SummarizedOrderLine0 AS
	(
		SELECT 
			OH.OrderNo,
			SUM(OD.UnitPrice * OD.SellUnitQty) SubTotal
		FROM @QuotesConvertedToOrder Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		JOIN vw_OrderDetailLog OD ON OH.ID = OD.OrderHeaderId
		GROUP BY OH.OrderNo
	),
	SummarizedOrder0 AS
	(
		SELECT 
			H.OrderNo,
			-- Going to do Ship Code if all generations are the same.  Otherwise Multiple(3)
			ISNULL(COUNT(DISTINCT H.ShipVia), 0) ShipViaCount,
			ISNULL(MAX(H.ShipVia), '''') MaxShipVia,
			ISNULL(SUM(H.[Freight]), 0) + ISNULL(SUM(H.[Handling]), 0) ShippingAndHandling,
			ISNULL(SUM(SOL.SubTotal), 0) OrderSubTotal,
			ISNULL(SUM(H.DiscAmt), 0) TotalDiscount,
			ISNULL(SUM(H.Tax), 0) TotalTax,
			ISNULL(SUM(H.Total), 0) OrderTotalAmount,
			ISNULL(SUM(CASE WHEN H.InvoiceNo is not null then 1 else 0 end), 0) InvoicedOrdersCount,
			MAX(Q.GenerationCount) GenerationCount,
			ISNULL(MAX(H.Salesperson),'''') SalesPerson
		FROM @QuotesConvertedToOrder Q
		JOIN vw_OrderHeaderLog H ON H.OrderNo = Q.ERPOrderNumber AND H.Generation = Q.Generation
		JOIN SummarizedOrderLine0 SOL ON H.OrderNo = SOL.OrderNo
		GROUP BY H.OrderNo
	),
	SummarizedOrder AS
	(
		SELECT
			S.OrderNo,
			CASE WHEN S.ShipViaCount = 0 THEN ''''
					WHEN S.ShipViaCount = 1 THEN S.MaxShipVia
					ELSE ''Multiple('' + CAST(S.ShipViaCount AS VARCHAR(10)) + '')''
			END [ShipCode],
			S.ShippingAndHandling,
			S.OrderSubTotal,
			S.TotalDiscount,
			S.TotalTax,
			S.OrderTotalAmount,
			CASE 
				WHEN S.InvoicedOrdersCount = S.GenerationCount THEN ''Invoiced''
				ELSE ''Open''
			END OrderStatus,
			ISNULL(S.SalesPerson,'''') SalesPerson
		FROM SummarizedOrder0 S
	)
	INSERT [Insite.Morsco]..OrderHistory
		(
		--[Id],
		[ERPOrderNumber]
		,[WebOrderNumber]
		,[OrderDate]
		,[Status]
		,[CustomerNumber]
		,[CustomerSequence]
		,[CustomerPO]
		,[CurrencyCode]
		,[Terms]
		,[ShipCode]
		,[Salesperson]
		,[BTCompanyName]
		,[BTAddress1]
		,[BTAddress2]
		,[BTCity]
		,[BTState]
		,[BTPostalCode]
		,[BTCountry]
		,[STCompanyName]
		,[STAddress1]
		,[STAddress2]
		,[STCity]
		,[STState]
		,[STPostalCode]
		,[STCountry]
		,[Notes]
		,[ProductTotal]
		,[DiscountAmount]
		,[ShippingAndHandling]
		,[OtherCharges]
		,[TaxAmount]
		,[OrderTotal]
		,[ModifiedOn]
		,[ConversionRate]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedBy]		)
	SELECT 
		H.OrderNo,
		'''' [WebOrderNumber],
		DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), H.[OrderDate])  [OrderDate],
		O2.OrderStatus [Status],
		H.[BillToID] [CustomerNumber],		
		H.[ShipToID] [CustomerSequence],
		dbo.fn_ScrubData2(ISNULL(H.CustomerPO,'''')) [CustomerPO],
		''USD'' [CurrencyCode],
		ISNULL(H.Terms,'''') [Terms],
		H.ShipVia,
		H.SalesPerson [Salesperson],
		ISNULL(BTC.CustomerName,'''') [BTCompanyName], 
		dbo.fn_ScrubData2(ISNULL(BTC.AddressLine1,'''')) [BTAddress1],
		dbo.fn_ScrubData2(ISNULL(BTC.AddressLine2,''''))  [BTAddress2],
		ISNULL(BTC.City,'''') [BTCity],
		ISNULL(BTC.State,'''') [BTState],
		ISNULL(BTC.Zip,'''') [BTPostalCode],
		''US'' [BTCountry],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(dbo.fn_ScrubData2(B.Name) ,'''')
			ELSE ISNULL(dbo.fn_ScrubData2(STC.CustomerName), '''') 
		END [STCompanyName],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address1,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END [ShipToAddress1],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address2,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END [ShipToAddress2],
   		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.City,'''')
			ELSE ISNULL(H.ShippingAddressCity, '''')
		END [STCity],
   		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.State,'''')
			ELSE ISNULL(H.ShippingAddressState, '''')
		END [STState],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Zip,'''')
			ELSE ISNULL(H.ShippingAddressZip, '''') 
		END [STPostalCode],
		''US'' [STCountry],
		'''' [Notes],
		O2.OrderSubTotal [ProductTotal], 
		O2.TotalDiscount [DiscountAmount],
		O2.ShippingAndHandling,
		0 [OtherCharges],
		O2.TotalTax [TaxAmount],
		O2.OrderTotalAmount [OrderTotal],
		GETDATE() [ModifiedOn],
		0 [ConversionRate],
		GETDATE() [CreatedOn],
		@UserName [CreatedBy],
		@UserName [ModifiedBy]
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog H ON Q.Id = H.Id 
	JOIN SummarizedOrder O2 ON O2.OrderNo = H.OrderNo
	JOIN dbo.vw_QualifyingCustomers BTC ON BTC.CustomerNo = H.BillToID
											  AND BTC.IsBillTo = 1
	LEFT JOIN vw_QualifyingCustomers STC ON STC.CustomerNo = H.ShipToID
											   AND STC.IsBillTo = 0
	LEFT JOIN DM_ECommerce.dbo.Branch B (NOLOCK) ON B.BranchID = H.ShipBranch  
	LEFT JOIN ETLTranslation E ON E.TranslationType = ''ShipViaToCarrierName''
								AND E.TargetValue = H.ShipVia
	WHERE Q.GenerationRow = 1 
	AND Q.GenerationCount > 1 

	-- Insert OrderHistory for Generations
	-- Avoid duplicate salespeople as a multiplier.  Happened twice, so assume we need to harden against.
	-- Are other salesperson references in this sp.  But not used as joined tables in main query.
	;WITH SummarizedOrderLine0 AS
	(
		SELECT 
			OH.ID,
			OH.OrderNo,
			OH.Generation,
			SUM(OD.UnitPrice * OD.SellUnitQty) SubTotal
		FROM @QuotesConvertedToOrder Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		JOIN vw_OrderDetailLog OD ON OH.ID = OD.OrderHeaderId
		GROUP BY OH.ID, OH.OrderNo, OH.Generation
	)
	INSERT [Insite.Morsco]..OrderHistory
		(
		--[Id],
		[ERPOrderNumber]
		,[WebOrderNumber]
		,[OrderDate]
		,[Status]
		,[CustomerNumber]
		,[CustomerSequence]
		,[CustomerPO]
		,[CurrencyCode]
		,[Terms]
		,[ShipCode]
		,[Salesperson]
		,[BTCompanyName]
		,[BTAddress1]
		,[BTAddress2]
		,[BTCity]
		,[BTState]
		,[BTPostalCode]
		,[BTCountry]
		,[STCompanyName]
		,[STAddress1]
		,[STAddress2]
		,[STCity]
		,[STState]
		,[STPostalCode]
		,[STCountry]
		,[Notes]
		,[ProductTotal]
		,[DiscountAmount]
		,[ShippingAndHandling]
		,[OtherCharges]
		,[TaxAmount]
		,[OrderTotal]
		,[ModifiedOn]
		,[ConversionRate]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedBy]
		)
	SELECT
		Q.ERPOrderNumberWGen	--[ERPOrderNumber]
		,''''					--[WebOrderNumber]
		,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), H.OrderDate)		--[OrderDate]
		,CASE WHEN H.InvoiceNo IS NOT NULL AND H.InvoiceNo <> '''' THEN ''Invoiced'' ELSE ''Open'' END				--[Status]
		,H.BillToID		--[CustomerNumber]
		,H.ShipToID		--[CustomerSequence]
		,dbo.fn_ScrubData2(ISNULL(H.CustomerPO, ''''))	--[CustomerPO],
		,''USD''			--[CurrencyCode]
		,ISNULL(H.Terms,'''')		--[Terms]
		,COALESCE(ES.TranslatedValue,H.ShipVia,'''')		--[ShipCode]
		,H.Salesperson	---[Salesperson]
		,ISNULL(BTC.CustomerName,'''')					--[BTCompanyName], 
		,dbo.fn_ScrubData2(ISNULL(BTC.AddressLine1,''''))	--[BTAddress1],
		,dbo.fn_ScrubData2(ISNULL(BTC.AddressLine2,''''))	--[BTAddress2],
		,ISNULL(BTC.City,'''')				--[BTCity],
		,ISNULL(BTC.State,'''')				--[BTState],
		,ISNULL(BTC.Zip,'''')					---[BTPostalCode],
		,''US''								--[BTCountry],
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(dbo.fn_ScrubData2(B.Name),'''') 
			ELSE ISNULL(dbo.fn_ScrubData2(STC.CustomerName), '''') 
		END									--[STCompanyName]
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address1,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END									--[ShipToAddress1]
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address2,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END									--[ShipToAddress2],
   		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.City,'''')
			ELSE ISNULL(H.ShippingAddressCity, '''')
		END									--[STCity],
   		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.State,'''')
			ELSE ISNULL(H.ShippingAddressState, '''')
		END									--[STState],
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Zip,'''')
			ELSE ISNULL(H.ShippingAddressZip, '''') 
		END										--[STPostalCode],
		,''US''									--[STCountry],
		,H.InternalNotes + H.ShippingInstr		--[Notes],
		,SOL.SubTotal							--[ProductTotal]
		,H.DiscAmt								--[DiscountAmount],
		,H.[Freight] + H.[Handling]				--ShippingAndHandling,
		,0										--[OtherCharges],
		,H.Tax									--[TaxAmount],
		,H.Total								--[OrderTotal],
		,GETDATE()					--[ModifiedOn],
		,0							--[ConversionRate],
		,GETDATE()					--[CreatedOn],
		,@UserName					--[CreatedBy],
		,@UserName					--[ModifiedBy],
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog H ON Q.ERPOrderNumber = H.OrderNo
		                     AND Q.Generation = H.Generation
	JOIN SummarizedOrderLine0 SOL ON SOL.Id = H.Id
							 AND SOL.OrderNo = H.OrderNo
		                     AND SOL.Generation = H.Generation
	JOIN dbo.vw_QualifyingCustomers BTC ON BTC.CustomerNo = H.BillToID
											 AND BTC.IsBillTo = 1
	-- ship-to-customers may not be qualifying customers for historical orders at the bill-to-level orderhistory page
	LEFT JOIN vw_QualifyingCustomers STC ON STC.CustomerNo = H.ShipToID
											  AND STC.IsBillTo = 0
	LEFT JOIN DM_ECommerce..Branch B (NOLOCK) ON B.BranchID = H.ShipBranch
	LEFT JOIN ETLTranslation E ON E.TranslationType = ''ShipViaToCarrierName''
								AND E.TargetValue = H.ShipVia
	LEFT JOIN ETLTranslation ES ON ES.TranslationType = ''ShipViaToOrderHistoryShipVia''
								AND ES.TargetValue = H.ShipVia
	
	--==========================================================================================================
	-- Insert OrderHistoryLine for rolled up ''Master'' orders
	--==========================================================================================================
	-- Discovered products are not unique
	INSERT [Insite.Morsco]..OrderHistoryLine
		(
		--[Id],
		[OrderHistoryId]
		,[RequiredDate]
		,[LastShipDate]
		,[CustomerNumber]
		,[CustomerSequence]
		,[LineType]
		,[Status]
		,[LineNumber]
		,[ReleaseNumber]
		,[ProductERPNumber]
		,[CustomerProductNumber]
		,[LinePOReference]
		,[Description]
		,[Warehouse]
		,[Notes]
		,[QtyOrdered]
		,[QtyShipped]
		,[UnitOfMeasure]
		,[InventoryQtyOrdered]
		,[InventoryQtyShipped]
		,[UnitPrice]
		,[DiscountPercent]
		,[DiscountAmount]
		,[PromotionAmountApplied]
		,[LineTotal]
		,[RMAQtyRequested]
		,[RMAQtyReceived]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		)
	SELECT
		OH.Id [OrderHistoryId],
		NULL [RequiredDate],
		ISNULL(MAX(H.ShipDate), @SentinelDate) [LastShipDate],
		ISNULL(MAX(H.BillToID), '''') [CustomerNumber],
		ISNULL(MAX(H.[ShipToID]), '''') [CustomerSequence],
		'''' [LineType],
		'''' [Status],
		-- Setting LineNumber and ReleaseNumber because OrderHistoryId, Line, ReleaseNumber must be 
		-- unique combination in Insite
		ISNULL(L.LineItemID,0) [LineNumber],    
		-- Nonnumeric productids happen 0 or 1 time per order, so it is safe to coerce them to be a ''0'' ReleaseNumber
		ISNULL(CASE WHEN ISNUMERIC(L.ProductId) = 1 THEN CAST(L.ProductId as Decimal(18,5)) ELSE 0 END ,0 ) [ReleaseNumber], 
		ISNULL(L.ProductId,'''') [ProductERPNumber],
		'''' [CustomerProductNumber],
		'''' [LinePOReference],
		'''' [Description], -- previously did this, the MAX(I.ErpPartName) eventually broke SQL performance -- dbo.fn_ScrubData2(ISNULL(MAX(I.ErpPartName),'''')) [Description],
		'''' [Warehouse],						-- May have multiple warehouses
		'''' [Notes],
		ISNULL(MAX(L.[OrderQty]), 0) [QtyOrdered],
		SUM(CASE WHEN H.InvoiceNo IS NOT NULL THEN ISNULL(L.ShipQty,0) ELSE 0 END) [QtyShipped], 
		ISNULL(MAX(L.BaseUnit),'''') [UnitOfMeasure],
		0 [InventoryQtyOrdered],
		0 [InventoryQtyShipped],
		ISNULL(MAX(L.UnitPrice),0) [UnitPrice],
		0 [DiscountPercent],
		0 [DiscountAmount],
		0 [PromotionAmountApplied],
		SUM(COALESCE(L.ShipQty, L.[OrderQty], 0) * ISNULL(L.[UnitPrice],0)) [LineTotal],
		0 [RMAQtyRequested],
		0 [RMAQtyReceived],
		GETDATE() [CreatedOn],
		@UserName [CreatedBy],
		GETDATE() [ModifiedOn],
		@UserName ModifiedBy
	FROM @QuotesConvertedToOrder Q
	JOIN vw_OrderHeaderLog H ON Q.Id = H.Id
	JOIN vw_OrderDetailLog L ON L.OrderHeaderId = H.Id
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumber
	WHERE Q.GenerationCount > 1 
			AND L.ProductId IS NOT NULL
	GROUP BY L.OrderNo, L.ProductId, L.LineItemID, OH.ID
	
	-- Insert OrderHistoryLine for Generation orders
	-- These are also rolled up by LineNo and Product -- appears to make LineNo unique which is necessary
	INSERT [Insite.Morsco]..OrderHistoryLine
		(
		--[Id],
		[OrderHistoryId]
		,[RequiredDate]
		,[LastShipDate]
		,[CustomerNumber]
		,[CustomerSequence]
		,[LineType]
		,[Status]
		,[LineNumber]
		,[ReleaseNumber]
		,[ProductERPNumber]
		,[CustomerProductNumber]
		,[LinePOReference]
		,[Description]
		,[Warehouse]
		,[Notes]
		,[QtyOrdered]
		,[QtyShipped]
		,[UnitOfMeasure]
		,[InventoryQtyOrdered]
		,[InventoryQtyShipped]
		,[UnitPrice]
		,[DiscountPercent]
		,[DiscountAmount]
		,[PromotionAmountApplied]
		,[LineTotal]
		,[RMAQtyRequested]
		,[RMAQtyReceived]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		)
	SELECT
		OH.Id							--[OrderHistoryId]
		,NULL							--[RequiredDate]
		,MAX(ISNULL(H.ShipDate, @SentinelDate)) --[LastShipDate]
		,MAX(OH.CustomerNumber)					--[CustomerNumber]
		,MAX(H.[ShipToID])				--[CustomerSequence]
		,''''								--[LineType]
		,''''								--[Status]
		-- Setting LineNumber and ReleaseNumber because OrderHistoryId, Line, ReleaseNumber must be 
		-- unique combination in Insite
		,ISNULL(L.LineItemID,0)			--[LineNumber]
		-- Nonnumeric productids happen 0 or 1 time per order, so it is safe to coerce them to be a ''0'' ReleaseNumber
		,ISNULL(CASE WHEN ISNUMERIC(L.ProductId) = 1 THEN CAST(L.ProductId as Decimal(18,5)) ELSE 0 END, 0 ) --[ReleaseNumber] 
		,L.ProductId					--[ProductERPNumber]
		,''''								--[CustomerProductNumber]
		,''''								--[LinePOReference]
		,''''								--[Description] 
		,''''								--[Warehouse]
		,''''								--[Notes]
		,SUM(L.OrderQty)				--[QtyOrdered],
		,SUM(L.ShipQty)					--[QtyShipped],
		,MAX(ISNULL(L.BaseUnit,''''))		--[UnitOfMeasure],
		,0								--[InventoryQtyOrdered],
		,0								--[InventoryQtyShipped],
		,MAX(L.UnitPrice)				--[UnitPrice],
		,0								--[DiscountPercent],
		,0								--[DiscountAmount],
		,0								--[PromotionAmountApplied],
		,SUM(COALESCE(L.ShipQty, L.OrderQty, 0) * L.UnitPrice) --[LineTotal],
		,0								--[RMAQtyRequested],
		,0								--[RMAQtyReceived],
		,GETDATE()						--[CreatedOn],
		,@UserName						--[CreatedBy],
		,GETDATE()						--[ModifiedOn],
		,@UserName						--[ModifiedBy]
	FROM @QuotesConvertedToOrder Q
	JOIN OrderHeaderLog H ON Q.ERPOrderNumber = H.OrderNo
		                     AND Q.Generation = H.Generation
	JOIN vw_OrderDetailLog L ON L.OrderHeaderId = H.Id
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	GROUP BY L.OrderNo, L.ProductId, L.LineItemID, OH.ID
		
	--Copy existing customer order CustomerProperty records to Order History
	--For Master Records
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ParentTable)
	SELECT NEWID() ID
		,Id [ParentId]
		,Name 
		,Value 
		,GETDATE() [CreatedOn]
		,@UserName [CreatedBy]
		,GETDATE() [ModifiedOn]
		,@UserName [ModifiedBy]
		,''OrderHistory''
	FROM (SELECT  DISTINCT 
		OH.Id,
		OH.ERPOrderNumber
		,CP.Name 
		,CP.Value 
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..CustomerOrder CO ON Q.ERPOrderNumber =CO.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistory OH ON OH.ERPOrderNumber = CO.ERPOrderNumber
	JOIN [Insite.Morsco]..CustomProperty CP ON CP.ParentId = CO.Id) V

	--For Generation Records
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ParentTable)
	SELECT NEWID() ID
		,OH.Id [ParentId]
		,CP.Name 
		,CP.Value 
		,GETDATE() [CreatedOn]
		,@UserName [CreatedBy]
		,GETDATE() [ModifiedOn]
		,@UserName [ModifiedBy]
		,''OrderHistory''
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..CustomerOrder CO ON Q.ERPOrderNumber =CO.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistory OH ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	JOIN [Insite.Morsco]..CustomProperty CP ON CP.ParentId = CO.Id

	-- Creating custom properties for the LastShipDate field 
	--Property only generation level and single-level parents.
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		 ParentTable)
	SELECT NEWID() ID,
		oh.id ParentId, 
		''LastShipDate'' Name, 
		CASE WHEN OH.ERPOrderNumber like ''%.%'' OR MAX(Q.GenerationCount) = 1
			THEN convert(nvarchar(10),Max(ISNULL(ohl.lastshipdate,@SentinelDate)), 120)
			ELSE ''''
		END,
		GETDATE(), 
		@UserName, 
		GETDATE(), 
		@UserName,
		''OrderHistoryLine''
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumber OR  OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	LEFT JOIN [Insite.Morsco]..OrderHistoryLine ohl (NOLOCK) on ohl.OrderHistoryId = oh.Id
	GROUP BY OH.ID, OH.ERPOrderNumber

	-- Creating custom properties for the Order Generation Count field 
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		ParentTable)
	SELECT 
		NEWID() Id
		,MAX(OH.Id) ParentId
		,''GenerationCount'' Name
		,MAX(Q.GenerationCount) Value
		,GetDate() CreatedOn
		,@UserName CreatedBy
		,GetDate() ModifiedOn
		,@UserName ModifiedBy
		,''OrderHistory''
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumber
	WHERE OH.ERPOrderNumber not like ''%.%'' OR Q.GenerationCount = 1 
	group by Q.ERPOrderNumber
	 

	-- Creating custom properties for the InvoiceDate field 
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		ParentTable)
	SELECT 
		NEWID() Id
		,OH.Id ParentId
		,''InvoiceDate'' Name
		,convert(nvarchar(10),MAX(Q.InvoiceDate), 120) Value
		,GetDate() CreatedOn
		,@UserName CreatedBy
		,GetDate() ModifiedOn
		,@UserName ModifiedBy
		,''OrderHistory''
	FROM @QuotesConvertedToOrder Q
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumber OR  OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	WHERE Q.InvoiceDate IS NOT NULL
	GROUP BY OH.ID
	
	----------------------------------------------------------------------------------------------------------------------------------
	 --Process Orders that have not been handled as part of the quote processing in the previous steps 
	----------------------------------------------------------------------------------------------------------------------------------
	DECLARE @ProcessOrdersToOrderHistory TABLE (Id UNIQUEIDENTIFIER, ERPOrderNumber VARCHAR(20),InvoiceNo VARCHAR(20)  
							,InvoiceDate Datetimeoffset(7), Generation VARCHAR(5)
							,GenerationRow int, GenerationCount int
							,ERPOrderNumberWGen  varchar(20)
							)
	;WITH ProcessedQuotes AS
	(
	SELECT Id, ERPOrderNumber FROM @QuotesToInsert
	UNION
	SELECT Id, ERPOrderNumber FROM @QuotesToUpdate
	UNION
	SELECT OHLID ID, ERPOrderNumber FROM @QuotesToDelete
	UNION
	SELECT Id, ERPOrderNumber FROM @QuotesConvertedToOrder
	)
	INSERT @ProcessOrdersToOrderHistory
	SELECT OH.ID, OH.OrderNo,OH.InvoiceNo, DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), OH.InvoiceDate), OH.Generation,
			ROW_NUMBER() OVER(PARTITION BY OH.OrderNo order by CAST(Generation AS INT)) AS "GenerationRow", 
			COUNT(OH.OrderNo) OVER(PARTITION BY OH.OrderNo) AS "GenerationCount",
			COALESCE(NULLIF(OH.InvoiceNo,''''),OH.OrderNo + ''.'' + RIGHT(''0000'' + CAST(ISNULL(OH.Generation,''0'') AS VARCHAR(4)),4))
	FROM vw_OrderHeaderLog OH
	LEFT JOIN ProcessedQuotes Q (NOLOCK) ON Q.ERPOrderNumber = OH.[OrderNo]
	WHERE OH.ActivityInstanceId = @ActivityInstanceID
		AND Q.Id IS NULL
		AND ISNULL(OH.OrderStatus,'''') NOT IN (''B'',''$'',''X'',''Y'','''') 
	

	--Delete existing Order History records for the Quote converted to orders
	DELETE CP
	FROM @ProcessOrdersToOrderHistory Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen 
														OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistoryLine OHL (NOLOCK) ON OH.Id = OHL.OrderHistoryId
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = OHL.Id

	DELETE OHL
	FROM @ProcessOrdersToOrderHistory Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..OrderHistoryLine OHL (NOLOCK) ON OH.Id = OHL.OrderHistoryId

	DELETE CP
	FROM @ProcessOrdersToOrderHistory Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber
	JOIN [Insite.Morsco]..CustomProperty CP (NOLOCK) ON CP.ParentId = OH.Id

	DELETE OH
	FROM @ProcessOrdersToOrderHistory Q
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
															OR OH.ERPOrderNumber = Q.ERPOrderNumber
	
	--==========================================================================================================
	-- Insert OrderHistory for rolled up ''Master'' Orders
	--==========================================================================================================
	-- Some fields (like address and name) need consistent information from a single row.  We''ll use the lowest generation row
	-- That''s what these first 2 CTEs do
	-- This CTE is everything that needs to roll up, except OrderStatus
	;WITH SummarizedOrderLine0 AS
	(
		SELECT 
			OH.OrderNo,
			SUM(OD.UnitPrice * OD.SellUnitQty) SubTotal
		FROM @ProcessOrdersToOrderHistory Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		JOIN vw_OrderDetailLog OD ON OH.ID = OD.OrderHeaderId
		GROUP BY OH.OrderNo
	),
	SummarizedOrder0 AS
	(
		SELECT 
			H.OrderNo,
			-- Going to do Ship Code if all generations are the same.  Otherwise Multiple(3)
			ISNULL(COUNT(DISTINCT H.ShipVia), 0) ShipViaCount,
			ISNULL(MAX(H.ShipVia), '''') MaxShipVia,
			ISNULL(SUM(H.[Freight]), 0) + ISNULL(SUM(H.[Handling]), 0) ShippingAndHandling,
			ISNULL(SUM(SOL.SubTotal), 0) OrderSubTotal,
			ISNULL(SUM(H.DiscAmt), 0) TotalDiscount,
			ISNULL(SUM(H.Tax), 0) TotalTax,
			ISNULL(SUM(H.Total), 0) OrderTotalAmount,
			ISNULL(SUM(CASE WHEN H.InvoiceNo is not null then 1 else 0 end), 0) InvoicedOrdersCount,
			MAX(Q.GenerationCount) GenerationCount,
			ISNULL(MAX(H.Salesperson),'''') SalesPerson
		FROM @ProcessOrdersToOrderHistory Q
		JOIN vw_OrderHeaderLog H ON H.OrderNo = Q.ERPOrderNumber AND H.Generation = Q.Generation
		JOIN SummarizedOrderLine0 SOL ON H.OrderNo = SOL.OrderNo
		GROUP BY H.OrderNo
	),
	SummarizedOrder AS
	(
		SELECT
			S.OrderNo,
			CASE WHEN S.ShipViaCount = 0 THEN ''''
					WHEN S.ShipViaCount = 1 THEN S.MaxShipVia
					ELSE ''Multiple('' + CAST(S.ShipViaCount AS VARCHAR(10)) + '')''
			END [ShipCode],
			S.ShippingAndHandling,
			S.OrderSubTotal,
			S.TotalDiscount,
			S.TotalTax,
			S.OrderTotalAmount,
			CASE 
				WHEN S.InvoicedOrdersCount = S.GenerationCount THEN ''Invoiced''
				ELSE ''Open''
			END OrderStatus,
			ISNULL(S.SalesPerson,'''') SalesPerson
		FROM SummarizedOrder0 S
	)
	INSERT [Insite.Morsco]..OrderHistory
		(
		--[Id],
		[ERPOrderNumber]
		,[WebOrderNumber]
		,[OrderDate]
		,[Status]
		,[CustomerNumber]
		,[CustomerSequence]
		,[CustomerPO]
		,[CurrencyCode]
		,[Terms]
		,[ShipCode]
		,[Salesperson]
		,[BTCompanyName]
		,[BTAddress1]
		,[BTAddress2]
		,[BTCity]
		,[BTState]
		,[BTPostalCode]
		,[BTCountry]
		,[STCompanyName]
		,[STAddress1]
		,[STAddress2]
		,[STCity]
		,[STState]
		,[STPostalCode]
		,[STCountry]
		,[Notes]
		,[ProductTotal]
		,[DiscountAmount]
		,[ShippingAndHandling]
		,[OtherCharges]
		,[TaxAmount]
		,[OrderTotal]
		,[ModifiedOn]
		,[ConversionRate]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedBy]		)
	SELECT 
		H.OrderNo,
		'''' [WebOrderNumber],
		DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), H.[OrderDate])  [OrderDate],
		O2.OrderStatus [Status],
		H.[BillToID] [CustomerNumber],		
		H.[ShipToID] [CustomerSequence],
		dbo.fn_ScrubData2(ISNULL(H.CustomerPO,'''')) [CustomerPO],
		''USD'' [CurrencyCode],
		ISNULL(H.Terms,'''') [Terms],
		H.ShipVia,
		H.SalesPerson [Salesperson],
		ISNULL(BTC.CustomerName,'''') [BTCompanyName], 
		dbo.fn_ScrubData2(ISNULL(BTC.AddressLine1,'''')) [BTAddress1],
		dbo.fn_ScrubData2(ISNULL(BTC.AddressLine2,''''))  [BTAddress2],
		ISNULL(BTC.City,'''') [BTCity],
		ISNULL(BTC.State,'''') [BTState],
		ISNULL(BTC.Zip,'''') [BTPostalCode],
		''US'' [BTCountry],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(dbo.fn_ScrubData2(B.Name) ,'''')
			ELSE ISNULL(dbo.fn_ScrubData2(STC.CustomerName), '''') 
		END [STCompanyName],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address1,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END [ShipToAddress1],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address2,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END [ShipToAddress2],
   		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.City,'''')
			ELSE ISNULL(H.ShippingAddressCity, '''')
		END [STCity],
   		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.State,'''')
			ELSE ISNULL(H.ShippingAddressState, '''')
		END [STState],
		CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Zip,'''')
			ELSE ISNULL(H.ShippingAddressZip, '''') 
		END [STPostalCode],
		''US'' [STCountry],
		'''' [Notes],
		O2.OrderSubTotal [ProductTotal], 
		O2.TotalDiscount [DiscountAmount],
		O2.ShippingAndHandling,
		0 [OtherCharges],
		O2.TotalTax [TaxAmount],
		O2.OrderTotalAmount [OrderTotal],
		GETDATE() [ModifiedOn],
		0 [ConversionRate],
		GETDATE() [CreatedOn],
		@UserName [CreatedBy],
		@UserName [ModifiedBy]
	FROM @ProcessOrdersToOrderHistory Q
	JOIN vw_OrderHeaderLog H ON Q.Id = H.Id
	JOIN SummarizedOrder O2 ON O2.OrderNo = H.OrderNo
	JOIN dbo.vw_QualifyingCustomers BTC ON BTC.CustomerNo = H.BillToID
											  AND BTC.IsBillTo = 1
	LEFT JOIN vw_QualifyingCustomers STC ON STC.CustomerNo = H.ShipToID
											   AND STC.IsBillTo = 0
	LEFT JOIN DM_ECommerce.dbo.Branch B (NOLOCK) ON B.BranchID = H.ShipBranch  
	LEFT JOIN ETLTranslation E ON E.TranslationType = ''ShipViaToCarrierName''
								AND E.TargetValue = H.ShipVia
	WHERE Q.GenerationRow = 1 
	AND Q.GenerationCount > 1 

	-- Insert OrderHistory for Generations
	-- Avoid duplicate salespeople as a multiplier.  Happened twice, so assume we need to harden against.
	-- Are other salesperson references in this sp.  But not used as joined tables in main query.
	;WITH SummarizedOrderLine0 AS
	(
		SELECT 
			OH.ID,
			OH.OrderNo,
			OH.Generation,
			SUM(OD.UnitPrice * OD.SellUnitQty) SubTotal
		FROM @ProcessOrdersToOrderHistory Q
		JOIN vw_OrderHeaderLog OH ON OH.ID = Q.Id	
		JOIN vw_OrderDetailLog OD ON OH.ID = OD.OrderHeaderId
		GROUP BY OH.ID, OH.OrderNo, OH.Generation
	)
	INSERT [Insite.Morsco]..OrderHistory
		(
		--[Id],
		[ERPOrderNumber]
		,[WebOrderNumber]
		,[OrderDate]
		,[Status]
		,[CustomerNumber]
		,[CustomerSequence]
		,[CustomerPO]
		,[CurrencyCode]
		,[Terms]
		,[ShipCode]
		,[Salesperson]
		,[BTCompanyName]
		,[BTAddress1]
		,[BTAddress2]
		,[BTCity]
		,[BTState]
		,[BTPostalCode]
		,[BTCountry]
		,[STCompanyName]
		,[STAddress1]
		,[STAddress2]
		,[STCity]
		,[STState]
		,[STPostalCode]
		,[STCountry]
		,[Notes]
		,[ProductTotal]
		,[DiscountAmount]
		,[ShippingAndHandling]
		,[OtherCharges]
		,[TaxAmount]
		,[OrderTotal]
		,[ModifiedOn]
		,[ConversionRate]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedBy]
		)
	SELECT
		Q.ERPOrderNumberWGen	--[ERPOrderNumber]
		,''''					--[WebOrderNumber]
		,DATEADD(second, DATEDIFF(second, GETDATE(), GETUTCDATE()), H.OrderDate)		--[OrderDate]
		,CASE WHEN H.InvoiceNo IS NOT NULL AND H.InvoiceNo <> '''' THEN ''Invoiced'' ELSE ''Open'' END				--[Status]
		,H.BillToID		--[CustomerNumber]
		,H.ShipToID		--[CustomerSequence]
		,dbo.fn_ScrubData2(ISNULL(H.CustomerPO, ''''))	--[CustomerPO],
		,''USD''			--[CurrencyCode]
		,ISNULL(H.Terms,'''')		--[Terms]
		,COALESCE(ES.TranslatedValue,H.ShipVia,'''')		--[ShipCode]
		,H.Salesperson	---[Salesperson]
		,ISNULL(BTC.CustomerName,'''')					--[BTCompanyName], 
		,dbo.fn_ScrubData2(ISNULL(BTC.AddressLine1,''''))	--[BTAddress1],
		,dbo.fn_ScrubData2(ISNULL(BTC.AddressLine2,''''))	--[BTAddress2],
		,ISNULL(BTC.City,'''')				--[BTCity],
		,ISNULL(BTC.State,'''')				--[BTState],
		,ISNULL(BTC.Zip,'''')					---[BTPostalCode],
		,''US''								--[BTCountry],
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(dbo.fn_ScrubData2(B.Name),'''') 
			ELSE ISNULL(dbo.fn_ScrubData2(STC.CustomerName), '''') 
		END									--[STCompanyName]
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address1,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END									--[ShipToAddress1]
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Address2,'''')
			ELSE ISNULL(H.ShippingAddressShippingAddress, '''')
		END									--[ShipToAddress2],
   		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.City,'''')
			ELSE ISNULL(H.ShippingAddressCity, '''')
		END									--[STCity],
   		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.State,'''')
			ELSE ISNULL(H.ShippingAddressState, '''')
		END									--[STState],
		,CASE WHEN E.TranslatedValue = ''Will Call'' THEN ISNULL(B.Zip,'''')
			ELSE ISNULL(H.ShippingAddressZip, '''') 
		END										--[STPostalCode],
		,''US''									--[STCountry],
		,H.InternalNotes + H.ShippingInstr		--[Notes],
		,SOL.SubTotal							--[ProductTotal]
		,H.DiscAmt								--[DiscountAmount],
		,H.[Freight] + H.[Handling]				--ShippingAndHandling,
		,0										--[OtherCharges],
		,H.Tax									--[TaxAmount],
		,H.Total								--[OrderTotal],
		,GETDATE()					--[ModifiedOn],
		,0							--[ConversionRate],
		,GETDATE()					--[CreatedOn],
		,@UserName					--[CreatedBy],
		,@UserName					--[ModifiedBy],
	FROM @ProcessOrdersToOrderHistory Q
	JOIN vw_OrderHeaderLog H ON Q.ERPOrderNumber = H.OrderNo
		                     AND Q.Generation = H.Generation
	JOIN SummarizedOrderLine0 SOL ON SOL.Id = H.Id
							 AND SOL.OrderNo = H.OrderNo
		                     AND SOL.Generation = H.Generation
	JOIN dbo.vw_QualifyingCustomers BTC ON BTC.CustomerNo = H.BillToID
											 AND BTC.IsBillTo = 1
	-- ship-to-customers may not be qualifying customers for historical orders at the bill-to-level orderhistory page
	LEFT JOIN vw_QualifyingCustomers STC ON STC.CustomerNo = H.ShipToID
											  AND STC.IsBillTo = 0
	LEFT JOIN DM_ECommerce..Branch B (NOLOCK) ON B.BranchID = H.ShipBranch
	LEFT JOIN ETLTranslation E ON E.TranslationType = ''ShipViaToCarrierName''
								AND E.TargetValue = H.ShipVia
	LEFT JOIN ETLTranslation ES ON ES.TranslationType = ''ShipViaToOrderHistoryShipVia''
								AND ES.TargetValue = H.ShipVia
	--==========================================================================================================
	-- Insert OrderHistoryLine for rolled up ''Master'' orders
	--==========================================================================================================
	-- Discovered products are not unique
	INSERT [Insite.Morsco]..OrderHistoryLine
		(
		--[Id],
		[OrderHistoryId]
		,[RequiredDate]
		,[LastShipDate]
		,[CustomerNumber]
		,[CustomerSequence]
		,[LineType]
		,[Status]
		,[LineNumber]
		,[ReleaseNumber]
		,[ProductERPNumber]
		,[CustomerProductNumber]
		,[LinePOReference]
		,[Description]
		,[Warehouse]
		,[Notes]
		,[QtyOrdered]
		,[QtyShipped]
		,[UnitOfMeasure]
		,[InventoryQtyOrdered]
		,[InventoryQtyShipped]
		,[UnitPrice]
		,[DiscountPercent]
		,[DiscountAmount]
		,[PromotionAmountApplied]
		,[LineTotal]
		,[RMAQtyRequested]
		,[RMAQtyReceived]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		)
	SELECT
		OH.Id [OrderHistoryId],
		NULL [RequiredDate],
		ISNULL(MAX(H.ShipDate), @SentinelDate) [LastShipDate],
		ISNULL(MAX(H.BillToID), '''') [CustomerNumber],
		ISNULL(MAX(H.[ShipToID]), '''') [CustomerSequence],
		'''' [LineType],
		'''' [Status],
		-- Setting LineNumber and ReleaseNumber because OrderHistoryId, Line, ReleaseNumber must be 
		-- unique combination in Insite
		ISNULL(L.LineItemID,0) [LineNumber],    
		-- Nonnumeric productids happen 0 or 1 time per order, so it is safe to coerce them to be a ''0'' ReleaseNumber
		ISNULL(CASE WHEN ISNUMERIC(L.ProductId) = 1 THEN CAST(L.ProductId as Decimal(18,5)) ELSE 0 END ,0 ) [ReleaseNumber], 
		ISNULL(L.ProductId,'''') [ProductERPNumber],
		'''' [CustomerProductNumber],
		'''' [LinePOReference],
		'''' [Description], -- previously did this, the MAX(I.ErpPartName) eventually broke SQL performance -- dbo.fn_ScrubData2(ISNULL(MAX(I.ErpPartName),'''')) [Description],
		'''' [Warehouse],						-- May have multiple warehouses
		'''' [Notes],
		ISNULL(MAX(L.[OrderQty]), 0) [QtyOrdered],
		SUM(CASE WHEN H.InvoiceNo IS NOT NULL THEN ISNULL(L.ShipQty,0) ELSE 0 END) [QtyShipped], 
		ISNULL(MAX(L.BaseUnit),'''') [UnitOfMeasure],
		0 [InventoryQtyOrdered],
		0 [InventoryQtyShipped],
		ISNULL(MAX(L.UnitPrice),0) [UnitPrice],
		0 [DiscountPercent],
		0 [DiscountAmount],
		0 [PromotionAmountApplied],
		SUM(COALESCE(L.ShipQty, L.[OrderQty], 0) * ISNULL(L.[UnitPrice],0)) [LineTotal],
		0 [RMAQtyRequested],
		0 [RMAQtyReceived],
		GETDATE() [CreatedOn],
		@UserName [CreatedBy],
		GETDATE() [ModifiedOn],
		@UserName ModifiedBy
	FROM @ProcessOrdersToOrderHistory Q
	JOIN vw_OrderHeaderLog H ON Q.Id = H.Id
	JOIN vw_OrderDetailLog L ON L.OrderHeaderId = H.Id
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumber
	WHERE Q.GenerationCount > 1 
			AND L.ProductId IS NOT NULL
	GROUP BY L.OrderNo, L.ProductId, L.LineItemID, OH.ID
	
	-- Insert OrderHistoryLine for Generation orders
	-- These are also rolled up by LineNo and Product -- appears to make LineNo unique which is necessary
	INSERT [Insite.Morsco]..OrderHistoryLine
		(
		--[Id],
		[OrderHistoryId]
		,[RequiredDate]
		,[LastShipDate]
		,[CustomerNumber]
		,[CustomerSequence]
		,[LineType]
		,[Status]
		,[LineNumber]
		,[ReleaseNumber]
		,[ProductERPNumber]
		,[CustomerProductNumber]
		,[LinePOReference]
		,[Description]
		,[Warehouse]
		,[Notes]
		,[QtyOrdered]
		,[QtyShipped]
		,[UnitOfMeasure]
		,[InventoryQtyOrdered]
		,[InventoryQtyShipped]
		,[UnitPrice]
		,[DiscountPercent]
		,[DiscountAmount]
		,[PromotionAmountApplied]
		,[LineTotal]
		,[RMAQtyRequested]
		,[RMAQtyReceived]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		)
	SELECT
		OH.Id							--[OrderHistoryId]
		,NULL							--[RequiredDate]
		,MAX(ISNULL(H.ShipDate, @SentinelDate)) --[LastShipDate]
		,MAX(OH.CustomerNumber)					--[CustomerNumber]
		,MAX(H.[ShipToID])				--[CustomerSequence]
		,''''								--[LineType]
		,''''								--[Status]
		-- Setting LineNumber and ReleaseNumber because OrderHistoryId, Line, ReleaseNumber must be 
		-- unique combination in Insite
		,ISNULL(L.LineItemID,0)			--[LineNumber]
		-- Nonnumeric productids happen 0 or 1 time per order, so it is safe to coerce them to be a ''0'' ReleaseNumber
		,ISNULL(CASE WHEN ISNUMERIC(L.ProductId) = 1 THEN CAST(L.ProductId as Decimal(18,5)) ELSE 0 END, 0 ) --[ReleaseNumber] 
		,L.ProductId					--[ProductERPNumber]
		,''''								--[CustomerProductNumber]
		,''''								--[LinePOReference]
		,''''								--[Description] 
		,''''								--[Warehouse]
		,''''								--[Notes]
		,SUM(L.OrderQty)				--[QtyOrdered],
		,SUM(L.ShipQty)					--[QtyShipped],
		,MAX(ISNULL(L.BaseUnit,''''))		--[UnitOfMeasure],
		,0								--[InventoryQtyOrdered],
		,0								--[InventoryQtyShipped],
		,MAX(L.UnitPrice)				--[UnitPrice],
		,0								--[DiscountPercent],
		,0								--[DiscountAmount],
		,0								--[PromotionAmountApplied],
		,SUM(COALESCE(L.ShipQty, L.OrderQty, 0) * L.UnitPrice) --[LineTotal],
		,0								--[RMAQtyRequested],
		,0								--[RMAQtyReceived],
		,GETDATE()						--[CreatedOn],
		,@UserName						--[CreatedBy],
		,GETDATE()						--[ModifiedOn],
		,@UserName						--[ModifiedBy]
	FROM @ProcessOrdersToOrderHistory Q
	JOIN OrderHeaderLog H ON Q.ERPOrderNumber = H.OrderNo
		                     AND Q.Generation = H.Generation
	JOIN vw_OrderDetailLog L ON L.OrderHeaderId = H.Id
	JOIN [Insite.Morsco]..OrderHistory OH (NOLOCK) ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	GROUP BY L.OrderNo, L.ProductId, L.LineItemID, OH.ID
	
	--Copy existing customer order CustomerProperty records to Order History
	--For Master Records
	--INSERT INTO [Insite.Morsco]..CustomProperty
	--	([Id]
	--	,[ParentId]
	--	,[Name]
	--	,[Value]
	--	,[CreatedOn]
	--	,[CreatedBy]
	--	,[ModifiedOn]
	--	,[ModifiedBy]
	--	,ParentTable)
	--SELECT NEWID() ID
	--	,Id [ParentId]
	--	,Name 
	--	,Value 
	--	,GETDATE() [CreatedOn]
	--	,@UserName [CreatedBy]
	--	,GETDATE() [ModifiedOn]
	--	,@UserName [ModifiedBy]
	--	,''OrderHistory''
	--FROM (SELECT  DISTINCT 
	--	OH.Id,
	--	OH.ERPOrderNumber
	--	,CP.Name 
	--	,CP.Value 
	--FROM @ProcessOrdersToOrderHistory Q
	--JOIN [Insite.Morsco]..CustomerOrder CO ON Q.ERPOrderNumber =CO.ERPOrderNumber
	--JOIN [Insite.Morsco]..OrderHistory OH ON OH.ERPOrderNumber = CO.ERPOrderNumber
	--JOIN [Insite.Morsco]..CustomProperty CP ON CP.ParentId = CO.Id) V

	--For Generation Records
	--INSERT INTO [Insite.Morsco]..CustomProperty
	--	([Id]
	--	,[ParentId]
	--	,[Name]
	--	,[Value]
	--	,[CreatedOn]
	--	,[CreatedBy]
	--	,[ModifiedOn]
	--	,[ModifiedBy]
	--	,ParentTable)
	--SELECT NEWID() ID
	--	,OH.Id [ParentId]
	--	,CP.Name 
	--	,CP.Value 
	--	,GETDATE() [CreatedOn]
	--	,@UserName [CreatedBy]
	--	,GETDATE() [ModifiedOn]
	--	,@UserName [ModifiedBy]
	--	,''OrderHistory''
	--FROM @ProcessOrdersToOrderHistory Q
	--JOIN [Insite.Morsco]..CustomerOrder CO ON Q.ERPOrderNumber =CO.ERPOrderNumber
	--JOIN [Insite.Morsco]..OrderHistory OH ON OH.ERPOrderNumber = Q.ERPOrderNumberWGen
	--JOIN [Insite.Morsco]..CustomProperty CP ON CP.ParentId = CO.Id

	-- Creating custom properties for the LastShipDate field 
	--Property only generation level and single-level parents.
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		 ParentTable)
	SELECT NEWID() ID,
		oh.id ParentId, 
		''LastShipDate'' Name, 
		CASE WHEN MAX(OH.ERPOrderNumber) like ''%.%'' OR MAX(O.GenerationCount) = 1
			THEN convert(nvarchar(10),Max(ISNULL(ohl.lastshipdate,@SentinelDate)), 120)
			ELSE ''''
		END,
		GETDATE(), 
		@UserName, 
		GETDATE(), 
		@UserName,
		''OrderHistoryLine''
	FROM @ProcessOrdersToOrderHistory O
	JOIN OrderHeaderLog OL (NOLOCK) ON OL.ID = O.Id AND OL.ActivityInstanceId =@ActivityInstanceID
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = O.ERPOrderNumber 
														OR OH.ERPOrderNumber = O.ERPOrderNumberWGen
	LEFT JOIN [Insite.Morsco]..OrderHistoryLine ohl (NOLOCK) on ohl.OrderHistoryId = oh.Id
	GROUP BY OH.ID

	-- Creating custom properties for the Order Generation Count field 
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		ParentTable)
	SELECT 
		NEWID() Id
		,OH.Id ParentId
		,''GenerationCount'' Name
		,MAX(O.GenerationCount) Value
		,GetDate() CreatedOn
		,@UserName CreatedBy
		,GetDate() ModifiedOn
		,@UserName ModifiedBy
		,''OrderHistory''
	FROM @ProcessOrdersToOrderHistory O
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ID = O.Id AND OHL.ActivityInstanceId =@ActivityInstanceID
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = O.ERPOrderNumber 
														OR OH.ERPOrderNumber = O.ERPOrderNumberWGen
	WHERE OH.ERPOrderNumber not like ''%.%'' OR O.GenerationCount = 1 
	group by OH.Id
	 
	 Print ''8  - Insert GenerationCount for Custom Property '' + CONVERT( VARCHAR(24), GETDATE(), 113)	
	-- Creating custom properties for the InvoiceDate field 
	INSERT INTO [Insite.Morsco]..CustomProperty
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy],
		ParentTable)
	SELECT 
		NEWID() Id
		,OH.Id ParentId
		,''InvoiceDate'' Name
		,convert(nvarchar(10),MAX(O.InvoiceDate), 120) Value
		,GetDate() CreatedOn
		,@UserName CreatedBy
		,GetDate() ModifiedOn
		,@UserName ModifiedBy
		,''OrderHistory''
	FROM @ProcessOrdersToOrderHistory O
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ID = O.Id AND OHL.ActivityInstanceId =@ActivityInstanceID
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = O.ERPOrderNumber 
													OR OH.ERPOrderNumber = O.ERPOrderNumberWGen
	WHERE O.InvoiceDate IS NOT NULL
	GROUP BY OH.Id

	-- Same records for all the levels (Master and Generation Levels)
	INSERT INTO [Insite.Morsco]..[CustomProperty]
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ParentTable
		)
	SELECT NEWID() ID
        ,OH.ID -- ParentId
        ,''OrderedBy'' -- Name
        ,MAX(OHL.OrderBy)    -- Value
        ,MAX(OHL.OrderDate) -- CreatedOn
        ,MAX(OHL.OrderBy)   -- CreatedBy
        ,MAX(OHL.OrderDate) -- ModifiedOn
        ,MAX(OHL.OrderBy)   -- ModifiedBy
        ,''OrderHistory'' -- ParentTable
	FROM @ProcessOrdersToOrderHistory O
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ID = O.Id AND OHL.ActivityInstanceId =@ActivityInstanceID
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = O.ERPOrderNumber 
													OR OH.ERPOrderNumber = O.ERPOrderNumberWGen
	GROUP BY OH.ID

	-- Company Name same for master and child levels
	INSERT INTO [Insite.Morsco]..[CustomProperty]
		([Id]
		,[ParentId]
		,[Name]
		,[Value]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ParentTable)
	SELECT NEWID() ID,
           OH.ID -- ParentId
           ,''CompanyName'' -- Name
           ,MAX(OHL.ShipTo)    -- Value
           ,MAX(OHL.OrderDate) -- CreatedOn
           ,MAX(OHL.OrderBy)   -- CreatedBy
           ,MAX(OHL.OrderDate) -- ModifiedOn
           ,MAX(OHL.OrderBy)   -- ModifiedBy
           ,''OrderHistory'' -- ParentTable
	FROM @ProcessOrdersToOrderHistory O
	JOIN OrderHeaderLog OHL (NOLOCK) ON OHL.ID = O.Id AND OHL.ActivityInstanceId =@ActivityInstanceID
	JOIN [Insite.Morsco]..OrderHistory oh (NOLOCK) ON OH.ERPOrderNumber = O.ERPOrderNumber 
													OR OH.ERPOrderNumber = O.ERPOrderNumberWGen
	GROUP BY OH.ID
END


' 
END
GO
