USE [ETL_Ecommerce]
GO
/****** Object:  Table [dbo].[CustomerProduct]    Script Date: 8/5/2016 11:49:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomerProduct]') AND type in (N'U'))
DROP TABLE [dbo].[CustomerProduct]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateInsiteCustomer]    Script Date: 8/5/2016 11:49:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateInsiteCustomer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_PopulateInsiteCustomer]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateETLCustomer]    Script Date: 8/5/2016 11:49:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateETLCustomer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_PopulateETLCustomer]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateETLCustomer]    Script Date: 8/5/2016 11:49:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateETLCustomer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[sp_PopulateETLCustomer]
(
	
	@ETLSourceID VARCHAR(50),
	@UserName VARCHAR(50)
)
AS
-- =============================================
-- Author:		Venkatesan PS
-- Create date: 15th July 2015
-- Description:	This Procedure is created to populate the 
--               Customer Data in to the Customer Table 
--				 Morsco.com --> ETL DB --> Insite ExpressPipe DB
-- =============================================
BEGIN
	SET NOCOUNT ON;
	DECLARE @DefaultShipSite VARCHAR(10);
	DECLARE @DefaultWarehouseId UNIQUEIDENTIFIER;
	DECLARE @CurrencyId UNIQUEIDENTIFIER = (SELECT Id FROM [Insite.Morsco].dbo.Currency C WHERE C.CurrencyCode = ''USD'')
	DECLARE @CountryID UNIQUEIDENTIFIER = (SELECT Id FROM [Insite.Morsco].dbo.Country C WHERE C.ISOCode3 = ''USA'')
	DECLARE @SalesPerson TABLE(SalesPersonID VARCHAR(20));
	DECLARE @EmptyUniqueIdentifier UNIQUEIDENTIFIER = (SELECT CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) 
	DECLARE @TempSalesPerson TABLE ([Territory] [varchar](10) NULL,
		[SalesPersonID] [varchar](20) NOT NULL,
		[SalesPersonName] [varchar](30) NULL,
		[Branch] [varchar](10) NULL,
		[EMail] [varchar](200) NULL,
		[Phone1] [varchar](50) NULL) 

		-- Assumptions: States, countries and currencies already exist.
		TRUNCATE TABLE Customer;
		DELETE SalesPerson
		DELETE UserProfile

		--Get default warehouse id
		SELECT @DefaultShipSite = E.ParameterValue 
		FROM EtlParameter E
		WHERE  E.ParameterGroup = ''CustomerLoad'' 
			AND E.ParameterName = ''DefaultWareHouseId''

		SET @DefaultWarehouseId = (SELECT ID FROM Warehouse WHERE ShipSite = @DefaultShipSite);
	
		--********************************************************************************************************************
		-- Currently have to create salespeople for all customers.  We have info
		-- for a subset of that in DM_Ecommerce
		--********************************************************************************************************************
	
		
		INSERT @Salesperson(SalespersonID)
		SELECT SalesPersonId
		FROM DM_ECommerce.dbo.SalesPerson (NOLOCK)
		WHERE ETLSourceID = @EtlSourceId AND ISNULL(No_logon,''0'') = 1


		;WITH DuplicateSalesPerson AS
			(
				SELECT ROW_NUMBER() OVER (PARTITION BY SalesPersonId order by SalesPersonID) as DupRow
				, SP.*,B.PhoneNumber
				FROM DM_ECommerce.dbo.SalesPerson SP (NOLOCK)
				LEFT OUTER JOIN DM_ECommerce..Branch B (NOLOCK) ON B.BranchID = SP.Branch
				WHERE SP.ETLSourceID = @EtlSourceId
			)
				INSERT @TempSalesperson([Territory],[SalesPersonID],[SalesPersonName],[Branch],[EMail],[Phone1])
				SELECT [Territory], [SalesPersonID],[SalesPersonName],[Branch],[EMail],PhoneNumber 
				  FROM DuplicateSalesPerson
			     WHERE DupRow = 1;
		 
			
		--********************************************************************************************************************
		-- Add user profile for salespeople
		--********************************************************************************************************************
		;WITH SP AS
		(
			SELECT DISTINCT ISNULL(Salesperson, '''') SalesPerson
			FROM [DM_ECommerce].dbo.Customer (NOLOCK)
			WHERE ETLSourceID = @ETLSourceID
			AND ISNULL(Salesperson, '''') <> ''''
		)
		INSERT INTO [dbo].[Salesperson]
			([Id]
			,[SalespersonNumber]
			,[Name]
			,[SalesClass]
			,[Code]
			,[ReferenceNumber]
			,[IsOutsideRep]
			,[SalesPeriodToDate]
			,[SalesYearToDate]
			,[Email]
			,[Phone1]
			,[Phone2]
			,[Title]
			,[ParentId]
			,[UserProfileId]
			,[ImagePath]
			,[Description]
			,[MinMarginAllowed]
			,[MaxDiscountPercent]
			,[SalesManagerId]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy])
			SELECT DISTINCT
			ISNULL(S.Id, NEWID()) Id,
			SP.SalesPersonId SalespersonNumber,				-- This is what we''re joining on
			ISNULL(S.Name, SP.SalesPersonId)  Name,
			ISNULL(S.SalesClass, '''') SalesClass,
			ISNULL(S.Code, '''') Code,
			ISNULL(S.ReferenceNumber, '''') ReferenceNumber,
			ISNULL(S.IsOutsideRep, 0) IsOutsideSalesRep,
			ISNULL(S.SalesPeriodToDate, 0) SalesPeriodToDate,
			ISNULL(S.SalesYearToDate, 0) SalesYearToDate,
			ISNULL(S.Email, '''') Email,
			ISNULL(SP2.Phone1, ISNULL(S.Phone1,'''')) Phone1,
			ISNULL(S.Phone2, '''') Phone2,
			ISNULL(S.Title, '''') Title,
			ISNULL(S.ParentId, NULL) ParentId,
			NULL UserProfileId,
			ISNULL(S.ImagePath, '''') ImagePath,
			ISNULL(S.Description, '''') Description,
			ISNULL(S.MinMarginAllowed, 0) MinMarginAllowed,
			ISNULL(S.MaxDiscountPercent, 0) MaxDiscountPercent,
			ISNULL(S.SalesManagerId, NULL) SalesManagerId,
			GETDATE() [CreatedOn],
			@UserName [CreatedBy],
			GETDATE() [ModifiedOn],
			@UserName [ModifiedBy]
		FROM @SalesPerson SP
		LEFT JOIN @TempSalesperson SP2 ON SP2.SalesPersonID = SP.SalesPersonId
		--JOIN UserProfile UP /* not Insite.UserProfile */
		--				ON UP.UserName = SP.SalesPersonId
		LEFT JOIN SalesPerson S ON S.SalespersonNumber = SP.SalesPersonId

		--********************************************************************************************************************
		/* Check for existing IDs*/
		UPDATE New 
		   SET New.ID = Existing.ID
		  FROM SalesPerson New (NOLOCK)
	INNER JOIN [Insite.Morsco]..SalesPerson Existing (NOLOCK)
	        ON New.SalesPersonNumber = Existing.SalesPersonNumber
		--********************************************************************************************************************

		--********************************************************************************************************************
		-- Add Bill-to-Customers
		--********************************************************************************************************************

		;WITH Unique_BillToCustomer AS
		(
			SELECT ROW_NUMBER() OVER(PARTITION BY CustomerNo, BillToCustomerId Order By CustomerNo) AS DUPROW
				, C.*,W.ShipSite, W.Id DefaultWarehouseId
				FROM [dbo].[vw_QualifyingCustomers] C
				LEFT JOIN Warehouse W ON W.ShipSite = C.HomeBranchID
				WHERE C.IsBillTo = 1 
				AND C.ETLSourceId = @EtlSourceId
		)

		INSERT INTO [dbo].[Customer]
			([Id]
			,[ParentId]
			,[CustomerNumber]
			,[CustomerSequence]
			,[CustomerType]
			,[CompanyName]
			,[ContactFullName]
			,[FirstName]
			,[MiddleName]
			,[LastName]
			,[Phone]
			,[Fax]
			,[TermsCode]
			,[ShipCode]
			,[BankCode]
			,[TaxCode1]
			,[TaxCode2]
			,[PriceCode]
			,[CurrencyCode]
			,[EndUserType]
			,[ShipSite]
			,[ShipEarly]
			,[ShipPartial]
			,[Address1]
			,[Address2]
			,[Address3]
			,[Address4]
			,[City]
			,[State]
			,[PostalCode]
			,[Country]
			,[CreditHold]
			,[CreditLimit]
			,[Email]
			,[Distance]
			,[DiscountPercent]
			,[SendEmail]
			,[LogoImagePath]
			,[IsActive]
			,[AllowDropShip]
			,[DropShipFeeRequired]
			,[IsDropShip]
			,[StateId]
			,[CountryId]
			,[IsGuest]
			,[ERPNumber]
			,[Territory]
			,[CustomLandingPage]
			,[BudgetEnforcementLevel]
			,[CostCodeDescription]
			,[DefaultCostCode]
			,[IgnoreProductRestrictions]
			,[ERPSequence]
			,[PricingCustomerId]
			,[ModifedOn]
			,[CurrencyId]
			,[PrimarySalespersonId]
			,[IsBillTo]
			,[IsShipTo]
			,[IsSoldTo]
			,[DefaultWarehouseId]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy]
			,RestrictAddressChange
			,WebsiteId)
		SELECT 
			ISNULL(C2.ID, NEWID())					[Id],
			ISNULL(C2.ParentId,NULL)				[ParentId],
			C.[CustomerNo]							[CustomerNumber],
			ISNULL(C2.CustomerSequence ,'''')			[CustomerSequence],
			ISNULL(C.CustomerGroup, '''')				[CustomerType],
			[dbo].[fn_ScrubData2](ISNULL(C.[CustomerName],''''))				[CompanyName],
			ISNULL(C2.ContactFullName, '''')			[ContactFullName],
			ISNULL(C2.FirstName, '''')				[FirstName],
			ISNULL(C2.MiddleName, '''')				[MiddleName],
			ISNULL(C2.LastName, '''')					[LastName],
			ISNULL(C.[PhoneNo],'''')					[Phone],
			ISNULL(C.[FaxNo],'''')					[Fax],
			ISNULL(C.[TermsCode],'''')					[TermsCode], 
			ISNULL(NULLIF(C.[ShipViaCode],''NULL''),'''') [ShipCode],
			ISNULL(C2.BankCode, '''')					[BankCode],
			ISNULL(C2.TaxCode1, '''')					[TaxCode1],
			ISNULL(C2.TaxCode1, '''')					[TaxCode2],
			ISNULL(C2.PriceCode, '''')				[PriceCode],
			''USD''									[CurrencyCode],
			ISNULL(C2.EndUserType, '''')				[EndUserType],
			COALESCE(C.ShipSite, @DefaultShipSite)	[ShipSite],           
			ISNULL(C2.ShipEarly, 1)					[ShipEarly],
			ISNULL(C2.ShipPartial, 1)				[ShipPartial],
			[dbo].[fn_ScrubData](ISNULL(C.[AddressLine1],''''))				[Address1],
			[dbo].[fn_ScrubData](ISNULL(C.[AddressLine2],''''))				[Address2],
			ISNULL(C2.Address3, '''')					[Address3],
			ISNULL(C2.Address4, '''')					[Address4],
			ISNULL(C.[City], '''')					[City],
			ISNULL(C.[State], '''')					[State],
			ISNULL(C.[Zip], '''')						[PostalCode],
			ISNULL(C2.Country, ''USA'')				[Country],
			COALESCE(C2.CreditHold, NULLIF(C.CreditHold, ''NULL''), 0) [CreditHold],
			ISNULL(C.CreditLimit, 0)				[CreditLimit],
			ISNULL(C.[Email], '''')					[Email],
			ISNULL(C2.Distance, 0)					[Distance],
			ISNULL(C2.DiscountPercent, 0)			[DiscountPercent],
			ISNULL(C2.SendEmail, 1)					[SendEmail],
			ISNULL(C2.LogoImagePath, '''')			[LogoImagePath],
			ISNULL(C2.IsActive, 1)					[IsActive],
			ISNULL(C2.AllowDropShip, 0)				[AllowDropShip],
			ISNULL(C2.DropShipFeeRequired, 0)		[DropShipFeeRequired],
			ISNULL(C2.IsDropShip, 0)				[IsDropShip],
			S.ID									[StateId],
			@CountryId								[CountryId],
			ISNULL(C2.IsGuest, 0)					[IsGuest],
			C.[CustomerNo]							[ERPNumber],
			ISNULL(C.[Territory], '''')				[Territory],
			ISNULL(C2.CustomLandingPage, '''')		[CustomLandingPage],
			ISNULL(C2.BudgetEnforcementLevel, ''10000'')	[BudgetEnforcementLevel],
			ISNULL(C2.CostCodeDescription, '''')		[CostCodeDescription],
			ISNULL(C2.DefaultCostCode, '''')			[DefaultCostCode],
			ISNULL(C2.IgnoreProductRestrictions, 0)	[IgnoreProductRestrictions],
			ISNULL(C2.ErpSequence, '''')				[ERPSequence],
			ISNULL(C2.PricingCustomerId, null)		[PricingCustomerId],
			ISNULL(C2.ModifedOn, GETDATE())			[ModifedOn],
			ISNULL(C2.CurrencyId, @CurrencyId)		[CurrencyId],
			ISNULL(C2.PrimarySalesPersonId, SP.ID)	[PrimarySalespersonId],
			C.IsBillTo								[IsBillTo],
			C.IsShipTo								[IsShipTo],
			ISNULL(C2.IsSoldTo, 0)					[IsSoldTo],
			COALESCE(C.DefaultWarehouseId, @DefaultWarehouseId)		[DefaultWarehouseId],
			ISNULL(C2.CreatedOn, GETDATE())			[CreatedOn],
			ISNULL(C2.CreatedBy, @UserName)			[CreatedBy],
			ISNULL(C2.ModifiedOn, GETDATE())		[ModifiedOn],
			ISNULL(C2.ModifiedBy, @UserName)		[ModifiedBy],
			C.RestrictAddressChange					RestrictAddressChange,
			EWS.WebSiteId							--WebSiteId
		FROM Unique_BillToCustomer C
		LEFT JOIN [Insite.Morsco].dbo.Customer C2 (NOLOCK) ON C2.CustomerNumber = C.CustomerNo
			                                                    AND C2.CustomerSequence IS NULL
		LEFT JOIN [Insite.Morsco].dbo.State S (NOLOCK) ON S.Abbreviation = C.State OR S.Name = C.State
		LEFT JOIN SalesPerson SP (NOLOCK) ON SP.SalesPersonNumber = C.Salesperson
		LEFT JOIN WebSiteEtlSource EWS ON C.ETLSourceID = EWS.ETLSourceID
		WHERE C.DUPROW = 1

		--********************************************************************************************************************
		-- Add SHIP-to-Customers
		--********************************************************************************************************************
		;WITH Unique_ShipToCustomer AS
		(
			SELECT ROW_NUMBER() OVER(PARTITION BY BillToCustomerId , CustomerNo Order By BillToCustomerId, CustomerNo) AS DUPROW
				, C.*,W.ShipSite, W.Id DefaultWarehouseId
			FROM [dbo].[vw_QualifyingCustomers] C
			LEFT JOIN Warehouse W ON W.ShipSite = C.HomeBranchID
			WHERE C.IsBillTo = 0 
				AND C.ETLSourceId = @EtlSourceId
		),
		Unique_BillToCustomer AS
		(
			SELECT ROW_NUMBER() OVER(PARTITION BY CustomerNo, BillToCustomerId Order By CustomerNo) AS DUPROW
				, C.*,W.ShipSite, W.Id DefaultWarehouseId
			FROM [dbo].[vw_QualifyingCustomers] C
			LEFT JOIN Warehouse W ON W.ShipSite = C.HomeBranchID
			WHERE C.IsBillTo = 1 
				AND C.ETLSourceId = @EtlSourceId
		)

		INSERT INTO [dbo].[Customer]
			([Id]
			,[ParentId]
			,[CustomerNumber]
			,[CustomerSequence]
			,[CustomerType]
			,[CompanyName]
			,[ContactFullName]
			,[FirstName]
			,[MiddleName]
			,[LastName]
			,[Phone]
			,[Fax]
			,[TermsCode]
			,[ShipCode]
			,[BankCode]
			,[TaxCode1]
			,[TaxCode2]
			,[PriceCode]
			,[CurrencyCode]
			,[EndUserType]
			,[ShipSite]
			,[ShipEarly]
			,[ShipPartial]
			,[Address1]
			,[Address2]
			,[Address3]
			,[Address4]
			,[City]
			,[State]
			,[PostalCode]
			,[Country]
			,[CreditHold]
			,[CreditLimit]
			,[Email]
			,[Distance]
			,[DiscountPercent]
			,[SendEmail]
			,[LogoImagePath]
			,[IsActive]
			,[AllowDropShip]
			,[DropShipFeeRequired]
			,[IsDropShip]
			,[StateId]
			,[CountryId]
			,[IsGuest]
			,[ERPNumber]
			,[Territory]
			,[CustomLandingPage]
			,[BudgetEnforcementLevel]
			,[CostCodeDescription]
			,[DefaultCostCode]
			,[IgnoreProductRestrictions]
			,[ERPSequence]
			,[PricingCustomerId]
			,[ModifedOn]
			,[CurrencyId]
			,[PrimarySalespersonId]
			,[IsBillTo]
			,[IsShipTo]
			,[IsSoldTo]
			,[DefaultWarehouseId]
			,[CreatedOn]
			,[CreatedBy]
			,[ModifiedOn]
			,[ModifiedBy]
			,RestrictAddressChange
			,WebsiteId)
		SELECT  
			ISNULL(C2.ID, NEWID())					[Id],
			NULL									[ParentId],                        
			C.[BillToCustomerId]					[CustomerNumber],		-- Use the customerno for the parent
			C.[CustomerNo]							[CustomerSequence],		-- Use this row''s customerno
			ISNULL(C.CustomerGroup, '''')				[CustomerType],
			[dbo].[fn_ScrubData](ISNULL(C.[CustomerName],''''))				[CompanyName],
			ISNULL(C2.ContactFullName, '''')			[ContactFullName],
			ISNULL(C2.FirstName, '''')				[FirstName],
			ISNULL(C2.MiddleName, '''')				[MiddleName],
			ISNULL(C2.LastName, '''')					[LastName],
			COALESCE(C.[PhoneNo],BT.[PhoneNo],'''')					[Phone],
			COALESCE(C.[FaxNo],BT.[FaxNo],'''')					[Fax],
			ISNULL(C.[TermsCode],'''')				[TermsCode],
			ISNULL(NULLIF(C.[ShipViaCode],''NULL''),'''') [ShipCode],
			ISNULL(C2.BankCode, '''')					[BankCode],
			ISNULL(C2.TaxCode1, '''')					[TaxCode1],
			ISNULL(C2.TaxCode1, '''')					[TaxCode2],
			ISNULL(C2.PriceCode, '''')				[PriceCode],
			''USD''									[CurrencyCode],
			ISNULL(C2.EndUserType, '''')				[EndUserType],
			COALESCE(C.ShipSite, BT.ShipSite, @DefaultShipSite)	[ShipSite],          
			ISNULL(C2.ShipEarly, 1)					[ShipEarly],
			ISNULL(C2.ShipPartial, 1)				[ShipPartial],
			[dbo].[fn_ScrubData](ISNULL(C.[AddressLine1],''''))				[Address1],
			[dbo].[fn_ScrubData](ISNULL(C.[AddressLine2],''''))				[Address2],
			ISNULL(C2.Address3, '''')					[Address3],
			ISNULL(C2.Address4, '''')					[Address4],
			ISNULL(C.[City], '''')					[City],
			ISNULL(C.[State], '''')					[State],
			ISNULL(C.[Zip], '''')						[PostalCode],
			ISNULL(C2.Country, ''USA'')				[Country],
			COALESCE(C2.CreditHold, NULLIF(C.CreditHold, ''NULL''), 0) [CreditHold],
			ISNULL(C.CreditLimit, 0)				[CreditLimit],
			ISNULL(C.[Email], '''')					[Email],
			ISNULL(C2.Distance, 0)					[Distance],
			ISNULL(C2.DiscountPercent, 0)			[DiscountPercent],
			ISNULL(C2.SendEmail, 1)					[SendEmail],
			ISNULL(C2.LogoImagePath, '''')			[LogoImagePath],
			ISNULL(C2.IsActive, 1)					[IsActive],
			ISNULL(C2.AllowDropShip, 0)				[AllowDropShip],
			ISNULL(C2.DropShipFeeRequired, 0)		[DropShipFeeRequired],
			ISNULL(C2.IsDropShip, 0)				[IsDropShip],
			S.ID									[StateId],
			@CountryId								[CountryId],
			ISNULL(C2.IsGuest, 0)					[IsGuest],
			C.[CustomerNo]							[ERPNumber],
			ISNULL(C.[Territory], '''')				[Territory],
			ISNULL(C2.CustomLandingPage, '''')		[CustomLandingPage],
			ISNULL(C2.BudgetEnforcementLevel, ''10000'')	[BudgetEnforcementLevel],
			ISNULL(C2.CostCodeDescription, '''')		[CostCodeDescription],
			ISNULL(C2.DefaultCostCode, '''')			[DefaultCostCode],
			ISNULL(C2.IgnoreProductRestrictions, 0)	[IgnoreProductRestrictions],
			ISNULL(C2.ErpSequence, '''')				[ERPSequence],
			ISNULL(C2.PricingCustomerId, null)		[PricingCustomerId],
			ISNULL(C2.ModifedOn, GETDATE())			[ModifedOn],
			ISNULL(C2.CurrencyId, @CurrencyId)		[CurrencyId],
			ISNULL(C2.PrimarySalesPersonId, SP.ID)	[PrimarySalespersonId],
			C.IsBillTo								[IsBillTo],
			C.IsShipTo								[IsShipTo],
			ISNULL(C2.IsSoldTo, 0)					[IsSoldTo],
			COALESCE(C.DefaultWarehouseId,BT.DefaultWarehouseId, @DefaultWarehouseId)		[DefaultWarehouseId],
			ISNULL(C2.CreatedOn, GETDATE())			[CreatedOn],
			ISNULL(C2.CreatedBy, @UserName)			[CreatedBy],
			ISNULL(C2.ModifiedOn, GETDATE())		[ModifiedOn],
			ISNULL(C2.ModifiedBy, @UserName)		[ModifiedBy],
			C.RestrictAddressChange					RestrictAddressChange,
			EWS.WebSiteId							--WebSiteId
		FROM Unique_ShipToCustomer C 
		join Unique_BillToCustomer BT ON BT.CustomerNo = C.BillToCustomerID
		LEFT JOIN [Insite.Morsco].dbo.Customer C2 (NOLOCK) ON C2.CustomerNumber = C.BillToCustomerID  
																	AND C2.CustomerSequence = C.CustomerNo
		LEFT JOIN [Insite.Morsco].dbo.State S (NOLOCK) ON S.Abbreviation = C.State OR S.Name = C.State
		LEFT JOIN Salesperson SP (NOLOCK) ON SP.SalesPersonNumber = C.Salesperson
		LEFT JOIN WebSiteEtlSource EWS ON C.ETLSourceID = EWS.ETLSourceID
		WHERE C.DUPROW = 1 AND BT.DUPROW = 1
		-- Don''t create job acct if it''s the same as the parent

		--******************************************************************************************************************

		--********************************************************************************************************************
		/* Check for existing IDs*/
			UPDATE EC
			   SET EC.ID = IC.ID
			  FROM Customer EC
		INNER JOIN [Insite.Morsco].[dbo].[Customer] IC 
		        ON EC.[CustomerNumber] = IC.[CustomerNumber] 
			   AND EC.[CustomerSequence] = IC.[CustomerSequence]

		-- Updating Bill To Customer as Parent for the Ship to Customer (Part of Insite 4.2 Upgrade)
		UPDATE ST SET ST.ParentID = BT.ID
		FROM Customer BT
		JOIN Customer ST on ST.CustomerNumber = BT.CustomerNumber
		WHERE BT.CustomerSequence = ''''
		AND ST.ParentID IS NULL  AND St.CustomerSequence <> ''''
		--********************************************************************************************************************

		--********************************************************************************************************************
		--Assign default carriers (Will Call & Ship My Items) to all customers
		--********************************************************************************************************************
			UPDATE ECR SET ID = ICR.ID 
			FROM Carrier ECR (NOLOCK)
			JOIN [Insite.Morsco]..Carrier ICR (NOLOCK) ON ECR.Name = ICR.Name


			TRUNCATE TABLE [dbo].[CustomerCarrier]

			-- Assigning Will Call and Deliver Carriers to the Customers
			INSERT CustomerCarrier 
			(CustomerId, CarrierId)
			SELECT C.ID CustomerId, CR.Id CarrierId 
			FROM Customer C (NOLOCK)
			CROSS JOIN Carrier CR (NOLOCK)
			WHERE CR.Description IN (''Will Call'',''Deliver'') 
				AND C.ID NOT IN (SELECT DISTINCT CustomerId 
								FROM [Insite.Morsco]..CustomerCarrier CC(NOLOCK)
								JOIN Carrier C ON CC.CarrierId = C.Id
								WHERE C.Description IN (''Will Call'',''Deliver''))


			--------------------------------------------------------------------------------------------------------------------
			--Create records for the Customer Products
			--------------------------------------------------------------------------------------------------------------------
			TRUNCATE TABLE [dbo].[CustomerProduct]

			;WITH Cust AS
			(
				SELECT
					CASE WHEN C.CustomerSequence = '''' OR C.CustomerSequence = C.CustomerNumber THEN C.CustomerNumber
					ELSE C.CustomerSequence
					END EclipseID,
					ID
				FROM Customer C
			)
			INSERT [dbo].[CustomerProduct]
				([Id]
				,[CustomerId]
				,[ProductId]
				,[Name]
				,[UnitOfMeasure]
				,[CreatedOn]
				,[CreatedBy]
				,[ModifiedOn]
				,[ModifiedBy])
			SELECT
				NEWID()
				,C.ID CustomerID
				,P.Id ProductID
				,MAX(i.CustomerPartNum) 
				,MAX(P.UnitOfMeasure) 
				,GETDATE()
				,@UserName
				,GETDATE()
				,@UserName
			FROM dm_ecommerce..EntityPNIds i
			JOIN Cust C0 on C0.EclipseID = i.EntityID
			JOIN Customer C on C.ID = C0.ID
			JOIN Product P ON P.ERPNumber = I.EclipsePartNum
			WHERE I.CustomerPartNum <> I.EclipsePartNum
					AND I.ETLSourceID = @ETLSourceId
			group by C.Id, P.Id

			--Update existing IDs
			UPDATE New SET Id = Existing.Id 
			FROM CustomerProduct New (NOLOCK)
			JOIN [Insite.Morsco]..CustomerProduct Existing (NOLOCK) ON New.ProductId = Existing.ProductId
																	AND New.CustomerId = Existing.CustomerId
			--------------------------------------------------------------------------------------------------------------------

			--*******************************************************************************************************************
			-- Creating custom properties for the ShipBranchOverride field 
			--*******************************************************************************************************************
			--TRUNCATE THE EXISTING RECORDS FOR Customer ShipBranchOverride CUSTOMER PROPERTY
		
				DELETE FROM [dbo].[CustomProperty]
				WHERE Name = ''ShipBranchOverride'';

				;WITH CTE AS
					(
						SELECT 
							CASE 
								WHEN C.IsBillTo = 1 THEN C.CustomerNo 
								ELSE C.BillToCustomerID 
							END CustomerNumber,
							CASE 
								WHEN C.IsBillTo = 1 THEN '''' 
								ELSE C.CustomerNo 
							END CustomerSequence,
							C.ShipBranchOverride,
							C.PriceBranchOverride
						FROM DM_Ecommerce..Customer C (NOLOCK)
						WHERE C.EtlSourceID = @ETLSourceID
					)
				INSERT INTO [dbo].[CustomProperty]
							([Id]
							,[ParentId]
							,[Name]
							,[Value]
							,[CreatedOn]
							,[CreatedBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,ParentTable)
				SELECT 
					NEWID() Id
					, C.Id [ParentId]
					, ''ShipBranchOverride'' Name
					,ShipBranchOverride Value
					, GetDate() CreatedOn
					, @UserName CreatedBy
					, GetDate() ModifiedOn
					, @UserName ModifiedBy
					,''Customer''
				FROM ETL_Ecommerce..Customer C 
				JOIN CTE ON CTE.CustomerNumber = C.CustomerNumber 
								AND CTE.CustomerSequence = C.CustomerSequence
				WHERE CTE.ShipBranchOverride IS NOT NULL;

			--*******************************************************************************************************************
			-- Creating custom properties for the PriceBranchOverride field 
			--*******************************************************************************************************************
			--TRUNCATE THE EXISTING RECORDS FOR Customer PriceBranchOverride CUSTOMER PROPERTY
				DELETE FROM [dbo].[CustomProperty]
				WHERE Name = ''PriceBranchOverride'';

				;WITH CTE AS
					(
						SELECT 
							CASE 
								WHEN C.IsBillTo = 1 THEN C.CustomerNo 
								ELSE C.BillToCustomerID 
							END CustomerNumber,
							CASE 
								WHEN C.IsBillTo = 1 THEN '''' 
								ELSE C.CustomerNo 
							END CustomerSequence,
							C.ShipBranchOverride,
							C.PriceBranchOverride
						FROM DM_Ecommerce..Customer C (NOLOCK)
						WHERE C.EtlSourceID = @ETLSourceID
					)
				INSERT INTO [dbo].[CustomProperty]
							([Id]
							,[ParentId]
							,[Name]
							,[Value]
							,[CreatedOn]
							,[CreatedBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,ParentTable)
				SELECT 
					NEWID() Id
					, C.Id [ParentId]
					, ''PriceBranchOverride'' Name
					,PriceBranchOverride Value
					, GetDate() CreatedOn
					, @UserName CreatedBy
					, GetDate() ModifiedOn
					, @UserName ModifiedBy
					,''Customer''
				FROM ETL_Ecommerce..Customer C 
				JOIN CTE ON CTE.CustomerNumber = C.CustomerNumber 
								AND CTE.CustomerSequence = C.CustomerSequence
				WHERE CTE.PriceBranchOverride IS NOT NULL;

			--*******************************************************************************************************************
			-- Creating custom properties for the IsJobAccount field 
			--*******************************************************************************************************************
			--TRUNCATE THE EXISTING RECORDS FOR Customer IsJobAccount CUSTOMER PROPERTY
				DELETE FROM [dbo].[CustomProperty]
				WHERE Name = ''CanChangeAddress'';

				INSERT INTO [dbo].[CustomProperty]
							([Id]
							,[ParentId]
							,[Name]
							,[Value]
							,[CreatedOn]
							,[CreatedBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,ParentTable)
				SELECT NEWID() Id,
					C.Id [ParentId],
					''CanChangeAddress'' Name,
					''True'' Value,
					 GetDate() CreatedOn
					, @UserName CreatedBy
					, GetDate() ModifiedOn
					, @UserName ModifiedBy
					,''Customer''
				FROM [dbo].[vw_QualifyingCustomers] QC
				JOIN Customer C ON C.CustomerSequence = QC.CustomerNo 
								AND QC.IsBillTo = 0
				LEFT JOIN EtlTranslation T ON T.TranslationType = ''CorpFlagToAccountType'' 
											AND ISNULL(T.TargetValue, '''') = ISNULL(QC.CorpFlag,'''')
				WHERE QC.ETLSourceID = @ETLSourceID 
					AND COALESCE(T.TranslatedValue,QC.CorpFlag,'''') <> ''JobAccount''
					AND ISNULL(QC.RestrictAddressChange,'''') <> ''1''

				--TRUNCATE THE EXISTING RECORDS FOR Customer ShipBranchOverride CUSTOMER PROPERTY
				DELETE FROM [dbo].[CustomProperty]
				WHERE Name = ''IsShipTo'';

				INSERT INTO [dbo].[CustomProperty]
							([Id]
							,[ParentId]
							,[Name]
							,[Value]
							,[CreatedOn]
							,[CreatedBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,ParentTable)
				SELECT 
					NEWID() Id
					, EC.Id [ParentId]
					, ''IsShipTo'' Name
					,''True'' Value
					, GetDate() CreatedOn
					, @UserName CreatedBy
					, GetDate() ModifiedOn
					, @UserName ModifiedBy
					,''Customer''
				FROM ETL_ECommerce..Customer EC
				WHERE IsBillTo = 1 
					AND IsShipTo = 1

END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateInsiteCustomer]    Script Date: 8/5/2016 11:49:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_PopulateInsiteCustomer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_PopulateInsiteCustomer]
(
	
	@UserName VARCHAR(50)
)
AS
--*****************************************************************************************************************
-- Name:	sp_PopulateInsiteCustomer
-- Descr:	Executes all the Product data related stored procedures in ETL Database for the data population
-- Created:	7/24/2015 Venkatesan PS XCentium
-- Altered:
-- Test With: exec [sp_PopulateInsiteCustomer] ''EXP'', ''ServiceUser''
--*****************************************************************************************************************
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION

--=================================================================================================================================
--		User Profile Data Merge 
--=================================================================================================================================


		;MERGE [Insite.Morsco]..UserProfile AS Target
			USING
			(
				SELECT * FROM ETL_Ecommerce..UserProfile AS Source
			) AS Source
			ON Target.Id = Source.Id
		WHEN MATCHED AND 
			(
				Target.FirstName <> Source.FirstName
				OR Target.LastName <> Source.LastName
				OR Target.Company <> Source.Company
				OR Target.Phone <> Source.Phone
				OR Target.Extension <> Source.Extension
				OR Target.Fax <> Source.Fax
				OR Target.Position <> Source.Position
				OR Target.UserName <> Source.UserName
				OR Target.IsGuest <> Source.IsGuest
				OR Target.Email <> Source.Email
				OR ISNULL(Target.DefaultCustomerId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.DefaultCustomerId,''00000000-0000-0000-0000-000000000000'')
				OR ISNULL(Target.ApproverUserProfileId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.ApproverUserProfileId,''00000000-0000-0000-0000-000000000000'')
				OR Target.LimitExceededNotification <> Source.LimitExceededNotification
				OR Target.DashboardIsHomepage <> Source.DashboardIsHomepage
				OR ISNULL(Target.CurrencyId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.CurrencyId,''00000000-0000-0000-0000-000000000000'')
				OR Target.IsPasswordChangeRequired <> Source.IsPasswordChangeRequired
				OR ISNULL(Target.HasRfqUpdates,0) <> ISNULL(Source.HasRfqUpdates,0)
				OR ISNULL(Target.LanguageId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.LanguageId,''00000000-0000-0000-0000-000000000000'')
				OR Target.PasswordChangedOn <> Source.PasswordChangedOn
			) THEN
			UPDATE SET 
				Target.FirstName = Source.FirstName,
				Target.LastName = Source.LastName,
				Target.Company = Source.Company,
				Target.Phone = Source.Phone,
				Target.Extension = Source.Extension,
				Target.Fax = Source.Fax,
				Target.Position = Source.Position,
				Target.UserName = Source.UserName,
				Target.IsGuest = Source.IsGuest,
				Target.Email = Source.Email,
				Target.DefaultCustomerId = Source.DefaultCustomerId,
				Target.ApproverUserProfileId = Source.ApproverUserProfileId,
				Target.LimitExceededNotification = Source.LimitExceededNotification,
				Target.DashboardIsHomepage = Source.DashboardIsHomepage,
				Target.CurrencyId = Source.CurrencyId,
				Target.IsPasswordChangeRequired = Source.IsPasswordChangeRequired,
				Target.HasRfqUpdates = Source.HasRfqUpdates,
				Target.LanguageId = Source.LanguageId,
				Target.ModifiedOn = Source.ModifiedOn,
				Target.ModifiedBy = Source.ModifiedBy,
				Target.PasswordChangedOn = Source.PasswordChangedOn
			WHEN NOT MATCHED BY TARGET THEN
			INSERT 
				(
			      Id,
			      FirstName,
			      LastName,
			      Company,
			      Phone,
			      Extension,
			      Fax,
			      Position,
			      UserName,
			      IsGuest,
			      Email,
			      DefaultCustomerId,
			      ApproverUserProfileId,
			      LimitExceededNotification,
			      DashboardIsHomepage,
			      CurrencyId,
			      IsPasswordChangeRequired,
			      HasRfqUpdates,
			      LanguageId,
			      CreatedOn,
			      CreatedBy,
			      ModifiedOn,
			      ModifiedBy,
			      PasswordChangedOn				)
			VALUES
			(
			   Source.Id,
			   Source.FirstName,
			   Source.LastName,
			   Source.Company,
			   Source.Phone,
			   Source.Extension,
			   Source.Fax,
			   Source.Position,
			   Source.UserName,
			   Source.IsGuest,
			   Source.Email,
			   Source.DefaultCustomerId,
			   Source.ApproverUserProfileId,
			   Source.LimitExceededNotification,
			   Source.DashboardIsHomepage,
			   Source.CurrencyId,
			   Source.IsPasswordChangeRequired,
			   Source.HasRfqUpdates,
			   Source.LanguageId,
			   Source.CreatedOn,
			   Source.CreatedBy,
			   Source.ModifiedOn,
			   Source.ModifiedBy,
			   Source.PasswordChangedOn			)
		--WHEN NOT MATCHED BY Source THEN
			--DELETE
			--;

--=================================================================================================================================
--		Sales Person Data Merge 
--=================================================================================================================================
		;MERGE [Insite.Morsco]..SalesPerson AS Target
			USING
			(
				SELECT * FROM ETL_Ecommerce..SalesPerson AS Source
			) AS Source
			ON Target.Id = Source.Id
		WHEN MATCHED AND 
			(
				Target.SalespersonNumber <> Source.SalespersonNumber
				OR Target.Name <> Source.Name
				OR Target.SalesClass <> Source.SalesClass
				OR Target.Code <> Source.Code
				OR Target.ReferenceNumber <> Source.ReferenceNumber
				OR Target.IsOutsideRep <> Source.IsOutsideRep
				OR Target.SalesPeriodToDate <> Source.SalesPeriodToDate
				OR Target.SalesYearToDate <> Source.SalesYearToDate
				OR Target.Email <> Source.Email
				OR Target.Phone1 <> Source.Phone1
				OR Target.Phone2 <> Source.Phone2
				OR Target.Title <> Source.Title
				OR Target.ParentId <> Source.ParentId
				OR Target.UserProfileId <> Source.UserProfileId
				OR Target.ImagePath <> Source.ImagePath
				OR Target.Description <> Source.Description
				OR Target.MinMarginAllowed <> Source.MinMarginAllowed
				OR Target.MaxDiscountPercent <> Source.MaxDiscountPercent
				OR Target.SalesManagerId <> Source.SalesManagerId
			) THEN
			UPDATE SET 
				Target.SalespersonNumber = Source.SalespersonNumber,
				Target.Name = Source.Name,
				Target.SalesClass = Source.SalesClass,
				Target.Code = Source.Code,
				Target.ReferenceNumber = Source.ReferenceNumber,
				Target.IsOutsideRep = Source.IsOutsideRep,
				Target.SalesPeriodToDate = Source.SalesPeriodToDate,
				Target.SalesYearToDate = Source.SalesYearToDate,
				Target.Email = Source.Email,
				Target.Phone1 = Source.Phone1,
				Target.Phone2 = Source.Phone2,
				Target.Title = Source.Title,
				Target.ParentId = Source.ParentId,
				Target.UserProfileId = Source.UserProfileId,
				Target.ImagePath = Source.ImagePath,
				Target.Description = Source.Description,
				Target.MinMarginAllowed = Source.MinMarginAllowed,
				Target.MaxDiscountPercent = Source.MaxDiscountPercent,
				Target.SalesManagerId = Source.SalesManagerId,
				Target.ModifiedOn = Source.ModifiedOn,
				Target.ModifiedBy = Source.ModifiedBy
			WHEN NOT MATCHED BY TARGET THEN
			INSERT 
				(
			      Id,
			      SalespersonNumber,
			      Name,
			      SalesClass,
			      Code,
			      ReferenceNumber,
			      IsOutsideRep,
			      SalesPeriodToDate,
			      SalesYearToDate,
			      Email,
			      Phone1,
			      Phone2,
			      Title,
			      ParentId,
			      UserProfileId,
			      ImagePath,
			      Description,
			      MinMarginAllowed,
			      MaxDiscountPercent,
			      SalesManagerId,
			      CreatedOn,
			      CreatedBy,
			      ModifiedOn,
			      ModifiedBy				)
			VALUES
			(
			   Source.Id,
			   Source.SalespersonNumber,
			   Source.Name,
			   Source.SalesClass,
			   Source.Code,
			   Source.ReferenceNumber,
			   Source.IsOutsideRep,
			   Source.SalesPeriodToDate,
			   Source.SalesYearToDate,
			   Source.Email,
			   Source.Phone1,
			   Source.Phone2,
			   Source.Title,
			   Source.ParentId,
			   Source.UserProfileId,
			   Source.ImagePath,
			   Source.Description,
			   Source.MinMarginAllowed,
			   Source.MaxDiscountPercent,
			   Source.SalesManagerId,
			   Source.CreatedOn,
			   Source.CreatedBy,
			   Source.ModifiedOn,
			   Source.ModifiedBy			)
		--WHEN NOT MATCHED BY Source THEN
		--	DELETE;

--=================================================================================================================================
--		Customer table MERGE
--=================================================================================================================================
			;MERGE [Insite.Morsco]..Customer AS Target
			USING
			(
				SELECT * FROM ETL_Ecommerce..Customer AS Source
			) AS Source
			ON Target.Id = Source.Id
		WHEN MATCHED AND 
			(
				Target.ParentId <> Source.ParentId
				OR Target.CustomerNumber <> Source.CustomerNumber
				OR Target.CustomerSequence <> Source.CustomerSequence
				OR Target.CustomerType <> Source.CustomerType
				OR Target.CompanyName <> Source.CompanyName
				OR Target.ContactFullName <> Source.ContactFullName
				OR Target.FirstName <> Source.FirstName
				OR Target.MiddleName <> Source.MiddleName
				OR Target.LastName <> Source.LastName
				OR Target.Phone <> Source.Phone
				OR Target.Fax <> Source.Fax
				OR Target.TermsCode <> Source.TermsCode
				OR Target.ShipCode <> Source.ShipCode
				OR Target.BankCode <> Source.BankCode
				OR Target.TaxCode1 <> Source.TaxCode1
				OR Target.TaxCode2 <> Source.TaxCode2
				OR Target.PriceCode <> Source.PriceCode
				OR Target.CurrencyCode <> Source.CurrencyCode
				OR Target.EndUserType <> Source.EndUserType
				OR Target.ShipSite <> Source.ShipSite
				OR Target.ShipEarly <> Source.ShipEarly
				OR Target.ShipPartial <> Source.ShipPartial
				OR Target.Address1 <> Source.Address1
				OR Target.Address2 <> Source.Address2
				OR Target.Address3 <> Source.Address3
				OR Target.Address4 <> Source.Address4
				OR Target.City <> Source.City
				OR Target.State <> Source.State
				OR Target.PostalCode <> Source.PostalCode
				OR Target.Country <> Source.Country
				OR Target.CreditHold <> Source.CreditHold
				OR Target.CreditLimit <> Source.CreditLimit
				OR Target.Email <> Source.Email
				OR Target.Distance <> Source.Distance
				OR Target.DiscountPercent <> Source.DiscountPercent
				OR Target.SendEmail <> Source.SendEmail
				OR Target.LogoImagePath <> Source.LogoImagePath
				OR Target.IsActive <> Source.IsActive
				OR Target.AllowDropShip <> Source.AllowDropShip
				OR Target.DropShipFeeRequired <> Source.DropShipFeeRequired
				OR Target.IsDropShip <> Source.IsDropShip
				OR ISNULL(Target.StateId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.StateId,''00000000-0000-0000-0000-000000000000'')
				OR ISNULL(Target.CountryId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.CountryId,''00000000-0000-0000-0000-000000000000'')
				OR Target.IsGuest <> Source.IsGuest
				OR Target.ERPNumber <> Source.ERPNumber
				OR Target.Territory <> Source.Territory
				OR Target.CustomLandingPage <> Source.CustomLandingPage
				OR Target.BudgetEnforcementLevel <> Source.BudgetEnforcementLevel
				OR Target.CostCodeDescription <> Source.CostCodeDescription
				OR Target.DefaultCostCode <> Source.DefaultCostCode
				OR Target.IgnoreProductRestrictions <> Source.IgnoreProductRestrictions
				OR Target.ERPSequence <> Source.ERPSequence
				OR ISNULL(Target.PricingCustomerId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.PricingCustomerId,''00000000-0000-0000-0000-000000000000'')
				OR Target.CurrencyId <> Source.CurrencyId
				OR ISNULL(Target.PrimarySalespersonId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.PrimarySalespersonId,''00000000-0000-0000-0000-000000000000'')
				OR Target.IsBillTo <> Source.IsBillTo
				OR Target.IsShipTo <> Source.IsShipTo
				OR Target.IsSoldTo <> Source.IsSoldTo
				OR ISNULL(Target.DefaultWarehouseId,''00000000-0000-0000-0000-000000000000'') <> ISNULL(Source.DefaultWarehouseId,''00000000-0000-0000-0000-000000000000'')
				OR Target.DefaultWarehouseId <> Source.DefaultWarehouseId
			) THEN
			UPDATE SET 
				Target.ParentId = Source.ParentId,
				Target.CustomerNumber = Source.CustomerNumber,
				Target.CustomerSequence = Source.CustomerSequence,
				Target.CustomerType = Source.CustomerType,
				Target.CompanyName = Source.CompanyName,
				Target.ContactFullName = Source.ContactFullName,
				Target.FirstName = Source.FirstName,
				Target.MiddleName = Source.MiddleName,
				Target.LastName = Source.LastName,
				Target.Phone = Source.Phone,
				Target.Fax = Source.Fax,
				Target.TermsCode = Source.TermsCode,
				Target.ShipCode = Source.ShipCode,
				Target.BankCode = Source.BankCode,
				Target.TaxCode1 = Source.TaxCode1,
				Target.TaxCode2 = Source.TaxCode2,
				Target.PriceCode = Source.PriceCode,
				Target.CurrencyCode = Source.CurrencyCode,
				Target.EndUserType = Source.EndUserType,
				Target.ShipSite = Source.ShipSite,
				Target.ShipEarly = Source.ShipEarly,
				Target.ShipPartial = Source.ShipPartial,
				Target.Address1 = Source.Address1,
				Target.Address2 = Source.Address2,
				Target.Address3 = Source.Address3,
				Target.Address4 = Source.Address4,
				Target.City = Source.City,
				Target.State = Source.State,
				Target.PostalCode = Source.PostalCode,
				Target.Country = Source.Country,
				Target.CreditHold = Source.CreditHold,
				Target.CreditLimit = Source.CreditLimit,
				Target.Email = Source.Email,
				Target.Distance = Source.Distance,
				Target.DiscountPercent = Source.DiscountPercent,
				Target.SendEmail = Source.SendEmail,
				Target.LogoImagePath = Source.LogoImagePath,
				Target.IsActive = Source.IsActive,
				Target.AllowDropShip = Source.AllowDropShip,
				Target.DropShipFeeRequired = Source.DropShipFeeRequired,
				Target.IsDropShip = Source.IsDropShip,
				Target.StateId = Source.StateId,
				Target.CountryId = Source.CountryId,
				Target.IsGuest = Source.IsGuest,
				Target.ERPNumber = Source.ERPNumber,
				Target.Territory = Source.Territory,
				Target.CustomLandingPage = Source.CustomLandingPage,
				Target.BudgetEnforcementLevel = Source.BudgetEnforcementLevel,
				Target.CostCodeDescription = Source.CostCodeDescription,
				Target.DefaultCostCode = Source.DefaultCostCode,
				Target.IgnoreProductRestrictions = Source.IgnoreProductRestrictions,
				Target.ERPSequence = Source.ERPSequence,
				Target.PricingCustomerId = Source.PricingCustomerId,
				Target.ModifedOn = Source.ModifedOn,
				Target.CurrencyId = Source.CurrencyId,
				Target.PrimarySalespersonId = Source.PrimarySalespersonId,
				Target.IsBillTo = Source.IsBillTo,
				Target.IsShipTo = Source.IsShipTo,
				Target.IsSoldTo = Source.IsSoldTo,
				Target.DefaultWarehouseId = Source.DefaultWarehouseId,
				Target.ModifiedOn = Source.ModifiedOn,
				Target.ModifiedBy = Source.ModifiedBy
			WHEN NOT MATCHED BY TARGET THEN
			INSERT 
				(
			      Id,
			      ParentId,
			      CustomerNumber,
			      CustomerSequence,
			      CustomerType,
			      CompanyName,
			      ContactFullName,
			      FirstName,
			      MiddleName,
			      LastName,
			      Phone,
			      Fax,
			      TermsCode,
			      ShipCode,
			      BankCode,
			      TaxCode1,
			      TaxCode2,
			      PriceCode,
			      CurrencyCode,
			      EndUserType,
			      ShipSite,
			      ShipEarly,
			      ShipPartial,
			      Address1,
			      Address2,
			      Address3,
			      Address4,
			      City,
			      State,
			      PostalCode,
			      Country,
			      CreditHold,
			      CreditLimit,
			      Email,
			      Distance,
			      DiscountPercent,
			      SendEmail,
			      LogoImagePath,
			      IsActive,
			      AllowDropShip,
			      DropShipFeeRequired,
			      IsDropShip,
			      StateId,
			      CountryId,
			      IsGuest,
			      ERPNumber,
			      Territory,
			      CustomLandingPage,
			      BudgetEnforcementLevel,
			      CostCodeDescription,
			      DefaultCostCode,
			      IgnoreProductRestrictions,
			      ERPSequence,
			      PricingCustomerId,
			      ModifedOn,
			      CurrencyId,
			      PrimarySalespersonId,
			      IsBillTo,
			      IsShipTo,
			      IsSoldTo,
			      DefaultWarehouseId,
			      CreatedOn,
			      CreatedBy,
			      ModifiedOn,
			      ModifiedBy				)
			VALUES
			(
			   Source.Id,
			   Source.ParentId,
			   Source.CustomerNumber,
			   Source.CustomerSequence,
			   Source.CustomerType,
			   Source.CompanyName,
			   Source.ContactFullName,
			   Source.FirstName,
			   Source.MiddleName,
			   Source.LastName,
			   Source.Phone,
			   Source.Fax,
			   Source.TermsCode,
			   Source.ShipCode,
			   Source.BankCode,
			   Source.TaxCode1,
			   Source.TaxCode2,
			   Source.PriceCode,
			   Source.CurrencyCode,
			   Source.EndUserType,
			   Source.ShipSite,
			   Source.ShipEarly,
			   Source.ShipPartial,
			   Source.Address1,
			   Source.Address2,
			   Source.Address3,
			   Source.Address4,
			   Source.City,
			   Source.State,
			   Source.PostalCode,
			   Source.Country,
			   Source.CreditHold,
			   Source.CreditLimit,
			   Source.Email,
			   Source.Distance,
			   Source.DiscountPercent,
			   Source.SendEmail,
			   Source.LogoImagePath,
			   Source.IsActive,
			   Source.AllowDropShip,
			   Source.DropShipFeeRequired,
			   Source.IsDropShip,
			   Source.StateId,
			   Source.CountryId,
			   Source.IsGuest,
			   Source.ERPNumber,
			   Source.Territory,
			   Source.CustomLandingPage,
			   Source.BudgetEnforcementLevel,
			   Source.CostCodeDescription,
			   Source.DefaultCostCode,
			   Source.IgnoreProductRestrictions,
			   Source.ERPSequence,
			   Source.PricingCustomerId,
			   Source.ModifedOn,
			   Source.CurrencyId,
			   Source.PrimarySalespersonId,
			   Source.IsBillTo,
			   Source.IsShipTo,
			   Source.IsSoldTo,
			   Source.DefaultWarehouseId,
			   Source.CreatedOn,
			   Source.CreatedBy,
			   Source.ModifiedOn,
			   Source.ModifiedBy			
			  )
		WHEN NOT MATCHED BY Source AND Target.IsActive = 1 THEN
			UPDATE SET IsActive = 0, ModifiedOn = GetDate(), ModifiedBy = @UserName;


		--=================================================================================================================================
		--		CustomerCarrier table MERGE
		--=================================================================================================================================


		;MERGE [Insite.Morsco]..CustomerCarrier AS Target
		USING
		(
			SELECT * FROM ETL_Ecommerce..CustomerCarrier AS Source
		) AS Source
		ON Target.CustomerId = Source.CustomerId
			AND Target.CarrierId = Source.CarrierId
		WHEN NOT MATCHED BY TARGET THEN
		INSERT 
			(
			    CustomerId,
			    CarrierId				)
		VALUES
		(
			Source.CustomerId,
			Source.CarrierId			);

		--Merge CustomerProducts 
		;MERGE [Insite.Morsco]..CustomerProduct AS Target
			USING
			(
				SELECT * FROM CustomerProduct AS Source
			) AS Source
			ON Target.Id = Source.Id
		WHEN MATCHED AND 
			(
				Target.ProductId <> Source.ProductId
				OR Target.CustomerId <> Source.CustomerId
				OR Target.Name <> Source.Name
				OR Target.UnitOfMeasure <> Source.UnitOfMeasure
			) THEN
			UPDATE SET 
				Target.ProductId = Source.ProductId,
				Target.CustomerId = Source.CustomerId,
				Target.Name = Source.Name,
				Target.UnitOfMeasure = Source.UnitOfMeasure,
				Target.ModifiedOn = Source.ModifiedOn,
				Target.ModifiedBy = Source.ModifiedBy
			WHEN NOT MATCHED BY TARGET THEN
			INSERT 
				(
			      Id,
			      ProductId,
			      CustomerId,
			      Name,
			      UnitOfMeasure,
			      CreatedOn,
			      CreatedBy,
			      ModifiedOn,
			      ModifiedBy				)
			VALUES
			(
			   Source.Id,
			   Source.ProductId,
			   Source.CustomerId,
			   Source.Name,
			   Source.UnitOfMeasure,
			   Source.CreatedOn,
			   Source.CreatedBy,
			   Source.ModifiedOn,
			   Source.ModifiedBy			)
		WHEN NOT MATCHED BY Source THEN
			DELETE;
		
		COMMIT TRANSACTION
	END TRY
	BEGIN Catch
		PRINT ERROR_MESSAGE()
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION --RollBack in case of Error
		THROW;
	END Catch;



END




' 
END
GO
/****** Object:  Table [dbo].[CustomerProduct]    Script Date: 8/5/2016 11:49:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomerProduct]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CustomerProduct](
	[Id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_CustomerProduct_CustomerProductId]  DEFAULT (newsequentialid()),
	[CustomerId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_CustomerProduct_CustomerId]  DEFAULT (newid()),
	[ProductId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_CustomerProduct_ProductId]  DEFAULT (newid()),
	[Name] [nvarchar](50) NOT NULL CONSTRAINT [DF_CustomerProduct_Name]  DEFAULT (''),
	[UnitOfMeasure] [nvarchar](50) NOT NULL CONSTRAINT [DF_CustomerProduct_UnitOfMeasure]  DEFAULT (''),
	[CreatedOn] [datetimeoffset](7) NULL CONSTRAINT [DF_CustomerProduct_CreatedOn]  DEFAULT (getutcdate()),
	[CreatedBy] [nvarchar](100) NOT NULL CONSTRAINT [DF_CustomerProduct_CreatedBy]  DEFAULT (''),
	[ModifiedOn] [datetimeoffset](7) NULL CONSTRAINT [DF_CustomerProduct_ModifiedOn]  DEFAULT (getutcdate()),
	[ModifiedBy] [nvarchar](100) NOT NULL CONSTRAINT [DF_CustomerProduct_ModifiedBy]  DEFAULT (''),
 CONSTRAINT [PK_CustomerProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
