@*
    usage example:
    <isc-breadcrumb breadcrumbs="category.breadCrumbs" search-query="query"></isc-breadcrumb>

    breadcrumbs is a list of objects of type BreadCrumbModel
*@
<ul class="breadcrumbs" ng-class="{bsearch: searchQuery}">
    <li ng-repeat="crumb in breadcrumbs" ng-class="{'hide-for-small': (breadcrumbs.length - $index) != 2, 'current': $last}">
        <a id="{{'breadCrumbLink_' + $index}}" ng-if="crumb.url" href="{{crumb.url}}">{{crumb.text}}</a>
        <isc-no-element ng-show="!crumb.url">{{crumb.text}}</isc-no-element>
    </li>
    <li ng-if="searchQuery">
        <a id="breadCrumbHomePage" href="@(Url.ContentPage<HomePage>())">@T("Home")</a>
    </li>
    <li ng-if="searchQuery" class="hide-for-small current">
        @T("Search Results:")
        <em>{{searchQuery}}</em>
    </li>
</ul>