@*
    usage example:
    <isc-product-name product="productDto"  no-link="true">
    </isc-product-name>
*@
<div>
    <div ng-if="!noLink" class="item-name"><a ng-href="{{product.productUri}}" ng-bind="product.shortDescription"></a></div>
    <div class="item-num">
        <span class="item-num-sku" ng-bind="product.erpNumber"></span>
        <span class="item-num-mfg" ng-if="product.manufacturerItem">@T("MFG #"): <span ng-bind="product.manufacturerItem"></span></span>            
        <span class="item-num-my" ng-if="product.customerName">@T("My Part #"): <span ng-bind="product.customerName"></span></span>
    </div>
</div>