@using Insite.Catalog.Content
@*
    example-usage:

    <isc-product-comparison-hopper></isc-product-comparison-hopper>

    Note:
    procutsToCompare is initialized as an empty array, no passing in of lists needed. Products are added or removed based on broadcasted events.
*@

<div class="compare-hopper" ng-show="vm.canShowCompareHopper()">
    <div class="compare-container">
        <div class="compare-item" ng-repeat="product in vm.productsToCompare">
            <a href="javascript:void(0);" class="compare-remove" ng-click="vm.clickRemove(product)">@T("Remove")</a><img ng-src="{{product.smallImagePath}}" alt="product.altText" />
            <div class="item-name">
                <a data-id="product.id" href="javascript:void(0);">{{product.shortDescription}}</a>
            </div>
        </div>
    </div>
    <div class="compare-tray">({{vm.productsToCompare.length}}) {{vm.productsToCompare.length > 1 ? 'Items' : 'Item'}}</div>
    <div class="compare-buttons">
        <a id="productComparisonHopperCompareButton" href="@(Url.ContentPage<ProductComparisonPage>())"><button class="btn primary btn-compare">@T("Compare")</button></a>
        <a id="productComparisonHopperClearAllButton" href="javascript:void(0);"><button class="btn tertiary btn-clear" ng-click="vm.removeAllProductsToCompare()">@T("Clear All")</button></a>
    </div>    
</div>