
.content-manager {
    .control-header {
        font-size: 1.4rem;
        font-weight: lighter;
    }

    hr {
        margin: 5px 0 10px 0;
    }

    .content-none {
        padding: 20px;
        border: 1px solid #D3D3D3;
        width: 100%;
    }



    .filter {
        .inline-label {
            margin-right: 40px;
            margin-bottom: 0;

            label {
                font-family: 'Proxima Nova Condensed';
                font-weight: bold;
                margin-bottom: 0;
                padding-right: 10px;
                line-height: 34px;
            }

            > select {
                flex-basis: auto;
            }
        }


        .title-bar {
            border: solid 1px $border-gray;
        }
    }



    .menu-group {
        display: inline-block;
        border: solid 1px #D3D3D3;
        border-width: 1px;
        width: 100%;
        clear: both;
        padding-top: 20px;

        .menu-bar {
            float: right;

            > li {
                flex: none;

                .menu-bar__primary-button {
                    background-color: $button-primary;
                    color: $white;

                    &:hover {
                        background: scale-color($button-primary, $lightness: -15%);
                        color: $white;
                    }

                    &[disabled], &.disabled {
                        background: $background-gray;
                        border: 1px solid $border-gray !important;
                        color: $type-disabled;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .revision-preview-title {
            font-size: 16px;
            padding: .5rem 1rem;
            line-height: 40px;
        }
    }

    .table-content table tr:last-child td {
        border-bottom: none;
    }
}

.content-manager-create-revision-modal {
    .ckeditor-container {
        width: 100%;
    }
}
