.loader-overlay, .table-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, .1);
}

.loader-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-52px 0 0 -26px;
    background-color: #fff;
    z-index: 10001;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    -webkit-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.2);
}

.loader {
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #ebebeb;
    border-right: 1.1em solid #ebebeb;
    border-bottom: 1.1em solid #ebebeb;
    border-left: 1.1em solid #77bc1f;
    transform: translateZ(0);
    animation: load8 .5s infinite linear;
    z-index: 1010;

    // future uses can be loader-full-page, and loader-inline
    &.loader-content-area {
        margin: 0 auto;
        top: 6px;
    }
}


.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
