.multiedit-pager {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;

    input {
        display: inline-block;
        width: 35px;
        margin: 0;
    }

    .icon { 
        font-size: 1.7rem;
    }
}


.list-pager {
    display: flex;
    align-items: center;
    margin-right: 15px;

    input {
        display: inline-block;
        width: 2.5rem;
        margin-bottom: 0;
        margin-right: 0.25rem;
        text-align: center;
    }

    .button.button-icon {
        margin: 0 7.5px;
        padding: 0;
    }
}
