@import "../_settings.scss";

$table-border-color: $border-gray !default;
$table-header-background: $background-gray !default;

$table-hover-background: $background-gray !default;
$table-selected-background: $background-green !default;
$table-sort-icon-color: $brand !default;

.table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        border-color: $table-border-color;
        border-style: solid;
        border-width: 1px;
        word-wrap: break-word;

        input[type="checkbox"] {
            cursor: pointer;
            vertical-align: middle;

            &[disabled] {
                cursor: not-allowed;
            }
        }
    }

    th {
        background: $table-header-background;
        font-family: $header-font-family;
        font-weight: bold;
        padding: 1rem;
    }

    td {
        padding: .75rem 1rem;
        .column-content {
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap;
        }
    }

    .column-header {
        position: relative;
    }

    .column-edit, .column-select {
        width: 55px;
        padding: 0;

        .button {
            margin: 0;
            padding: .5rem 1rem;
        }
    }

    tr {
        &:hover {
            background: $table-hover-background;
        }
    }
}

.table {
    .is-selected {
        background: $table-selected-background;
    }

    .is-actionable {
        cursor: pointer;
    }

    th.is-sorted-asc, th.is-sorted-desc, th.st-sort-ascent, th.st-sort-descent {
        .column-header:after {
            color: $table-sort-icon-color;
            font-family: 'Mobius';
            font-size: 24px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -9px;
        }
    }

    th.is-sorted-asc, th.st-sort-ascent {
        .column-header:after {
            content: "\e203";
        }
    }

    th.is-sorted-desc, th.st-sort-descent {
        .column-header:after {
            content: "\e201";
        }
    }

    tr.inactive {
        background: #F1F1F1;
    }
}

.table-header {
    background: $table-header-background;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 1px solid $table-border-color;

    table {
        table-layout: fixed;

        th {
            border-top: 0;
            border-bottom: 0;
        }
    }
}

.table-content {
    border-top: 1px solid $table-border-color;

    table {
        table-layout: fixed;

        td {
            border-top: 0;
        }
    }
}


.orderline .table tr {
    &:hover {
        background: none;
    }
}

.is-disabled {
    color: #bbbbbb;
    background-color: #fafafa;
}