
.no-border { border: none !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.small { width: 25% !important; }
.medium { width: 50% !important; }
.large { width: 100% !important; }