@using Insite.Cart.Content
<div class="cart-button">
    <a id="microCartLink" class="cart-link" href="@(Url.ContentPage<CartPage>())"><i class="fa fa-lg fa-shopping-cart"></i> <span ng-bind="cart.totalCountDisplay"></span></a> 
</div>