<div>
    <div id="popup-availability-shipping-tax" class="reveal-modal small popup-availability-shipping-tax" data-reveal data-reveal-init>
        <div class="modal-wrap">
            <h2>@T("Availability Terms")</h2>
            <div class="pop-content">

                <p>Delivery time estimates are based on real - time product availability and standard ground shipping. Product inventory is reserved during Checkout. Items that qualify will ship out same day if order is placed by 4:45 p.m. (Mon. - Fri., local time) from the nearest ExpressPipe location with inventory of this item.</p>

                <p><span class="instock">In Stock</span>: These items may be in stock in your zip code and may qualify to ship out same day if order is placed by 4:45 p.m.(Mon. - Fri., local time) from the nearest ExpressPipe location with inventory of this item. These items may or may not be available at a ExpressPipe branch near you for pick up. To check Branch availability, click on link Check Availability. You may change your order to pickup during checkout delivery and billing screens. Orders placed outside of these times may be subject to longer lead times. Items that exceed size and weight limits for standard ground shipping may also be subject to longer lead times. Real-time product availability will be verified again during checkout.</p>

                <p>Expected to arrive on date range: Delivery Estimate is based on standard ground shipping (faster shipping options are available during checkout). Some items may qualify for next day arrival, if that is the case you will receive your item(s) the next day.</p>

                <p><span class="instock">In Stock at Other Locations</span>: Delivery estimate based on partial quantity available for ship. The balance of the requested quantity will be shipped when balance of the quantity is replenished.</p>

                <p><span class="available">Available for Order</span>: Item is expected to ship from the supplier within the number of business days listed. Please add additional delivery time for shipping to your location.</p>

                <a class="close-reveal-modal">&#215;</a>

            </div>
        </div>
    </div>
</div>