<appSettings>
	<add key="IdentityServerUrl" value="https://localhost/identity"/>
  <add key="PublicOrigin" value="https://expresspipe.local.com" />
  <add key="WillCallCarrierId" value="0E5593BD-CE4C-4CFE-9378-A50F00DD3BE9"/>
  <add key="CustomerForNonLoggedInUser" value="144"/>
  <add key="FailOverDefaultWarehouse" value="12"/>

  <add key="Invoice_CSV_FileName" value="Invoices.csv"/>
  <add key="CreditCardReturnUrl" value="https://expresspipe.local.com/userfiles/_responseview.html"/>

  <!-- Only one of the following 2 settings can be true -->
  <add key="MSC_EnableAdmin" value="true" />
  <add key="MSC_EnableSwagger" value="false"/>
  
  <!--BillTrust-->
  <add key="BillTrust_Environment" value="production" />
  <add key="BillTrust_EncryptionKey" value="CA859FF328392972508E8F84"/>
  <add key="BillTrust_DeveloperGuid" value="2A3F9BC0-ACD4-C2E9-52A0-0000203C29FA"/>
  <add key="BillTrust_ClientGuid" value="398501D8-AA6D-A109-032E-000065E43023"/>

  <add key="BillTrust_ReceivePaperBill" value="false"/>
  <add key="BillTrust_EbillNotification" value="true"/>
  <add key="BillTrust_EmailACHConfirmation" value="false"/>
      
  <add key="BillTrust_SSOTestUrl" value="http://imweb.billtrust.com/SingleSignOn.php?BTDATA=" />
  <add key="BillTrust_SSOProductionUrl" value="https://secure.billtrust.com/SingleSignOn.php?BTDATA=" />
  
  <add key="BillTrust_TempInvoiceTestUrl" value="https://imweb.billtrust.com/morsco/ig/signin" />
  <add key="BillTrust_TempInvoiceProductionUrl" value="https://secure.billtrust.com/morsco/ig/signin" />

  <add key="BillTrust_InvoiceTestUrl" value="http://imweb.billtrust.com/xmlwebservices/webServiceDispatch.php" />
  <add key="BillTrust_InvoiceProductionUrl" value="https://secure.billtrust.com/xmlwebservices/webServiceDispatch.php" />
	
  <add key="BillTrust_DataTemplate" value="AN={0};EA={1};PB={2};EN={3};EC={4};UN={5};TS={6}" />
  <add key="EarliestBilltrustInvoices" value="2015-05-01" />
	<!-- / BillTrust-->
  
  <!-- Ponderosa -->
  <add key="Morsco.Ponderosa.Disabled" value="false" />
  <add key="Morsco.Ponderosa.ExceptionMessagesToReinit" value="No connection available from pool,Connection closed by server,Error writing to stream,Connection pool not initialized" />
  <add key="Morsco.Ponderosa.MethodAttempts" value="2" />
  <add key="Morsco.Ponderosa.SecondsBetweenResets" value="30" />
  <!-- End Ponderosa -->

</appSettings>