<connectionStrings>
	<add name="InSite.Commerce" connectionString="Server=.;Integrated Security=true;Initial Catalog=insite.morsco;" providerName="System.Data.SqlClient" />
  <add name="MorscoEmailService" connectionString="metadata=res://*/EmailService.EmailServiceModel.csdl|res://*/EmailService.EmailServiceModel.ssdl|res://*/EmailService.EmailServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Insite.Morsco.EmailService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="MorscoEmailServiceDatabase" connectionString="metadata=res://*/EmailService.MorscoEmailServiceDatabase.csdl|res://*/EmailService.MorscoEmailServiceDatabase.ssdl|res://*/EmailService.MorscoEmailServiceDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=insite.morsco.emailservice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="MorscoEmailService" connectionString="Server=.;Integrated Security=true;Initial Catalog=insite.morsco.emailservice;" providerName="System.Data.SqlClient" />-->
  <!--<add name="MorscoEmailService" connectionString="metadata=res://*/EmailService.EmailServiceModel.csdl|res://*/EmailService.EmailServiceModel.ssdl|res://*/EmailService.EmailServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Insite.Morsco.EmailService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>