@using Insite.WebFramework.Mvc.Extensions
<div ng-cloak>
    <isc-product-detail-view></isc-product-detail-view>
</div>


<script type="text/ng-template" id="/Directives/Catalog/ProductDetailView">
    @Html.ThemedPartial("/Views/Directives/Catalog/ProductDetailView.cshtml")
</script>

<script type="text/ng-template" id="/Directives/Catalog/TellAFriend">
    @Html.ThemedPartial("/Views/Directives/Catalog/TellAFriend.cshtml")
</script>

<script type="text/ng-template" id="/Directives/Catalog/CrossSellCarousel">
    @Html.ThemedPartial("/Views/Directives/Catalog/CrossSellCarousel.cshtml")
</script>