.filter-panel {
    padding: rem-calc(10);

    label {
    }

    input,
    select,
    .button {
        margin-bottom: 0;
    }
}

.search-panel {
    margin-bottom: $margin-double;
    
    .search-panel-head {
        position: relative;
        z-index: 10;
        margin: 0;
        padding: $padding-single $padding-double;
        border: 1px solid $lighter-gray;
        background-color: $link-color;
        color: #fff;
        font-weight: 500;

        &:after {
            @extend .fa;
            content: '\f067';
            margin-left: $margin-single;
        }
    }

    .search-panel-check {
        display: none;
    }
    
    .search-panel-content {
        max-height: 0;
        overflow: hidden;
        padding: 0 $padding-double;
        background-color: $lightest-gray;
        border: 1px solid white;

        -webkit-transition: max-height 0.5s, border 0.6s, padding 0.1s;
        -moz-transition: max-height 0.5s, border 0.6s, padding 0.1s;
        -ms-transition: max-height 0.5s, border 0.6s, padding 0.1s;
        -o-transition: max-height 0.5s, border 0.6s, padding 0.1s;
        transition: max-height 0.5s, border 0.6s, padding 0.1s;
    }

    .search-panel-check:checked ~ .search-panel-head {
        border-bottom: none;
        background-color: $lightest-gray;
        color: $darkest-gray;

        &:after {
            content: '\f068';
        }
    }

    .search-panel-check:checked ~ .search-panel-content {
        max-height: 1000px;
        margin-top: -1px;
        padding: $padding-double;
        border: 1px solid $lighter-gray;
        border-right: 2px solid $lighter-gray;
        border-bottom: 2px solid $lighter-gray;
        overflow:visible;
    }

}


.aging-panel {
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: $large-breakpoint){
        padding-left: $padding-single;
        padding-right: $padding-single;
    }

    .aging-totals,
    .aging-past-due {
    }

    .aging-totals,
    .aging-past-due,
    .aging-buttons {
        padding: $padding-double;
    }

    .aging-past-due {
        background-color: darken($lightest-gray,10%);
    }

    .aging-numbers {
        h4 {
            margin-bottom: 0;
        }

        a {
            font-size: 1.3em;
            font-weight: 400;
        }
        @media (max-width: $medium-breakpoint){
            h4 {
                display: inline-block;
                width: 50%;
            }
            a {
                display: inline-block;
                width: 48%;
                text-align: right;
            }
        }
        
    }

    .aging-buttons {
        .button {
            @media (min-width: $large-breakpoint){
                margin-top: 2.3em;
            }
            margin-bottom: 0;
        }
    }
}

.purchased-products-panel {
    label,
    input,
    .button {
        display:inline-block;
    }
    .button {
        vertical-align: top;
    }
    input {
        margin:0 .5rem;
        width:40%;
    }
}