input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
    // Doesn't look good
    //background-color: $lightest-gray !important;
    /*-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);*/

    border: 1px solid $light-gray;
    
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 0 0 rgba(0,0,0,0.1);
}

input[type="number"] {
    padding-right: 0;
}

// fix foundation
form .row .row.collapse input[type="radio"] {
      -webkit-border-bottom-right-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
}

input::-ms-clear {
    display: none;
}