.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
}


@keyframes loader {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes loader {
    to {-webkit-transform: rotate(360deg);}
}
 
.loader {
    min-width: 50px;
    min-height: 50px;
}
 
.loader:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}
 
.loader:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #03ade0;
    border-right: 2px solid transparent;
    animation: loader .6s linear infinite;
    -webkit-animation: loader .6s linear infinite;
}

.slideshow-wrapper {
    .preloader {

        &:before {}
    }
}

.cloak-loader {
    display: none;
}

[ng-cloak].cloak-loader {
    display: block !important;
    min-height: 100px;
    position: relative;
}