.panel {
    background-color: $lightest-blue;
    border: none;

    -webkit-box-shadow: inset -1px -1px 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -1px -1px 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset -1px -1px 0 2px rgba(0, 0, 0, 0.1);
}