.slide {
    position: relative;
    background-size: cover;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);

    .slide-content {
        position: absolute;
        padding: $padding-double;

        h2 {
            @media #{$medium-up} {
                font-size: 2.6em;
            }
            color: #fff;
            margin: 0;
        }

        .button {
            margin-bottom: 0;
        }
    }

    &.big-slide {
        min-height: 200px;

        @media (min-width: $small-breakpoint){
            min-height: 300px;
        }

        @media (min-width: $medium-breakpoint){
            min-height: 400px;
        }

        .slide-content {
            left: $margin-double;
            top: $margin-quadruple;
            padding: $padding-double;
            max-width: 70%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }

    &.small-slide {
        margin-top: $margin-single;
        min-height: 200px;

        @media #{$large-up} {
            margin-top: $margin-double;
        }

        .slide-content {
            bottom: 0;
            left: 0;
            padding: $padding-double;
            color: #fff;

            background-size: cover;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100;Neutral+Density */
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

            h2 {
                margin: 0;
                font-size: 1.7em;
            }

            p {
                margin: 0 0 $margin-single 0;
                font-size: 0.9em;
            }
        }
    }
}