.tile {
    margin-bottom: $margin-double;
    padding: $padding-double;

    &.slate {
        -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
        -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }
}