body {
    font-family: $font-family;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: auto;
}

h1 {
}

h2 {
    color: $darker-gray;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    font-weight: 600;
}

address {
    margin-bottom: $margin-double;
    font-style: normal;
}

.small {
    font-size: 0.8em;
    line-height: 1em;
}

.big {
    font-size: 1.3rem;
}

.strong,
strong,
b {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}