<a class="button button-icon" ng-disabled="entityListCtrl.areNoneSelected()" ng-click="entityListCtrl.areNoneSelected() || entityListCtrl.showDeleteConfirmation()" title="Delete">
    <i class="icon icon-delete"></i>
</a>