@model Breadcrumb

<div class="row hide-for-small-down">
    <div class="small-12 columns">
        <ul class="widget-breadcrumb breadcrumbs @Model.CssClass">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="hide-for-small current">
                <span>Registration</span>
            </li>
        </ul>
    </div>
</div>