body.checkout-addresses { }

.checkout-addresses .return-link {
	margin:1.5em 0;
	}

.checkout-addresses .checkout-head h1 {
	display:inline-block;
	margin-right:1em;
	}

.checkout-addresses .checkout-crumbs {
	display:inline-block;
	}

	.checkout-addresses .checkout-crumbs div {
		display:inline-block;
		margin-right:1em;
		}

		.checkout-addresses .checkout-crumbs .crumb-current {
			font-weight:bold;
			}

@media all and (max-width: 767px) {
	.checkout-addresses .checkout-crumbs > div:not(.crumb-current) {
		display: none;
	}
}

.checkout-addresses .btns .btn  {
	margin:1em 0;
	float:right;
	}

@media all and (max-width: 767px) {

	.checkout-addresses .btns .btn  {
		width:100%;
		}

	}

@media all and (min-width: 768px) {

.checkout-addresses h3 {
	margin-top:0;
	}

.checkout-addresses .ship-select {
	min-height:110px;
	display:inline-block;
	}

.checkout-addresses .bill-to {
	float:left;
	width:42%;
	padding-top:0 !important;
	padding-right:2em;
	}

.checkout-addresses .ship-to {
	float:left;
	width:42%;
	padding-top:0 !important;
	padding-left:2em;
	}

.checkout-addresses .newsletter-signup {
	margin:1em 0;
	}

.checkout-addresses .select-address div.custom {
	display:none !important;
	}

.checkout-addresses .required-msg {
	font-size:.875em;
	min-height:109px;
	margin-bottom:0;
	}

.checkout-addresses .same-as-billto {
	margin-bottom:.75em;
	}

.checkout-addresses .select-address {
	margin-bottom:1em;
	}

}
@media all and (min-width: 768px) {
    .ship-to .title, .bill-to .title {
        display: none;
    }
}