body.checkout-review-pay { }

.checkout-review-pay .review-pay-form:before,
.checkout-review-pay .review-pay-form:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.checkout-review-pay .review-pay-form:after {
    clear: both;
}

.checkout-review-pay .return-link {
	margin:1.5em 0;
	}

.checkout-review-pay .checkout-head h1 {
	display:inline-block;
	margin-right:1em;
	}

.checkout-review-pay h3 {
	padding-bottom:.5em;
	}

.checkout-review-pay .checkout-crumbs {
	display:inline-block;
	}

	.checkout-review-pay .checkout-crumbs div {
		display:inline-block;
		margin-right:1em;
		}

		.checkout-review-pay .checkout-crumbs .crumb-current {
			font-weight:bold;
			}


@media all and (max-width: 767px) {
	.checkout-review-pay .checkout-crumbs > div:not(.crumb-current) {
		display: none;
	}
}

.checkout-review-pay .bill-ship {
	margin-bottom:1.5em;
	}

.checkout-review-pay .order-bill-ship ul {
	list-style:none;
	margin:0;
	font-size:0.875em;
	line-height:1.5em;
	}

	.checkout-review-pay .order-bill-ship h4 {
		display:inline-block;
		margin-right:1em;
		margin-top:0;
		}

.checkout-review-pay .order-bill-ship .bill-info {
	float:left;
	margin-bottom:1em;
	}

.checkout-review-pay .order-bill-ship .ship-info {
	float:left;
	margin-bottom:1em;
	}

.promo-code span.field-validation-valid {
    padding: .5em 1em;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 600;
    background: rgb(218, 246, 230);
    color: #0FC65E;
    display: block;
    clear: both;
    font-size: 14px;
    margin-bottom: .25em;
    margin-top: .25em;
    border: 1px solid #0FC65E;
  }

@media all and (max-width: 767px) {
	.checkout-review-pay .order-bill-ship .bill-info {
		width:100%;
		}

	.checkout-review-pay .order-bill-ship .ship-info {
		width:100%;
		}
}

.checkout-review-pay .ship-method {
	margin-bottom:1em;
	}

.checkout-review-pay .payment-details {
	margin-bottom:1em;
	}

.checkout-review-pay .paypal {
	margin:.25em 0 1em 0;
	}


@media all and (min-width: 768px) {
	.checkout-review-pay .ship-method {
		float:left;
		margin-bottom:1em;
		width:40%;
		}

	.checkout-review-pay .payment-details {
		float:right;
		margin-bottom:1em;
		width:55%;
		}

	.checkout-review-pay .order-summary {
		float:left;
		clear:both;
		width:100%;
		}

	.checkout-review-pay .order-summary-2 {
		float:left;
		clear:both;
		width:100%;
		}
}

@media all and (min-width: 768px) and (max-width: 959px) {

	.checkout-review-pay .promo-code {
		font-size:.875rem;
		}

	.checkout-review-pay .promo-code input {
		width:150px;
		margin:0;
		display:inline-block;
		height:2.45em;
		margin-right:.5em;
		}

	.checkout-review-pay .promo-code {
		margin-top:1.5em;
		padding-top:1em;
		border-top:1px solid #d5d5d5;
		}

}

@media all and (min-width: 960px) {
	.checkout-review-pay .pmnt {
		float:left;
		width:60%;
		}

	.checkout-review-pay .promo-code {
		float:right;
		width:35%;
		margin-top:0;
		border-top:none;
		}

	.checkout-review-pay .promo-code .btn-apply {
		float:right;
		font-size:0.875em;
		}

}

	/* Clearfix */
	.checkout-review-pay .promo-code:before,
	.checkout-review-pay .promo-code:after {
		content: " ";
		display: table;}
	.checkout-review-pay .promo-code:after {
		clear: both;}



/* Cart Items */

.checkout-review-pay .cart-items {
	margin-bottom:1em;
	}

@media all and (max-width: 767px) {
.checkout-review-pay .cart-items {
	overflow:auto;
	max-height:320px;
	}
}

@media all and (min-width: 768px) {
.checkout-review-pay .order-summary-2 {
	float:right;
	margin-bottom:1em;
	width:55%;
	}
.checkout-review-pay .order-summary-2 .btns a.btn {
	float:right;
	margin-left:1em;
	margin-bottom:1em;
	}
}

/* Cart Items */

ul.cart-items {
	list-style:none;
	}

	@media all and (max-width: 767px) {
		ul.cart-items {
			border-top:1px solid #E0E0E0;
			}
		}

.item-list .item-details,
.item-list .item-code-notes {
	float:right;
	}

@media all and (min-width: 768px) {

.item-list .item-details div.price,
.item-list .item-details div.item-opt {
	display:inline-block;
	width:auto;
	line-height:1em;
	height:auto; }


.item-list .item-details,
.item-list .item-code-notes {
	padding-right:1em !important;
	}

}

.item-list .item-code-notes .cost-code,
.item-list .item-code-notes .item-notes {
	width:100%;
	margin-bottom:0.25em;
	}

	.item-list .item-code-notes .cost-code strong,
	.item-list .item-code-notes .item-notes strong {
		margin-right:0.5em;
		}

@media all and (max-width: 767px) {

	.checkout-review-pay .promo-code .btn  {
		width:100%;
		margin-bottom:1em;
		}

	.checkout-review-pay .btns .btn  {
		width:100%;
		margin-bottom:1em;
		}

	}

.checkout-review-pay .security-code label a {
	padding-left:1em;
	font-size:0.875em; }

.checkout-review-pay h3.hide-for-small {
	margin:0; }

@media all and (min-width: 768px) {
    .bill-ship, .ship-method, .payment-details, .order-summary {
        .title {
            display: none;
        }
    }
}
