/* Map Placeholder */	
.store-loc-map {
	position:relative;
	text-align:center;
	height:360px;
	background: #F4F4F4;
	overflow:hidden; }
/* END Map Placeholder */	

.store-locator h1.locate-head {
	padding-bottom:.25em;
	border-bottom:1px solid #ddd;
	margin-bottom:0;
	}
	
	.store-locator h1.locate-head:before { 
		font-family: 'good-oatmeal-v2';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size:32px;
		content: "\e615";
		padding-right:.25em;
		color:SlateGray;
		}

.store-search button.store-search span {
	font-size:1.2em;
	}
			
.store-search button.store-search i:before {
	content: "\e001";
	font-size:1.2em;
	line-height:1em;
	}

.store-search label h4 {
	margin-bottom:.5em;
	}	

.store-locator span.field-validation-error {
	margin-bottom:1em;
	}

@media all and (max-width: 767px) {
							
	.store-search .store-search-name h4 {
		margin-top:0;
		}
					
	.store-search button.store-search {
		width:100%;
		}
		
		.store-search button.store-search i:before,
		.store-search button.store-search span {
			margin-right:.5em;
			}

	}
	
@media all and (min-width: 768px) {
	
	.store-search label {
		cursor:default;
		}	
		
	.store-search .store-search-loc {
		width:55%;
		}	
		
	.store-search .store-search-name {
		width:45%;
		float:left !important;
		}	
			
		.store-search .store-search-name input {
			width:70%;
			display:inline-block;
			float:left;
			}
	
	@media all and (min-width: 920px) { 
		.store-search .store-search-loc {
			width:45%;
			}	
		}
	
	.store-search button.store-search {
		display:inline-block;
		float:left;
		margin-bottom:0;
		margin-left:.5em;
		padding:0.45em 1em;
		}
			
		.store-search button.store-search span {
			display:none;
			}
		
	.store-search input {
		height:2.5em;
		}
													
	}


/* Results List */

.store-loc-results {
	
	}
	
	.store-loc-results .results-count {
		float:left;
		width:100%;
		border-bottom:1px solid #ddd;
		height:45px;
		line-height:45px;
		}
		
		.store-loc-results .results-count > div {
			float:left;
			display:inline-block;
			}
			
		.store-loc-results .results-count .distance-unit {
			float:right;
			text-align:right;
			}
			
			.store-loc-results .results-count .distance-unit label {
				float:left;
				display:inline-block;
				margin-left:1.5em;
				}
			
			.store-loc-results .results-count .distance-unit input {
				margin-right:.25em;
				}
				
			@media all and (min-width: 920px) { 
			.store-loc-results .results-count .distance-unit {
				padding-right:1em;
				}						
			}
																
	.store-loc-results ul {
		list-style-type:none;
		margin:0;
		float:left;
		}
		
	.store-loc-results .sl-list li {
		position:relative;
		float:left;
		width:100%;
		margin:1em 0 0 0;
		padding-bottom:1em;
		border-bottom:1px solid #ddd;
		}
				
	.store-loc-results .result-num {
		position:absolute;
		top:0;
		left:0;
		font-weight:600;
		width:2.5em;
		color:DodgerBlue;
		}
		
	.store-loc-results .store-deetz {
		display:block;
		float:left;
		width:100%;
		padding-left:2.5em;
		}
					
		.store-loc-results .store-deetz .store-name {
			font-weight:700;
			line-height:1.4em;
			margin-bottom:.25em;
			}	
					
		.store-loc-results .store-deetz .store-addy {
			font-size:0.875em;
			line-height:1.5em;
			}	
		
		/* Hours Tooltip */
	
			.store-loc-results .store-hours {
				display:inline-block;
				position:relative;
				z-index:3;
				margin-right:1em;
				}
			
			.store-hours .f-dropdown.content {
				width:auto !important;
				padding:.25em;
				bottom: 2em !important;
				top: auto !important;
				left: -99999px;
				 }
					
				.store-hours .f-dropdown .tt-wrap {
					width:225px;
					padding:.5em 1em;
					font-size:0.875em;
					line-height:1.4em; }
			
			.store-hours .f-dropdown:before {
				border-color:white transparent transparent transparent !important;
				bottom: -12px !important;
				top:auto !important;
				border-top-style: solid;
				}
			
			.store-hours .f-dropdown:after {
				border-color:#cccccc transparent transparent transparent !important;
				bottom: -14px !important;
				top:auto !important;
				}
	
		.store-loc-results .store-deetz .store-links {
			width:100%;
			margin-top:.5em;
			}	
					
			.store-loc-results .store-deetz .store-distance {
				font-size:0.875em;
				line-height:1.75em;
				opacity:0.7;
				float:right;
				}	
			
		.store-loc-results .store-deetz .store-directions,
		.store-loc-results .store-deetz .store-www {
			margin-right:1em;
			}	
			
/* Results paging */

body [role="main"] .store-loc-results div.paginator-34 {
	margin-bottom:0; }
		
	.store-loc-results .paginator-34 ul,
	.store-loc-results .paginator-34 ul li.pagination {
		float:none; }

	
/* Large Screen */
		
@media all and (min-width: 1024px) { 
 
	.store-loc-map {
		width:68%;
		float:right;
		height:642px;
		}
		
	.store-loc-results {
		width:32%;
		float:left;
		}
			
		.store-loc-results .sl-list {
			max-height:549px;
			overflow-x:hidden;
			overflow-y:auto;
			width:100%;
			}
				
		.store-loc-results .store-deetz {
			padding-right:1em;
			padding-left:2em;
			}
					
	.store-loc-results .results-paging {
		border-top:1px solid #ddd;
		}
		
	.store-loc-results .results-count {
		height:35px;
		line-height:30px;
		}
		
	.store-deetz .store-hours,
	.store-deetz .store-directions,
	.store-deetz .store-www {
		font-size:0.875em;
		line-height:1.75em;
		}
							
}

/* Store Page */

.store-page .store-deetz {
	padding:0 2em 0 0;
	max-width:450px;
	}
	
.store-page .store-hours {
	margin-top:.5em;
	}
	
/* Result Pins */

.home-marker { 
	position:relative;
	z-index:1;
	font-family: 'good-oatmeal-v2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size:16px;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat; } 
	
	.home-marker:before { 
		position:relative;
		z-index:1;
		font-family: 'good-oatmeal-v2';
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		content: "\e615";
		font-size:1.5em;
		color:SlateGray;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
		text-shadow: 1px 1px 0 #fff; } 
		
	.store-page  .home-marker:before { 
		font-size:2.5em;
		color:DodgerBlue; }
	
	.home-marker:after { 
		position:absolute;
		z-index:0;
		bottom:0;
		left:50%;
		margin-left:-6px;
		margin-bottom:-1px;
		content:"";
		width: 12px; 
		height: 5px; 
		background: #000;
		opacity:0.3; 
		-moz-border-radius: 100px / 50px; 
		-webkit-border-radius: 100px / 50px; 
		border-radius: 100px / 50px; 
		}
				
		.store-page  .home-marker:after { 
			margin-left:-8px;
			margin-bottom:-3px;
			width: 16px; 
			height: 7px; 
			opacity:0.3; 
			}
			
.loc-marker {
	display:inline-block; 
	position: relative;
	z-index:2;
	background: DodgerBlue; 
	border: 1px solid #fff;
	color:#fff;
	font-size:16px;
	font-weight:600;
	padding:2px .25em;
	min-width:30px;
	border-radius:3px;
	-webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2); 
	box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
	cursor:pointer; } 
	
	.loc-marker:hover, .loc-marker:focus { 
		background:#fff;
		color:DodgerBlue; }
		
		.loc-marker:hover:after, .loc-marker:focus:after { 
			border-top-color: #fff; }

	.loc-marker span:after { 
		position:absolute;
		z-index:0;
		bottom:0;
		left:50%;
		margin-left:-10px;
		margin-bottom:-7px;
		content:"";
		width: 20px;
		background: #000;
		opacity:0.45; 
		-moz-border-radius: 100px / 50px; 
		-webkit-border-radius: 100px / 50px; 
		border-radius: 100px / 50px; 
		-webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 1); 
		box-shadow:0 0 2px 1px rgba(0, 0, 0, 1);
		}
					
.loc-marker:after, .loc-marker:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;  } 
.loc-marker:after { border-color: rgba(126, 213, 94, 0); border-top-color: DodgerBlue; border-width: 5px; margin-left: -5px; }


/* Store Deetz Window */

.store-win {
	display:block;
	background:#fff;
	text-align:left;
	font-size:0.875em;
	line-height:1.4em;
	}
		
	.store-win .store-deetz {
		display:block;
		float:left;
		width:250px;
		padding:1em;
		}
					
		.store-win .store-deetz .store-name {
			font-weight:700;
			line-height:1.4em;
			margin-bottom:.25em;
			}	
					
		.store-win .store-deetz .store-addy {
			font-size:0.875em;
			line-height:1.5em;
			}	
		
		/* Hours Tooltip */
	
			.store-win .store-hours {
				display:inline-block;
				position:relative;
				z-index:3;
				margin-right:1em;
				}
			
		.store-win .store-deetz .store-links {
			width:100%;
			margin-top:.5em;
			}	
					
			.store-win .store-deetz .store-distance {
				font-size:0.875em;
				line-height:1.75em;
				opacity:0.7;
				float:right;
				}	
			
		.store-win .store-deetz .store-directions,
		.store-win .store-deetz .store-www {
			margin-right:1em;
			}

