@mixin kendo-notification-style( $background, $border-color, $content-color ) {
    border-color: $border-color;
    background-color: $background;
    box-shadow: none;
    color: $content-color;

    .button,
    a {
        color: $content-color;
        transition: border-color .15s ease, color .15s ease;

        &:hover {
            color: scale-color($content-color, $lightness: -15%);
        }
    }

    .button {
        background: #FFFFFF;
        border: 1px solid $content-color;
        margin: 0;
        padding: 0.5em 0.8em;

        &:hover {
            border-color: scale-color($content-color, $lightness: -15%);
            color: scale-color($content-color, $lightness: -15%);
        }
    }
}

.k-widget.k-notification {
    padding: .5rem;

    span, .icon {
        display: inline-block;
        padding: .4rem 0;
    }
    span { 
        padding-left: 10px; 
        max-width: 91%;
    }
    .icon:not(.icon-close) {
        vertical-align: top;
    }
    .icon-close {
        float: right;
        cursor: pointer;
        font-size: 1.25rem;
    }
}

.k-widget.k-notification.k-notification-success {
    @include kendo-notification-style($background-green, $brand-light, $brand);
}

.k-widget.k-notification.k-notification-error {
    @include kendo-notification-style($background-red, $error, $error);
}
