@using Insite.WebFramework.Mvc.Extensions
﻿<div id="apiErrorPopup" class="reveal-modal api-error-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <p>
            <span ng-bind="vm.errorMessage.message"></span>
        </p>
        <a id="errorPopupCloseButton" class="close-reveal-modal">&#215;</a>
    </div>
</div>